<ion-header>
    <ion-navbar>
        <ion-title>Email</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="banner">
        <img src="assets/imgs/ajustes/img_bannerajustes.svg" width="100%" height="100%" />
        <p class="titulo">AJUSTES</p>
        <p class="subtitulo">Modifica la configuración de tu campaña</p>
    </div>

    <div class="tarjeta">
        <ion-grid>
            <ion-row>
                <ion-col col-12>
                    <ion-card>
                        <div class="encabezado-horario primero">
                            <ion-grid>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-2>
                                        <ion-icon name="md-phone-portrait" class="iconos-w">
                                        </ion-icon>
                                    </ion-col>
                                    <ion-col col-8>
                                        <p class="encabezado-texto-grande">Proceso Comercial</p>
                                    </ion-col>
                                    <ion-col col-2>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                        <ion-card-content>
                            <ion-grid>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-12 class="preguntas">
                                        Distribución de tus ventas:
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-6 class="distribucion">
                                        Offline o Tradicional:&nbsp;
                                    </ion-col>
                                    <ion-col col-3>
                                        <input type="number" name="quantity" min="0" max="100"
                                            class="distribucion-porcentaje">
                                    </ion-col>
                                    <ion-col col-3 class="porcentaje">
                                        &nbsp;%
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-6 class="distribucion">
                                        Online o Digital:&nbsp;
                                    </ion-col>
                                    <ion-col col-3>
                                        <input type="number" name="quantity" min="0" max="100"
                                            class="distribucion-porcentaje">
                                    </ion-col>
                                    <ion-col col-3 class="porcentaje">
                                        &nbsp;%
                                    </ion-col>
                                </ion-row>

                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-12 class="preguntas">
                                        ¿Quién vende en tu empresa?
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-4>
                                        <button class="vende">Sólo dueño</button>
                                    </ion-col>
                                    <ion-col col-4>
                                        <button class="vende">Fuerza de Ventas</button>
                                    </ion-col>
                                    <ion-col col-4>
                                        <button class="vende">Ambos</button>
                                    </ion-col>
                                </ion-row>

                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-12 class="preguntas">
                                        ¿Cuántos vendedores?
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-2>

                                    </ion-col>
                                    <ion-col col-2>
                                        <input type="number">
                                    </ion-col>
                                    <ion-col col-2>

                                    </ion-col>
                                    <ion-col col-1 style="display: flex;
                                    justify-content: center;
                                    align-items: center;">
                                        <input type="radio" style="width: 70%;">
                                    </ion-col>
                                    <ion-col col-5 class="porcentaje">
                                        Telefónicos
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-6>
                                    </ion-col>
                                    <ion-col col-1 style="display: flex;
                                    justify-content: center;
                                    align-items: center;">
                                        <input type="radio" style="width: 70%;">
                                    </ion-col>
                                    <ion-col col-5 class="porcentaje">
                                        De Campo
                                    </ion-col>
                                </ion-row>

                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-12 class="preguntas">
                                        ¿Quién vende en tu empresa?
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-2>

                                    </ion-col>
                                    <ion-col col-4>
                                        <button class="vende">Si</button>
                                    </ion-col>
                                    <ion-col col-4>
                                        <button class="vende">No</button>
                                    </ion-col>
                                    <ion-col col-2>

                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-card>
                        <div class="encabezado-horario segundo">
                            <ion-grid>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-2>
                                        <ion-icon name="md-people" class="iconos-w">
                                        </ion-icon>
                                    </ion-col>
                                    <ion-col col-8>
                                        <p class="encabezado-texto-grande">Clientes Nuevos</p>
                                    </ion-col>
                                    <ion-col col-2>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                        <ion-card-content>
                            <ion-grid>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-12 class="preguntas">
                                        ¿Cómo obtienes clientes nuevos?
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-3>
                                        <button
                                            [ngClass]="{'boton-cobertura-brief-blanco':cobertura_empresa === 'Local','boton-cobertura-brief':cobertura_empresa !== 'Local'}"
                                            style="margin-right: 1%;" (click)="changeCobertura('Local')">
                                            <img *ngIf="cobertura_empresa !== 'Local'"
                                                src="assets/imgs/ajustes/ic_referidos.svg" class="referidos">
                                            <img *ngIf="cobertura_empresa === 'Local'"
                                                src="assets/imgs/brief/ic_referidos_selected.svg" class="referidos">
                                            <p class="texto-boton-brief">Recomendación <br>/ Referidos</p>
                                        </button>
                                    </ion-col>
                                    <ion-col col-3>
                                        <button
                                            [ngClass]="{'boton-cobertura-brief-blanco':cobertura_empresa === 'Local','boton-cobertura-brief':cobertura_empresa !== 'Local'}"
                                            style="margin-right: 1%;" (click)="changeCobertura('Local')">
                                            <img *ngIf="cobertura_empresa !== 'Local'"
                                                src="assets/imgs/ajustes/ic_prospecciontelefonica.svg"
                                                class="referidos">
                                            <img *ngIf="cobertura_empresa === 'Local'"
                                                src="assets/imgs/brief/ic_prospecciontelefonica_selected.svg"
                                                class="referidos">
                                            <p class="texto-boton-brief">Prospección Telefónica</p>
                                        </button>
                                    </ion-col>

                                    <ion-col col-3>
                                        <button
                                            [ngClass]="{'boton-cobertura-brief-blanco':cobertura_empresa === 'Local','boton-cobertura-brief':cobertura_empresa !== 'Local'}"
                                            style="margin-right: 1%;" (click)="changeCobertura('Local')">
                                            <img *ngIf="cobertura_empresa !== 'Local'"
                                                src="assets/imgs/ajustes/ic_cambaceo.svg" class="referidos">
                                            <img *ngIf="cobertura_empresa === 'Local'"
                                                src="assets/imgs/brief/ic_cambaceo_selected.svg" class="referidos">
                                            <p class="texto-boton-brief"><br>Cambaceo</p>
                                        </button>
                                    </ion-col>
                                    <ion-col col-3>
                                        <button
                                            [ngClass]="{'boton-cobertura-brief-blanco':cobertura_empresa === 'Local','boton-cobertura-brief':cobertura_empresa !== 'Local'}"
                                            style="margin-right: 1%;" (click)="changeCobertura('Local')">
                                            <img *ngIf="cobertura_empresa !== 'Local'"
                                                src="assets/imgs/ajustes/ic_publicidad.svg" class="referidos">
                                            <img *ngIf="cobertura_empresa === 'Local'"
                                                src="assets/imgs/brief/ic_publicidad_selected.svg" class="referidos">
                                            <p class="texto-boton-brief"><br>Publicidad</p>
                                        </button>
                                    </ion-col>
                                </ion-row>

                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-12 class="preguntas">
                                        ¿Qué tipo de publicidad?
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-3>

                                    </ion-col>
                                    <ion-col col-3>
                                        <button
                                            [ngClass]="{'boton-cobertura-brief-blanco':cobertura_empresa === 'Local','boton-cobertura-brief':cobertura_empresa !== 'Local'}"
                                            style="margin-right: 1%;" (click)="changeCobertura('Local')">
                                            <img *ngIf="cobertura_empresa !== 'Local'"
                                                src="assets/imgs/ajustes/ic_tradicional.svg" class="publicidad">
                                            <img *ngIf="cobertura_empresa === 'Local'"
                                                src="assets/imgs/brief/ic_tradicional_selected.svg" class="publicidad">
                                            <p class="texto-boton-brief">Tradicional</p>
                                        </button>
                                    </ion-col>

                                    <ion-col col-3>
                                        <button
                                            [ngClass]="{'boton-cobertura-brief-blanco':cobertura_empresa === 'Local','boton-cobertura-brief':cobertura_empresa !== 'Local'}"
                                            style="margin-right: 1%;" (click)="changeCobertura('Local')">
                                            <img *ngIf="cobertura_empresa !== 'Local'"
                                                src="assets/imgs/ajustes/ic_digital.svg">
                                            <img *ngIf="cobertura_empresa === 'Local'"
                                                src="assets/imgs/brief/ic_rdigital_selected.svg">
                                            <p class="texto-boton-brief">Digital</p>
                                        </button>
                                    </ion-col>
                                    <ion-col col-3>

                                    </ion-col>
                                </ion-row>

                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-12 class="preguntas">
                                        Específica que tipo de publicidad digital
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-3>
                                        <button
                                            [ngClass]="{'boton-cobertura-brief-blanco':cobertura_empresa === 'Local','boton-cobertura-brief':cobertura_empresa !== 'Local'}"
                                            style="margin-right: 1%;" (click)="changeCobertura('Local')">
                                            <img *ngIf="cobertura_empresa !== 'Local'"
                                                src="assets/imgs/ajustes/ic_facebook.svg" class="digital">
                                            <img *ngIf="cobertura_empresa === 'Local'"
                                                src="assets/imgs/brief/ic_facebook_selected.svg" class="digital">
                                            <p class="texto-boton-brief">Facebook</p>
                                        </button>
                                    </ion-col>
                                    <ion-col col-3>
                                        <button
                                            [ngClass]="{'boton-cobertura-brief-blanco':cobertura_empresa === 'Local','boton-cobertura-brief':cobertura_empresa !== 'Local'}"
                                            style="margin-right: 1%;" (click)="changeCobertura('Local')">
                                            <img *ngIf="cobertura_empresa !== 'Local'"
                                                src="assets/imgs/ajustes/ic_instagram.svg" class="digital">
                                            <img *ngIf="cobertura_empresa === 'Local'"
                                                src="assets/imgs/brief/ic_instagram_selected.svg" class="digital">
                                            <p class="texto-boton-brief">Instagram</p>
                                        </button>
                                    </ion-col>

                                    <ion-col col-3>
                                        <button
                                            [ngClass]="{'boton-cobertura-brief-blanco':cobertura_empresa === 'Local','boton-cobertura-brief':cobertura_empresa !== 'Local'}"
                                            style="margin-right: 1%;" (click)="changeCobertura('Local')">
                                            <img *ngIf="cobertura_empresa !== 'Local'"
                                                src="assets/imgs/ajustes/ic_google.svg" class="digital">
                                            <img *ngIf="cobertura_empresa === 'Local'"
                                                src="assets/imgs/brief/ic_google_selected.svg" class="digital">
                                            <p class="texto-boton-brief">Google</p>
                                        </button>
                                    </ion-col>
                                    <ion-col col-3>
                                        <button
                                            [ngClass]="{'boton-cobertura-brief-blanco':cobertura_empresa === 'Local','boton-cobertura-brief':cobertura_empresa !== 'Local'}"
                                            style="margin-right: 1%;" (click)="changeCobertura('Local')">
                                            <img *ngIf="cobertura_empresa !== 'Local'"
                                                src="assets/imgs/ajustes/ic_otros.svg" class="digital">
                                            <img *ngIf="cobertura_empresa === 'Local'"
                                                src="assets/imgs/brief/ic_otros_selected.svg" class="digital">
                                            <p class="texto-boton-brief">Otros</p>
                                        </button>
                                    </ion-col>
                                </ion-row>

                            </ion-grid>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-card>
                        <div class="encabezado-horario tercero">
                            <ion-grid>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-2>
                                        <ion-icon name="ios-chatbubbles" class="iconos-w">
                                        </ion-icon>
                                    </ion-col>
                                    <ion-col col-8>
                                        <p class="encabezado-texto-grande">Redes Sociales</p>
                                    </ion-col>
                                    <ion-col col-2>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                        <ion-card-content>
                            <ion-grid>
                                <ion-row>
                                    <ion-col col-12>
                                        <p class="contacto" colspan="2">Escribe o pega el URL de tus redes sociales</p>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-12>
                                        <p class="campos">Facebook</p>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-10>
                                        <div class="redsocial"
                                            [ngClass]="{'nocuento':facebook == 'No cuento con esta red'}">
                                            <div class="puntos">{{facebook}}</div>
                                        </div>
                                    </ion-col>
                                    <ion-col col-2>
                                        <img *ngIf="facebook !=='' && facebook !=='No cuento con esta red'"
                                            src="assets/imgs/ajustes/tengo.svg " class="cuento" />
                                        <img *ngIf="facebook === ''" src="assets/imgs/ajustes/tengo.svg" width="90%"
                                            (click)="changeTengo('facebook')" class="cuento" />
                                        <img *ngIf="facebook==='No cuento con esta red' "
                                            src="assets/imgs/ajustes/notengo.svg" class="cuento">
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-12>
                                        <p class="campos ">Instagram</p>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-10 class="social ">
                                        <div class="redsocial "
                                            [ngClass]="{ 'nocuento':instagram=='No cuento con esta red' } ">
                                            <div class="puntos">{{instagram}}</div>
                                        </div>
                                    </ion-col>
                                    <ion-col col-2>
                                        <img *ngIf="instagram !=='' && instagram !=='No cuento con esta red' "
                                            src="assets/imgs/ajustes/tengo.svg " class="cuento" />
                                        <img *ngIf="instagram === ''" src="assets/imgs/ajustes/tengo.svg"
                                            (click)="changeTengo('instagram')" />
                                        <img *ngIf="instagram==='No cuento con esta red' "
                                            src="assets/imgs/ajustes/notengo.svg " class="cuento">
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-12>
                                        <p class="campos">Twitter</p>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-10 class="social ">
                                        <div class="redsocial "
                                            [ngClass]="{ 'nocuento':twitter=='No cuento con esta red' } ">
                                            <div class="puntos">{{twitter}}</div>
                                        </div>
                                    </ion-col>
                                    <ion-col col-2>
                                        <img *ngIf="twitter !=='' && twitter !=='No cuento con esta red' "
                                            src="assets/imgs/ajustes/tengo.svg " class="cuento" />
                                        <img *ngIf="twitter === ''" src="assets/imgs/ajustes/tengo.svg" class="cuento"
                                            (click)="changeTengo('twitter')" />
                                        <img *ngIf="twitter==='No cuento con esta red' "
                                            src="assets/imgs/ajustes/notengo.svg " class="cuento">
                                    </ion-col>

                                </ion-row>
                                <ion-row>
                                    <ion-col col-12>
                                        <p class="campos ">LinkedIn</p>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-10 class="social ">
                                        <div class="redsocial "
                                            [ngClass]="{ 'nocuento':linkedIn=='No cuento con esta red' } ">
                                            <div class="puntos">{{linkedIn}}</div>
                                        </div>
                                    </ion-col>
                                    <ion-col col-2>
                                        <img *ngIf="linkedIn !=='' && linkedIn !=='No cuento con esta red' "
                                            src="assets/imgs/ajustes/tengo.svg " class="cuento" />
                                        <img *ngIf="linkedIn === ''" src="assets/imgs/ajustes/tengo.svg" class="cuento"
                                            (click)="changeTengo('linkedIn')" />

                                        <img *ngIf="linkedIn==='No cuento con esta red' "
                                            src="assets/imgs/ajustes/notengo.svg " class="cuento">
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-12>
                                        <p class="campos ">Web</p>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-10 class="social ">
                                        <div class="redsocial "
                                            [ngClass]="{ 'nocuento':web=='No cuento con esta red' } ">
                                            <div class="puntos">{{web}}</div>
                                        </div>
                                    </ion-col>
                                    <ion-col col-2>
                                        <img *ngIf="web !=='' && web !=='No cuento con esta red' "
                                            src="assets/imgs/ajustes/tengo.svg " class="cuento" />
                                        <img *ngIf="web === ''" src="assets/imgs/ajustes/tengo.svg" class="cuento"
                                            (click)="changeTengo('web')" />
                                        <img *ngIf="web==='No cuento con esta red' "
                                            src="assets/imgs/ajustes/notengo.svg " class="cuento">
                                    </ion-col>
                                </ion-row>

                            </ion-grid>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-card>
                        <div class="encabezado-horario cuarto">
                            <ion-grid>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-2>
                                        <ion-icon name="ios-chatbubbles" class="iconos-w">
                                        </ion-icon>
                                    </ion-col>
                                    <ion-col col-8>
                                        <p class="encabezado-texto-grande">Objetivo Campaña-CRM-BOT</p>
                                    </ion-col>
                                    <ion-col col-2>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                        <ion-card-content>
                            <ion-grid>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-12 class="preguntas" style="text-align: left">
                                        ¿Cuál es tu objetivo de Campaña - CRM - BOT?
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-2 style="display: flex;
                                    justify-content: center;
                                    align-items: center;">
                                        <input type="radio" style="width: 70%;">
                                    </ion-col>
                                    <ion-col col-10 class="porcentaje">
                                        a. Llamada Telefónica con Cliente
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-2 style="display: flex;
                                    justify-content: center;
                                    align-items: center;">
                                        <input type="radio" style="width: 70%;">
                                    </ion-col>
                                    <ion-col col-10 class="porcentaje">
                                        b. Agendar Cita en tu Punto de Venta / Oficina
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-2 style="display: flex;
                                    justify-content: center;
                                    align-items: center;">
                                        <input type="radio" style="width: 70%;">
                                    </ion-col>
                                    <ion-col col-10 class="porcentaje">
                                        c. Visitar al Cliente Potencial en su Domicilio
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-2 style="display: flex;
                                    justify-content: center;
                                    align-items: center;">
                                        <input type="radio" style="width: 70%;">
                                    </ion-col>
                                    <ion-col col-10 class="porcentaje">
                                        d. Enviar Cotización Directamente
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-12 class="preguntas-center">
                                        Para que Koomkin Bot trabajé y se alineé a dicho objetivo
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
<!--
<ion-content padding>
    <section *ngIf="vista == 'informacion'">
        <ion-row>
            <ion-col col-12>
                <p class="contacto" colspan="2">Escribe o pega el URL de tus redes sociales</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <p class="campos">Facebook</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-11>
                <div class="redsocial" [ngClass]="{'nocuento':facebook == 'No cuento con esta red'}">
                    <div class="puntos">{{facebook}}</div>
                </div>
            </ion-col>
            <ion-col col-1>
                <img *ngIf="facebook !=='' && facebook !=='No cuento con esta red' "
                    src="assets/imgs/ajustes/tengo.svg " class="cuento" />
                <img *ngIf="facebook === ''" src="assets/imgs/ajustes/tengo.svg" class="cuento"
                    (click)="changeTengo('facebook')" />
                <img *ngIf="facebook==='No cuento con esta red' " src="assets/imgs/ajustes/notengo.svg " width="90% "
                    style="margin: 15%; ">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <p class="campos ">Instagram</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-11 class="social ">
                <div class="redsocial " [ngClass]="{ 'nocuento':instagram=='No cuento con esta red' } ">
                    <div class="puntos">{{instagram}}</div>
                </div>
            </ion-col>
            <ion-col col-1>
                <img *ngIf="instagram !=='' && instagram !=='No cuento con esta red' "
                    src="assets/imgs/ajustes/tengo.svg " class="cuento" />
                <img *ngIf="instagram === ''" src="assets/imgs/ajustes/tengo.svg" class="cuento"
                    (click)="changeTengo('instagram')" />
                <img *ngIf="instagram==='No cuento con esta red' " src="assets/imgs/ajustes/notengo.svg " width="90% "
                    style="margin: 15%; ">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <p class="campos ">Twitter</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-11 class="social ">
                <div class="redsocial " [ngClass]="{ 'nocuento':twitter=='No cuento con esta red' } ">
                    <div class="puntos">{{twitter}}</div>
                </div>
            </ion-col>
            <ion-col col-1>
                <img *ngIf="twitter !=='' && twitter !=='No cuento con esta red' " src="assets/imgs/ajustes/tengo.svg "
                    class="cuento" />
                <img *ngIf="twitter === ''" src="assets/imgs/ajustes/tengo.svg" class="cuento"
                    (click)="changeTengo('twitter')" />
                <img *ngIf="twitter==='No cuento con esta red' " src="assets/imgs/ajustes/notengo.svg " width="90% "
                    style="margin: 15%; ">
            </ion-col>

        </ion-row>
        <ion-row>
            <ion-col col-12>
                <p class="campos ">LinkedIn</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-11 class="social ">
                <div class="redsocial " [ngClass]="{ 'nocuento':linkedIn=='No cuento con esta red' } ">
                    <div class="puntos">{{linkedIn}}</div>
                </div>
            </ion-col>
            <ion-col col-1>
                <img *ngIf="linkedIn !=='' && linkedIn !=='No cuento con esta red' "
                    src="assets/imgs/ajustes/tengo.svg " class="cuento" />
                <img *ngIf="linkedIn === ''" src="assets/imgs/ajustes/tengo.svg" class="cuento"
                    (click)="changeTengo('linkedIn')" />

                <img *ngIf="linkedIn==='No cuento con esta red' " src="assets/imgs/ajustes/notengo.svg " width="90% "
                    style="margin: 15%; ">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <p class="campos ">Web</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-11 class="social ">
                <div class="redsocial " [ngClass]="{ 'nocuento':web=='No cuento con esta red' } ">
                    <div class="puntos">{{web}}</div>
                </div>
            </ion-col>
            <ion-col col-1>
                <img *ngIf="web !=='' && web !=='No cuento con esta red' " src="assets/imgs/ajustes/tengo.svg "
                    class="cuento" />
                <img *ngIf="web === ''" src="assets/imgs/ajustes/tengo.svg" class="cuento"
                    (click)="changeTengo('web')" />
                <img *ngIf="web==='No cuento con esta red' " src="assets/imgs/ajustes/notengo.svg " width="90% "
                    style="margin: 15%; ">
            </ion-col>
        </ion-row>
    </section>
    <section *ngIf="vista==='editar' ">
        <ion-row>
            <ion-col col-12>
                <p class="contacto " colspan="2 ">Escribe o pega el URL de tus redes sociales</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <p class="campos ">Facebook</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-11>
                <input type="text " name="Facebook " style="padding: 2.7%; " [(ngModel)]="facebook ">
            </ion-col>
            <ion-col col-1>
                <img *ngIf=" facebook !=='' && facebook !=='No cuento con esta red' "
                    src="assets/imgs/ajustes/tengo.svg " class="cuento" />
                <img *ngIf="facebook === ''" src="assets/imgs/ajustes/tengo.svg" class="cuento"
                    (click)="changeTengo('facebook')" />
                <img *ngIf="facebook==='No cuento con esta red' " src="assets/imgs/ajustes/notengo.svg " width="90% "
                    style="margin: 15%; ">
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
                <p class="campos ">Instagram</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-11>
                <input type="text " name="Instagram " style="padding: 2.7%; " [(ngModel)]="instagram ">
            </ion-col>
            <ion-col col-1>
                <img *ngIf="instagram !=='' && instagram !=='No cuento con esta red' "
                    src="assets/imgs/ajustes/tengo.svg " class="cuento" />
                <img *ngIf="instagram === ''" src="assets/imgs/ajustes/tengo.svg" class="cuento"
                    (click)="changeTengo('instagram')" />
                <img *ngIf="instagram==='No cuento con esta red' " src="assets/imgs/ajustes/notengo.svg " width="90% "
                    style="margin: 15%; ">
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col col-12>
                <p class="campos ">Twitter</p>
            </ion-col>

        </ion-row>
        <ion-row>
            <ion-col col-11>
                <input type="text " name="Twitter " style="padding: 2.7%; " [(ngModel)]="twitter ">
            </ion-col>
            <ion-col col-1>
                <img *ngIf=" twitter !=='' && twitter !=='No cuento con esta red' " src="assets/imgs/ajustes/tengo.svg "
                    class="cuento" />
                <img *ngIf="twitter === ''" src="assets/imgs/ajustes/tengo.svg" class="cuento"
                    (click)="changeTengo('twitter')" />
                <img *ngIf="twitter==='No cuento con esta red' " src="assets/imgs/ajustes/notengo.svg " width="90% "
                    style="margin: 15%; ">
            </ion-col>
        </ion-row>

        <ion-row>

            <ion-col col-12>
                <p class="campos ">LinkedIn</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-11>
                <input type="text " name="LinkedIn " style="padding: 2.7%; " [(ngModel)]="linkedIn ">
            </ion-col>
            <ion-col col-1>
                <img *ngIf="linkedIn !=='' && linkedIn !=='No cuento con esta red' "
                    src="assets/imgs/ajustes/tengo.svg " class="cuento" />
                <img *ngIf="linkedIn === ''" src="assets/imgs/ajustes/tengo.svg" class="cuento"
                    (click)="changeTengo('linkedIn')" />

                <img *ngIf="linkedIn==='No cuento con esta red' " src="assets/imgs/ajustes/notengo.svg " width="90% "
                    style="margin: 15%; ">
            </ion-col>
        </ion-row>

        <ion-row>

            <ion-col col-12>
                <p class="campos ">Web</p>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-11>
                <input type="text " name="Web " style="padding: 2.7%; " [(ngModel)]="web ">
            </ion-col>
            <ion-col col-1>
                <img *ngIf=" web !=='' && web !=='No cuento con esta red' " src="assets/imgs/ajustes/tengo.svg "
                    class="cuento" />
                <img *ngIf="web === ''" src="assets/imgs/ajustes/tengo.svg" class="cuento"
                    (click)="changeTengo('web')" />

                <img *ngIf="web==='No cuento con esta red' " src="assets/imgs/ajustes/notengo.svg " width="90% "
                    style="margin: 15%; ">
            </ion-col>
        </ion-row>
    </section>

    <div class="cuadro " style="margin-top: 5% ">
        <button *ngIf="vista=='informacion' " class="edit " (click)="changePage( 'editar') ">Modificar Datos</button>
        <button *ngIf="vista==='editar' " class="edit " (click)="changePage( 'informacion'); ">Cancelar</button>
        <button *ngIf="vista==='editar' " class="edit "
            (click)="changePage( 'informacion');changeInfo();cambioInformacion() ">Guardar</button>
    </div>

</ion-content>
-->