page-social {
    .cuadro {
        text-align: center;
        height: auto;
    }
    .cuadro1 {
        text-align: right;
        width: 100%;
        height: auto;
        margin-top: 20%;
    }
    .cancelar {
        color: gray;
        text-decoration: underline;
        background: transparent;
    }
    .contacto {
        text-align: center !important;
        color: #288AC1;
        font-size: 5.5vw;
        margin-bottom: 4%;
        font-weight: bold !important;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }
    td {
        width: 45%;
        padding-bottom: 2.5%;
        font-size: 4vw;
    }
    td.social {
        width: 70% !important;
        font-size: 4vw;
        padding-bottom: 4.5%;
        color: #606060;
        font-weight: 350;
    }
    .redsocial {
        padding: 3%;
        border: 1px #c4c4c4 solid;
        border-radius: 4px;
        font-size: 4vw;
        color: #606060;
        font-weight: 350;
    }
    td.socialicon {
        width: 30% !important;
        padding-bottom: 0;
    }
    tr {
        padding: 5px;
    }
    th {
        text-align: left !important;
        font-weight: normal !important;
        padding-bottom: 4%;
        padding-top: 1%;
        margin-left: 0% !important;
    }
    .edit {
        background: #00B9BE;
        border: transparent;
        font-size: 4.5vw;
        text-align: center;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        padding: 3%;
        width: 45%;
        box-shadow: 8px 8px 10px -6px rgba(0, 0, 0, .9);
    }
    .campos {
        font-size: 4.5vw;
        color: #606060;
        font-weight: 700;
        margin-bottom: 1%;
        margin-top: 2%;
    }
    .datos {
        font-size: 4vw;
        color: #606060;
        font-weight: 350;
        background: transparent;
    }
    .msg {
        width: 99%;
        border: 1px solid #c4c4c4;
        border-radius: 5px;
        padding: 3px 5px;
        cursor: pointer;
        text-align: justify;
        box-shadow: none;
    }
    .nocuento {
        color: red;
    }
    .puntos {
        overflow: hidden;
        /* Escondemos la parte sobrante */
        white-space: nowrap;
        /* Indicamos que no realice salto de linea si no cabe en la anchura indicada */
        text-overflow: ellipsis;
    }
    input {
        border: 1px solid #c4c4c4;
        border-radius: 5px;
        padding: 3px 5px;
        width: 99%;
        cursor: pointer;
        box-shadow: none;
        color: #606060;
    }
}