<ion-header>

    <ion-navbar>
        <ion-title>social</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <section *ngIf="vista == 'informacion'">
        <ion-row>
            <ion-col col-12>
                <p class="contacto" colspan="2">Escribe o pega el URL de tus redes sociales</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <p class="campos">Facebook</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-11>
                <div class="redsocial" [ngClass]="{'nocuento':facebook == 'No cuento con esta red'}">
                    <div class="puntos">{{facebook}}</div>
                </div>
            </ion-col>
            <ion-col col-1>
                <img *ngIf="facebook !=='' && facebook !=='No cuento con esta red' " src="assets/imgs/ajustes/tengo.svg " width="90% " style="margin: 15%; " />
                <img *ngIf="facebook==='No cuento con esta red' " src="assets/imgs/ajustes/notengo.svg " width="90% " style="margin: 15%; ">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <p class="campos ">Instagram</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-11 class="social ">
                <div class="redsocial " [ngClass]="{ 'nocuento':instagram=='No cuento con esta red' } ">
                    <div class="puntos">{{instagram}}</div>
                </div>
            </ion-col>
            <ion-col col-1>
                <img *ngIf="instagram !=='' && instagram !=='No cuento con esta red' " src="assets/imgs/ajustes/tengo.svg " width="90% " style="margin: 15%; " />
                <img *ngIf="instagram==='No cuento con esta red' " src="assets/imgs/ajustes/notengo.svg " width="90% " style="margin: 15%; ">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <p class="campos ">Twitter</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-11 class="social ">
                <div class="redsocial " [ngClass]="{ 'nocuento':twitter=='No cuento con esta red' } ">
                    <div class="puntos">{{twitter}}</div>
                </div>
            </ion-col>
            <ion-col col-1>
                <img *ngIf="twitter !=='' && twitter !=='No cuento con esta red' " src="assets/imgs/ajustes/tengo.svg " width="90% " style="margin: 15%; " />
                <img *ngIf="twitter==='No cuento con esta red' " src="assets/imgs/ajustes/notengo.svg " width="90% " style="margin: 15%; ">
            </ion-col>

        </ion-row>
        <ion-row>
            <ion-col col-12>
                <p class="campos ">LinkedIn</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-11 class="social ">
                <div class="redsocial " [ngClass]="{ 'nocuento':linkedIn=='No cuento con esta red' } ">
                    <div class="puntos">{{linkedIn}}</div>
                </div>
            </ion-col>
            <ion-col col-1>
                <img *ngIf="linkedIn !=='' && linkedIn !=='No cuento con esta red' " src="assets/imgs/ajustes/tengo.svg " width="90% " style="margin: 15%; " />
                <img *ngIf="linkedIn==='No cuento con esta red' " src="assets/imgs/ajustes/notengo.svg " width="90% " style="margin: 15%; ">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <p class="campos ">Web</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-11 class="social ">
                <div class="redsocial " [ngClass]="{ 'nocuento':web=='No cuento con esta red' } ">
                    <div class="puntos">{{web}}</div>
                </div>
            </ion-col>
            <ion-col col-1>
                <img *ngIf="web !=='' && web !=='No cuento con esta red' " src="assets/imgs/ajustes/tengo.svg " width="90% " style="margin: 15%; " />
                <img *ngIf="web==='No cuento con esta red' " src="assets/imgs/ajustes/notengo.svg " width="90% " style="margin: 15%; ">
            </ion-col>
        </ion-row>
    </section>
    <section *ngIf="vista==='editar' ">
        <ion-row>
            <ion-col col-12>
                <p class="contacto " colspan="2 ">Escribe o pega el URL de tus redes sociales</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <p class="campos ">Facebook</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-11>
                <input type="text " name="Facebook " style="padding: 2.7%; " [(ngModel)]="facebook ">
            </ion-col>
            <ion-col col-1>
                <img *ngIf=" facebook !=='' && facebook !=='No cuento con esta red' " src="assets/imgs/ajustes/tengo.svg " width="90% " style="margin: 15%; " />
                <img *ngIf="facebook==='No cuento con esta red' " src="assets/imgs/ajustes/notengo.svg " width="90% " style="margin: 15%; ">
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
                <p class="campos ">Instagram</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-11>
                <input type="text " name="Instagram " style="padding: 2.7%; " [(ngModel)]="instagram ">
            </ion-col>
            <ion-col col-1>
                <img *ngIf="instagram !=='' && instagram !=='No cuento con esta red' " src="assets/imgs/ajustes/tengo.svg " width="90% " style="margin: 15%; " />
                <img *ngIf="instagram==='No cuento con esta red' " src="assets/imgs/ajustes/notengo.svg " width="90% " style="margin: 15%; ">
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col col-12>
                <p class="campos ">Twitter</p>
            </ion-col>

        </ion-row>
        <ion-row>
            <ion-col col-11>
                <input type="text " name="Twitter " style="padding: 2.7%; " [(ngModel)]="twitter ">
            </ion-col>
            <ion-col col-1>
                <img *ngIf=" twitter !=='' && twitter !=='No cuento con esta red' " src="assets/imgs/ajustes/tengo.svg " width="90% " style="margin: 15%; " />
                <img *ngIf="twitter==='No cuento con esta red' " src="assets/imgs/ajustes/notengo.svg " width="90% " style="margin: 15%; ">
            </ion-col>
        </ion-row>

        <ion-row>

            <ion-col col-12>
                <p class="campos ">LinkedIn</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-11>
                <input type="text " name="LinkedIn " style="padding: 2.7%; " [(ngModel)]="linkedIn ">
            </ion-col>
            <ion-col col-1>
                <img *ngIf="linkedIn !=='' && linkedIn !=='No cuento con esta red' " src="assets/imgs/ajustes/tengo.svg " width="90% " style="margin: 15%; " />
                <img *ngIf="linkedIn==='No cuento con esta red' " src="assets/imgs/ajustes/notengo.svg " width="90% " style="margin: 15%; ">
            </ion-col>
        </ion-row>

        <ion-row>

            <ion-col col-12>
                <p class="campos ">Web</p>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-11>
                <input type="text " name="Web " style="padding: 2.7%; " [(ngModel)]="web ">
            </ion-col>
            <ion-col col-1>
                <img *ngIf=" web !=='' && web !=='No cuento con esta red' " src="assets/imgs/ajustes/tengo.svg " width="90% " style="margin: 15%; " />
                <img *ngIf="web==='No cuento con esta red' " src="assets/imgs/ajustes/notengo.svg " width="90% " style="margin: 15%; ">
            </ion-col>
        </ion-row>
    </section>

    <div class="cuadro " style="margin-top: 5% ">
        <button *ngIf="vista=='informacion' " class="edit " (click)="changePage( 'editar') ">Modificar Datos</button>
        <button *ngIf="vista==='editar' " class="edit " (click)="changePage( 'informacion'); ">Cancelar</button>
        <button *ngIf="vista==='editar' " class="edit " (click)="changePage( 'informacion');changeInfo()">Guardar</button>
    </div>

</ion-content>