
.page-ayuda {

  margin-top: -2vh;
  min-height: 100vh;
  min-height: -webkit-fill-available;

  .background-gradient {
    background: #1C88BB;
    background: linear-gradient(90deg, #1C88BB 30%, #33b0b3 100%);
  }

  .header-help {
    color: #FFFFFF;
    text-align: center !important;
    @media only screen and (min-width: 360px) and (max-height: 640px) {
      height: 20.5vh;
    }

    @media only screen and (min-width: 412px) and (max-height: 892px) {
      height: 20vh;
      margin-top: 0;
    }

    .header-title {
      text-shadow: 0 8px 5px #000000;
      font-size: 4rem;
    }

    .header-divider {
      height: 3px;
      background: white;
      width: 65%;
    }

    .header-text {
      font-size: 2vh;
      @media only screen and (min-width: 360px) and (max-height: 640px) {
        margin-top: 0;
      }
    }
  }

  .text-help-container {
    margin-top: 1vh;
    text-align: center;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.75);
    height: 7vh;

    .text-help {
      padding-left: 1vh;
      padding-right: 1vh;
      color: #34465B;
      font-size: medium;

      @media only screen and (min-width: 360px) and (max-height: 640px) {
        // font-size: 10pt;
      }

      @media only screen and (min-width: 412px) and (max-height: 892px) {
        // font-size: 12.5pt;
      }
    }
  }

  .user_id {
    margin-top: 1.5vh;
    text-align: center;
    color: #FFFFFF;
    border-radius: 15px;
    @media only screen and (min-width: 360px) and (max-height: 640px) {
      font-size: 10pt;
    }

    @media only screen and (min-width: 412px) and (max-height: 892px) {
      font-size: 12.5pt;
    }
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  .user_name {
    margin-top: 1vh;
    color: #FFFFFF;
    font-weight: bold;
    @media only screen and (min-width: 360px) and (max-height: 640px) {
      font-size: 10pt;
    }

    @media only screen and (min-width: 412px) and (max-height: 892px) {
      font-size: 12.5pt;
    }
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.75);
  }

  .issue-button {
    border-radius: 15px;
    margin-top: 15px;
    width: 95%;
    font-size: 7.25pt;
    height: 5.25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1E4D70;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.75);
    background: #FFFFFF;
  }

  .issue-question {
    margin-top: 1vh;
    color: #1E4D70;
    font-size: 12pt;

    label {
      margin-bottom: 5px;
    }

    input {
      border: unset;
      border-radius: unset;
      box-shadow: unset;
      border-bottom: 2px solid darkgrey;
      font-size: 12pt;
      height: unset;
    }
  }

  .issue-button-selected {
    background: #90CBDC;
  }

  .issue-button-send {
    width: 100%;
    margin-top: 1vh;
    background: #e86f2b;
    color: #FFFFFF;
    border-radius: 15px;
    font-size: 2.25vh;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
