
.page-ayuda {
  font-size: unset;

  .background-gradient {
    background: #1C88BB;
    background: linear-gradient(90deg, #1C88BB 30%, #33b0b3 100%);
  }

  .header-help {
    margin-top: 15px;
    color: #FFFFFF;
    text-align: center !important;
    height: 18vh;

    .header-title {
      text-shadow: 0 8px 5px #000000;
      font-size: 4rem;
    }

    .header-divider {
      height: 3px;
      background: white;
      width: 65%;
    }

    .header-text {
      font-size: 0.80rem;
    }
  }

  .text-help-container {
    margin-top: 15px;
    text-align: center;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0 5px 8px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 5px 8px 0 rgba(0,0,0,0.75);
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.75);
    height: 7vh;

    .text-help {
      padding-left: 1vh;
      padding-right: 1vh;
      color: #34465B;
    }
  }

  .user_id {
    margin-top: 15px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 15px;
    font-size: 0.55em;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  .user_name {
    margin-top: 15px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 0.6em;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0 5px 8px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 5px 8px 0 rgba(0,0,0,0.75);
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.75);
  }

  .issue-button {
    border-radius: 15px;
    margin-top: 15px;
    width: 95%;
    font-size: 11px;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1E4D70;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.75);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.75);
    background: #FFFFFF;
  }

  .issue-question {
    margin-top: 15px;
    color: #1E4D70;
    font-size: 0.8em;

    label {
      margin-bottom: 5px;
    }

    input {
      border: unset;
      border-radius: unset;
      box-shadow: unset;
      border-bottom: 2px solid darkgrey;
      font-size: 0.7em;
      height: unset;
    }
  }

  .issue-button-selected {
    background: #90CBDC;
  }

  .issue-button-send {
    width: 100%;
    margin-top: 15px;
    font-size: 0.8em;
    background: #e86f2b;
    color: #FFFFFF;
    border-radius: 15px;
  }
}
