.toolbar-background-md{
    background: #037bb9 !important;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 70px;
    text-align: center;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    color: #10cebc;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
  }
  .card-md h2{
    color: #10cebc;
    margin: 0px;
    font-size: 2rem;
  }

  .back{
    color: white;
    font-size: 25px;
  }

