<!-- Generated template for the MedicoComponent component -->
<!-- Esto es lo que cambia -->
<ion-row>
  <ion-col>
    <p class="paciente">Información paciente:
      <a class="edadpaciente"> {{genero}} {{edad}} años</a>
    </p>

  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
      <p class="mensaje">“{{mensaje}}”</p>

  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <a class="paciente">Hora y fecha de la cita</a>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-icon class="cita" name="md-calendar"></ion-icon>
    <a class="paciented">{{fechaCita}}</a>
    <ion-icon class="cita" name="md-alarm"></ion-icon>
    <a class="paciented">{{horaCita}} hrs.</a>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col style="margin-top: 1em;">
    <ion-icon class="download" name="md-pin"></ion-icon>
    <a class="descarga">El paciente revisó tu dirección</a>
  </ion-col>
</ion-row>
<!-- Termina lo que cambia -->