<!-- Generated template for the MedicoComponent component -->
<!-- Esto es lo que cambia -->
<ion-row>
  <ion-col>
    <p class="paciente">Información paciente:
      <a class="edadpaciente"> Mujer 32 años</a>
    </p>

  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <p class="mensaje">Buen día, me gustaría agendar una cita para consulta con usted. Quedo atento a la respuesta de acuerdo a su disponibilidad.
      Gracias.
    </p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <a class="paciente">Hora y fecha de la cita</a>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-icon class="cita" name="md-calendar"></ion-icon>
    <a class="paciented">18/02/18</a>
    <ion-icon class="cita" name="md-alarm"></ion-icon>
    <a class="paciented">16:35</a>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col style="margin-top: 1em;">
    <ion-icon class="download" name="md-pin"></ion-icon>
    <a class="descarga">El paciente revisó tu dirección</a>
  </ion-col>
</ion-row>
<!-- Termina lo que cambia -->