<!-- Generated template for the HotelComponent component -->
<!-- Esto es lo que cambia -->
<ion-row>
  <ion-col>
    <ion-icon class="reserva" name="md-briefcase"></ion-icon>
    <a class="tipo">Viaje de Placer</a>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-icon class="reserva" name="ios-people"></ion-icon>
    <a class="tipo">2 huéspedes</a>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <p class="mensaje">Buen día, me gustaría hacer una reservación. Gracias.
    </p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <a class="paciente">Fecha de la reservacion</a>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-icon class="cita" name="md-calendar"></ion-icon>
    <ion-icon class="viaje" name="md-arrow-round-down"></ion-icon>

    <a class="paciented">18/02/18</a>
    <ion-icon class="cita" name="md-calendar"></ion-icon>
    <ion-icon class="viaje" name="md-arrow-round-up"></ion-icon>

    <a class="paciented">28/02/18</a>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col style="margin-top: 1em;">
    <ion-icon class="download" name="md-pin"></ion-icon>
    <a class="descarga">El cliente revisó tu dirección</a>
  </ion-col>
</ion-row>
<!-- Termina lo que cambia -->