.detail-card {
  .icono{
    width: 85%;
    padding-right: 0 !important;
  }
}
.ios, .md {
     page-reporte {
         button {
             align-items: baseline;
             border: 2pt black;
             padding-left: 0px !important;
         }
     }
 }
 .toolbar-title-md {
  font-size: 1.5rem;
  padding: 0px;
}

 
 .grid{
  padding-bottom: 0px !important;
  
 }

 .label-md {
  margin: 0px 0px 0px 0; 
 }
 .col{
   padding: 0px !important;
   align-items: center;
 }
 .item-md.item-block .item-inner {
  padding-right: 0px !important; 
  border-bottom: 1px solid #dedede;
}
 .encabezado{
   padding: 0 !important;
 }
 .rate-header { 
  color: #76797b;
  font-size: 12px;
  position: absolute;
}
.rate-nombre { 
  font-size: 15px;
  color: black; 
}
.inf-mail{ 
  font-size: 13px;
  color: #00a6d4;
  padding-top: 2px;
}
.rate-fecha { 
  font-size: 12px;
  color: #a3a3a3;
  text-align: right; 
}
.rate-tel { 
  font-size: 12px;
  color: #a3a3a3; 
  text-align: right  
}
.rate-telefono { 
  font-size: 12px;
  color: #a3a3a3;
  text-align: right;
}
.rate-empresa {  
  font-size: 13px;
  color: #a3a3a3; 
  padding-top: 2px;
}
.inf-mensaje { 
  font-size:11px;
  color: black; 
  padding-top: 4px;
  text-align: justify;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.inf-mensajem { 
  font-size:14px;
  color: black; 
  padding-top: 4px;
  text-align: justify;
  text-overflow: ellipsis;
}
.rate-icon {
  position: relative;
  color: #d1d1d1;
}
.rate-icon-fill{
  position: relative;
  color: #10cebc;
}
.inf-estado { 
  font-size: 13px;
  color: #a3a3a3;
  text-align: right;
}
.circulo{
  border-radius: 15px;
  width: 90%;
  text-align: center;
  margin: 0px;
  display: inline-table;
  color: white;
  background-color: darkturquoise;
}
.vendido{
  background-color: darkturquoise;
}
.enProceso{
  background-color: #6B4595;
}
.sinContacto{
  background-color: #419BD6;
}
.descartado{
  background-color: #F2631C;
}
  .vacio{
  background-color: #d1d1d1;
}
 .fillv{
background-color:darkturquoise;
}
.fill-v{
background-color:#d1d1d1;
}
.btn-estatusv{
  color: white;
  width: 80%;
  border-color: transparent;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 3px;  
}
.btn-estatusv:hover{
  background-color:darkturquoise;
}
.btn-estatusv:active{
   background-color:darkturquoise; 
    }
.btn-estatusp{
  color: white;
  width: 80%;
  border-color: transparent;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 3px;
}
.btn-estatusp:hover{
  background-color:#6B4595;
}
.fillp{
  background-color:#6B4595;
}
.btn-estatusc{
  color: white;
  width: 80%;
  border-color: transparent;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 3px;
}
.btn-estatusc:hover{
  background-color:#419BD6; 
}
.fillc{
  background-color:#419BD6; 
}
.btn-estatusd{
  color: white;
  width: 80%;
  border-color: transparent;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 3px;
}
.btn-estatusd:hover{
  background-color:#F2631C; 
}
.filld{
  background-color:#F2631C; 
}
.inf-lead { 
  font-size: 13px;
  color: darkturquoise; 
  padding-top: 3.8%;
  text-align: center;
}
.inf-estatus { 
  font-size: 13px;
  padding-top: 3%;
  color: darkturquoise;
  text-align: center;
}
.dropbtn {
  background-color: #fff;
  color: black;
  padding: 7px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 170px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #2075b5}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #fff;
    cursor: pointer;

}
label {
  display: block;
} 
.icon-search{
  float: right;
  width: 4%;
}
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  color: #10cebc;
}
input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 99%;
  cursor: pointer;
}
