  .dispositivo{
    color: #165a88 !important;
  }
  
  .cel{
    color: #00bcaa !important;
  }

  .pc{
    color: #00ade7 !important;
  }

  .tb{
    color: #7f3497 !important;
  }

  .leads{
    color: #66a0ff !important;
  }

  .toolbar-title-ios {
    text-align: left !important;
    font-size: 3.5vw !important;
    font-weight: 600;
    color: rgb(0, 0, 0);
    pointer-events: auto;
  }

  .toolbar-title-md {
    font-size: 4vw;
    padding: 0px;
  }

  .card-md {
    margin: 1%;
    margin-bottom: 2%;
    border-radius: 2px;
    width: 98%;
    background: white;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .toolbar-ios ion-title{
    padding-top: 0 !important;
    padding-right: 12% !important;
    padding-bottom: 0 !important;
    padding-left: 15% !important;
    margin-top: 2% !important;
  }

  .card-content-ios {
    padding: 0px 2px 16px;
    font-size: 1.4rem;
    line-height: 1.4;
  }

  p.datos2{
    color: #10cebc !important;
    text-align: center !important;
    font-size: 32px !important;
  }

 .tabla{ 
    text-align: center
  }

  .item-ios.item-block .item-inner{
    padding-right: 0px; 
  }