.dispositivo{
    color: #165a88 !important;
  }
  .cel{
    color: #00bcaa !important;
  }
  .pc{
    color: #00ade7 !important;
  }
  .tb{
    color: #7f3497 !important;
  }
  .leads{
    color: #66a0ff !important;
  }
  .card-content-ios {
    padding: 0px 6px 16px;
    font-size: 1.4rem;
    line-height: 1.4;
}
  p.datos2{
    color: #10cebc !important;
    text-align: center !important;
    font-size: 32px !important;
  }
 .tabla{ 
    text-align: center
}