ion-modal {
    @media (min-width: 300px) and (min-height: 1050000px) {
        ion-backdrop {
            visibility: visible;
        }
    }
    .toolbar-title {
        text-align: center;
        color: white;
        font-size: 15pt;
    }
    .btn-modal {
        background-color: #00b9bf;
        color: white;
        font-size: 11pt;
        //font-weight: bold;
        // border-radius: 20px;
    }
    .message-modal {
        color: #7c7c7c;
        text-align: center;
        font-size: 11pt;
    }
    .grid {
        padding: 5px;
        margin-left: auto;
        justify-content: space-between;
        margin-right: auto;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 92%;
    }
}

.Modal-prueba-chat {
    @media (min-width: 300px) and (min-height: 2000px) {
        ion-backdrop {
            visibility: visible;
        }
    }
    .modal-wrapper {
        position: absolute;
        overflow: hidden;
        max-width: 280px;
        min-height: 400px;
        border-radius: 2px;
        width: 80vw;
        height: 100%;
        top: 40px;
        bottom: 0;
        max-height: calc(90vh - 85px);
        left: 0;
        height: 100%;
        right: 0;
        margin: auto;
        border: 0;
        -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
        box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
        background-color: #fafafa;
    }
}

.modal-wrapper .toolbar-background-ios {
    background: linear-gradient(to right, #3CCDBB, #33a4bc) !important
}