  ion-icon{
    color: #fff;
  }

  ion-app.ios [padding] .scroll-content{
    padding: 10px;
  }

  ion-app.md [padding] .scroll-content{
    padding: 10px;
  }

  .row{
    margin-bottom: 1%;
  }

  .salto{
    margin-bottom: 2% !important;
  }

  .toolbar-background-ios {
    //background: linear-gradient(to right, #3CCDBB, #33a4bc);
    background: white;
  }

  .toolbar.md{
    min-height: 20px !important;
    padding: 2px;
  }

  .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: black;
    background-color: transparent;
  }

  .segment-ios .segment-button.segment-activated {
    color: white;
    background-color: #00b9bf;;
    opacity: 1;
    -webkit-transition: 100ms all linear;
    transition: 100ms all linear;
    border-color: #00b9bf;;
    font-size: 5vw;
  }

  .segment-ios .segment-button {
    color: #00b9bf;;
    background-color: transparent;
    opacity: 1;
    -webkit-transition: 100ms all linear;
    transition: 100ms all linear;
    border-color: #00b9bf;
    background: white;
    font-size: 5vw;
  }

  .datoslead{
    margin: 0px !important; 
    border-radius: 2px;
    width: calc(100% - 1%) !important;
    background: #F7F7F7 !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .back-button-icon-ios {
    margin: -1px 0 0;
    display: inherit;
    min-width: 18px;
    font-size: 3.4rem;
    color: black;
  }

  .toolbar-ios .segment-button {
    max-width: 40%;
    height: 2.6rem;
    font-size: 2.8vh;
    line-height: 2.5rem;
  }

  .segment-md .segment-button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    height: 4.2rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    font-size: 3vh;
    font-weight: 400;
    line-height: 4rem;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    opacity: .5;
    -webkit-transition: 100ms all linear;
    transition: 100ms all linear;
    padding: 0 6px;
  }
  
  .vista {
    padding: 0px !important;
  }
  //
  .circulo{
    font-size: 1.26em;
    background-color: lightgrey;
  }
  //Nombre del Lead
  .inf-nombre{
    font-size: 5vw;
    color: darkslategray;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
  }
  //Linea de separación
  hr { 
    width: 100%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 0px solid black;
    padding: 0;
  }  
  //Icono Urgencia
  .urgente {
    color: red;
    font-size: 6vw !important;
    font-weight: bold;
    margin-left: 15%;
  }
  //Fecha del Lead
  .rate-fechal {
    font-size: 4.5vw !important;
    color: dimgray;
    text-align: right;
  }
  //Calidad del Lead
  .rate-calidad {
    font-size: 4.8vw !important;
    color: #00b9bf;
    margin-top: .2em;
  }
  //Nombre de la empresa Lead
  .inf-empresa{
    font-size: 4.3vw;
    color: darkslategray;
  }
  //Estado del Lead
  .inf-estado{
    font-size: 4.3vw  !important;
    color: slategray !important;
    text-align: right !important;
  }
  //Correo del Lead
  .inf-correo{
    color: lightskyblue;
    font-style: italic;
    font-size: 4.5vw  !important;
  }
  //
  .cotiza{
    color: #00b9bf;
    font-weight: bold;
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 0.1em;
  }
  //Mensaje del Lead
  .mensaje{
    color: lightslategray;
    font-size: 5vw;
    margin-left: 0.5em;
    font-weight: 500;
    margin-top: 0.4em;
    margin-bottom: .4em;
    text-align: justify;
  }
  //
  .frecuencia{
    color: darkgray;
    margin-bottom: 0.3em;
    font-size: 1.2em;
    margin-top: 0.5em;
  }
  //Icono de Descarga
  .download{
    color: orangered;
    font-size: 2em;
  }
  //Mensaje de Descarga
  .descarga{
    font-size: 5vw;
    color: coral;
    text-decoration: underline;
    margin-left: .7em;
    position: absolute;
    margin-top: 2px;
  }
  //
  .califica{
    text-align: center;
    font-size: 4.8vw;
    color: darkslategray;
    font-weight: bold;
    margin-top: .5em;
    margin-bottom: .5em;
  }
  //
  .arribab{
    width: 48%;
    border-radius: 8px;
    font-size: 3.2vw;
    padding: 4%;
    margin-bottom: .4em;
    color: white;
  }

  .vendido{
    width: 48%;
    border-radius: 8px;
    font-size: 3.2vw;
    padding: 4%;
    margin-bottom: .4em;
    color: white;
    background-color: #00b9bf !important
  }
  .proceso{
    width: 48%;
    border-radius: 8px;
    font-size: 3.2vw;
    padding: 4%;
    margin-bottom: .4em;
    color: white;
    background-color: #6B4595 !important
  }
  .descartado{
    width: 48%;
    border-radius: 8px;
    font-size: 3.2vw;
    padding: 4%;
    margin-bottom: .4em;
    color: white;
    background-color: #F2631C  !important
  }

  .sincontacto{
    width: 48%;
    border-radius: 8px;
    font-size: 3.2vw;
    padding: 4%;
    margin-bottom: .4em;
    color: white;
    background-color: #419BD6 !important
  }
  
  //
  .like{
    color: #00b9bf;
  }
  //
  .dislike{
    color: #d0d0d0 !important;
  }
  //
  .sin{
    color: #d0d0d0 !important;
  }
  //
  .llamar {
    width: 100%;
    text-align: center;
    font-size: 1.15em;
    padding: 1%;
    color: white;
    font-weight: bold;
    background: coral;
  }
  //
  .telefono{
    font-size: 2em;
    color: white;
    margin-right: 1vh;
  }
  //
  .phone{
    color: white;
    vertical-align: super;
    text-align: center;
  }

  //vista 3 

  .paciente{
    color: #00b9bf;
    font-size: 5.5vw;
    margin-bottom: 0;
  }
  //
  .edadpaciente{
    color: #00b9bf;
    font-weight: bold;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0.1em;
  }
  //  
  .paciented{
    color: #00b9bf;
    font-size: 5.5vw;
    font-weight: bold;
    margin-left: 0.3em;
    margin-right: .5em;
  }
  //
  .cita{
    color: dimgray;
    font-size: 6.5vw;
    margin-left: .5em;
    margin-top: .3em;
  }

  //vista 5

  .reserva{
    color: dimgray;
    font-size: 6.5vw;
    margin-right: .3em;
  }
  //
  .tipo{
    color: #00b9bf;
    font-weight: bold;
    font-size: 5.2vw;
    margin-bottom: 0.1em;
    position: absolute;
  }
  //
  //vista 6

  .viaje{
    color: dimgray;
    font-size: 6.5vw;
    margin-top: .3em;
  }
