  ion-icon{
    color: #fff;
  }

  .vista {
    padding: 0px !important;
  }

  .circulo{
    font-size: 1.26em;
  }

  .inf-nombre{
    font-size: 1.3em;
    color: darkslategray;
  }

  .urgente {
    color: red;
    font-size: 1.5em !important;
    font-weight: bold;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 230px;
    background-color: #126aff;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -10px;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 5%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #126aff transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .rate-fechal {
    font-size: 1.1em !important;
    color: dimgray;
    text-align: right;
  }

  .rate-calidad {
    font-size: 1.1em !important;
    color: #00b9bf;
  }

  .inf-empresa{
    font-size: 1.2em;
    color: darkslategray;
  }

  .inf-estado{
    font-size: 1.1em !important;
    color: slategray !important;
    text-align: left !important;
  }

  .inf-correo{
    color: lightskyblue;
    font-style: italic;
    font-size: 1.1em;
  }

  .cotiza{
    color: #00b9bf;
    font-weight: bold;
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 0.1em;
  }

  .mensaje{
    color: lightslategray;
    font-size: 1.2em;
    margin-left: 0.5em;
    font-weight: 500;
    margin-bottom: 0.7em;
    text-align: justify;
  }

  .frecuencia{
    color: darkgray;
    margin-bottom: 0.3em;
    font-size: 1.2em;
    margin-top: 0.5em;
  }

  .download{
    color: orangered;
    font-size: 2em;
  }

  .descarga{
    font-size: 1.1em;
    color: coral;
    text-decoration: underline;
    margin-left: .7em;
    position: absolute;
    margin-top: 5px;
  }

  .califica{
    text-align: center;
    font-size: 1.1em;
    color: darkslategray;
    font-weight: bold;
  }

  .arribab{
    width: 48%;
    border-radius: 8px;
    font-size: 0.82em;
    padding: 4%;
    margin-bottom: .4em;
  }

  .evaluado{
    color: #00b9bf;
    font-size: 4em;
    margin-right: .2em;
  }

  .noevaluado{
    color: #d0d0d0;
    font-size: 4em;
  }

  .llamar{
    width: 100%;
    text-align: left;
    border-radius: .4em;
    font-size: 1.15em;
    padding: 1%;
    color: white;
    font-weight: bold;
    background: #ff6612;
    position: absolute;
    margin-top: 1.2em;
  }

  .telefono{
    font-size: 2em;
    color: white;
    margin-right: .5em;
    margin-left: 1.1em;
  }

  .phone{
    color: white;
    position: absolute;
    margin-top: 0.5em;
    text-align: center;
  }

  //vista 3 

  .paciente{
    color: #00b9bf;
    font-size: 1.3em;
    margin-bottom: 0;
  }

  .edadpaciente{
    color: #00b9bf;
    font-weight: bold;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0.1em;
  }
  
  .paciented{
    color: #00b9bf;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 0.3em;
    margin-right: .5em;
  }

  .cita{
    color: dimgray;
    font-size: 1.5em;
    margin-left: .5em;
    margin-top: .3em;
  }

  //vista 5

  .reserva{
    color: dimgray;
    font-size: 1.6em;
    margin-top: .4em;
    margin-right: .3em;
  }

  .tipo{
    color: #00b9bf;
    font-weight: bold;
    font-size: 1.4em;
    margin-top: .43em;
    margin-bottom: 0.1em;
    position: absolute;
  }

  //vista 6

  .viaje{
    color: dimgray;
    font-size: 1.5em;
    margin-top: .3em;
  }
