<ion-header>

    <ion-navbar>
        <ion-title>usuario</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <table *ngIf="vista == 'informacion'">
        <tr>
            <th class="contacto" colspan="2">Configuración General</th>
        </tr>
        <tr>
            <td class="campos">Nombre</td>
            <td class="datos">{{nombre}} {{paterno}} {{materno}}</td>
        </tr>
        <tr>
            <td class="campos">Empresa</td>
            <td class="datos">{{empresa}}</td>
        </tr>
        <tr>
            <td class="campos">Mail de contacto</td>
            <td class="datos">{{email}}</td>
        </tr>
        <tr>
            <td class="campos">Teléfono</td>
            <td class="datos">{{telefono}}</td>
        </tr>
        <tr>
            <th class="contacto" colspan="2">Configuración de Call Tracking</th>
        </tr>
        <tr>
            <td class="campos">Móvil </td>
            <td class="datos">{{celular}}</td>
        </tr>
        <tr>
            <th class="contacto" colspan="2">Configuración de Chat Bot</th>
        </tr>
        <tr>
            <td class="campos">Saludo automático <br><span class="maximo">(Máximo 150 caracteres)</span></td>
            <td class="datos" style="text-align: justify">{{mensaje}}</td>
        </tr>
    </table>
    <table *ngIf="vista === 'editar'">
        <tr>
            <th class="contacto" colspan="2">Configuración General</th>
        </tr>
        <tr>
            <td class="campos">Nombre *</td>
            <td class="datos"><input type="text" name="Nombre del titular" [(ngModel)]="nombre" required></td>
        </tr>
        <tr>
            <td class="campos">Apellido Paterno *</td>
            <td class="datos" style="text-align: justify">
                <input type="text" [(ngModel)]="paterno" required>
            </td>
        </tr>
        <tr>
            <td class="campos">Apellido Materno *</td>
            <td class="datos" style="text-align: justify">
                <input type="text" [(ngModel)]="materno" required>
            </td>
        </tr>
        <tr>
            <td class="campos">Email *</td>
            <td class="datos" style="text-align: justify">
                <input type="email" name="Mail de contacto" [(ngModel)]="email" required>
            </td>
        </tr>
        <tr>
            <td class="campos">Teléfono *</td>
            <td class="datos" style="text-align: justify">
                <input type="tel" name="Teléfono" [(ngModel)]="telefono" required>
            </td>
        </tr>
        <tr>
            <th class="contacto" colspan="2">Configuración de Call Tracking</th>
        </tr>
        <tr>
            <td class="campos">Móvil*</td>
            <td class="datos" style="text-align: justify">
                <input type="tel" name="Móvil" [(ngModel)]="celular" required>
            </td>
        </tr>
        <tr>
            <th class="contacto" colspan="2">Configuración de Chat Bot</th>
        </tr>
        <tr>
            <td class="campos">Saludo automático <br><span class="maximo">(Máximo 150 caracteres)</span></td>
            <td class="datos" style="text-align: justify">
                <textarea class="msg" rows="8" cols="50" maxlength="150" [(ngModel)]="mensaje" required></textarea>
            </td>
        </tr>
    </table>

    <div class="cuadro">
        <button *ngIf="vista == 'informacion' && recurrente == true" class="cancelar-suscripcion" (click)="modalCancelMembership()">Cancelar Suscripción</button>
        <br>
        <br>
        <button *ngIf="vista == 'informacion'" class="edit" (click)="changePage('editar')">Modificar Datos</button>
        <button *ngIf="vista === 'editar'" class="edit" (click)="changePage('informacion');">Cancelar</button>
        <button *ngIf="vista === 'editar'" class="edit" (click)="changePage('informacion');updateUser();updateMessage(mensaje);cambiarMensaje(mensaje);cambioAnidado()">Guardar</button>
    </div>

</ion-content>