page-usuario {
      .cuadro{
        text-align: center;
        height: auto;
      }
      .cuadro1{
        text-align: right;
        width: 100%;
        height: auto;
        margin-top: 20%;
      }
      .cancelar{
        color: gray;
        text-decoration: underline;
        background: transparent;
      }
      .contacto{
        color: #10cebc;
        font-size: 16px;
        margin-bottom: 4%;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }
      td{
        width: 45%;
        padding-bottom: 5.8%;
      }
      tr{
        padding: 5px;
      }
      th{
        text-align: left !important;
        font-weight: normal !important;
        padding-bottom: 4%;
        padding-top: 1%;
        margin-left: 0% !important;
      }
      .edit{
        background: #10cebc;
        border: transparent;
        font-size: 20px;
        text-align: center;
        color: white;
        border-radius: 10px; 
        cursor: pointer;
      }

}
