page-brief {

    .item-md.item-block .item-inner {
        padding-right: 0px !important;
        border-bottom: none;
        margin-bottom: 2%;
    }

    input[type="text"]:disabled{background-color:white;}
    
    .encuesta-container {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-areas: "activity-header" "activity-content-container";
        grid-template-rows: 20% auto;
        .activity-header {
            grid-area: activity-header;
            height: 100%;
            width: 100%;
            .encabezado-encuesta {
                height: 50px;
                position: absolute;
                top: 80px;
                width: 80%;
                margin-left: 10%;
                border-radius: 40px;
                background: white;
                text-align: center;
                color:  #288AC1;
                display: grid;
                justify-content: center;
                align-items: center;
                font-size: 4.2vw;
                font-weight: bold;
                box-shadow: 10px 10px 13px -8px rgba(0, 0, 0, 0.45);
            }
        }
        .activity-content-container {
            grid-area: activity-content-container;
            height: 100%;
            width: 100%;
            text-align: center;
            padding: 1% 4%;
            display: grid;

            .botones-cobertura-brief {
                display: inline-block;
                .boton-cobertura-brief-blanco{ 
                    width: 23%;
                    display: inline-block;
                    border: 1px #00B9BE solid;
                    border-radius: 7px;
                    background: #00B9BE;
                    .texto-boton-brief {
                        color: white;
                        margin: 0;
                        font-weight: bold;
                    }
                }
                .boton-cobertura-brief {
                    width: 23%;
                    display: inline-block;
                    border: 1px #CECECE solid;
                    border-radius: 7px;
                    background: white;
                    .texto-boton-brief {
                        color: #A09D9D;
                        margin: 0;
                        font-weight: bold;
                    }
                }
            }
            .botones-brief{
                display: inline-block;
                .boton-brief {
                    width: 47.5%;
                    height: 56px;
                    margin: 2% 1%;
                    display: inline-block;
                    border: 1px #CECECE solid;
                    border-radius: 7px;
                    background: white;
                    display:table-cell;
                }
                .boton-brief-activo {
                    width: 47.5%;
                    height: 56px;
                    margin: 2% 1%;
                    display: inline-block;
                    border: 1px #00B9BE solid;
                    background: #00B9BE;
                    border-radius: 7px;
                    display:table-cell;
                }
            } 
            .guardar-brief {
                background-color: #FE703F;
                color: white;
                border: 1.1px solid #FE703F;
                width: 60%;
                margin-left: 20%;
                height: 32px;
                font-size: 4.5vw;
                border-radius: 30px;
                font-weight: bold;
                box-shadow: 8px 8px 10px -6px rgba(0, 0, 0, .9);
            }
        }
    }
    
}
.footer {
    display: -webkit-box;
    width: 100%;
    height: 10px;
    .left {
        background-color: #288AC1;
        width: 50%;
    }
    .right {
        background-color: #005999;
        width: 50%;
    }
}

.botones-completo {
    display: inline-block;
    width: 100%;
    .botones-mitad {
        display: inline-block;
        width: 38%;
    }
    .botones-mitad-izq {
        display: inline-block;
        width: 55%;
    }
}

.main2 {
    display: table;
    height: 55px;
}

.inner2 {
    display: table-cell;
    vertical-align: middle;
    color: #A09D9D;
    margin: 0;
    font-weight: bold;
    font-size: 3.8vw;
}

.mas-brief {
    text-align: center;
}

.deseas-brief {
    width: 94%;
    margin: 0;
    margin-left: 3%;
    color: #288AC1;
    font-weight: bold;
} 

.informacion-brief {
    text-align: right;
    color: #707070; 
    font-weight: bold;
} 

.item-md .toggle-md {
    cursor: pointer;
    margin: 0;
    padding: 12px 110px 12px 16px;
}

.titulo-brief{
    color: #288AC1;
    font-weight: bold;
    font-size: 4vw;
    text-align: left;
    margin: 2% 0;
}

.input-brief {
    height: 26px;
    width: 100%;
    color: #707070;
    border: none;
    border-bottom: 1px #CECECE solid;
    font-weight: bold;
    border-radius: 0px;
    box-shadow: none;
    font-size: 4vw;
    padding: 3px 5px;
    font-style: italic;
}

.seleccion-brief { 
    height: 26px;                
    width: 95%;
    margin-right: 5%;
    background: transparent;
    border: 1px #CECECE solid;
    color: #707070;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: none !important;
    padding: 3px 5px;
    font-size: 4vw;
}

option {
    font-weight: normal;
    display: block;
    white-space: 3vw;
    padding: 0px 2px 1px;
}
    
.bloque {
    margin-top: 2%;
    display: inline-block;
    width: 100%;
    .mitad-izq {
        display: inline-block;
        width: 49%;
    }
    .mitad-der {
        display: inline-block;
        width: 49%;
    }
}
