<!-- Generated template for the PuntoventaComponent component -->
<!-- Esto es lo que cambia -->
<ion-row>
  <ion-col>
    <p class="cotiza">Cotización para uso personal</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <p class="mensaje">Hola,Me gustaría que me diera más información acerca de sus productos o servicios. Por favor comuníquese conmigo lo antes
      posible. Gracias.</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <p class="frecuencia">Requiero: 22 cajas</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <p class="frecuencia">Frecuencia de compra: Mensual</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col style="margin-top: 1em;">
    <ion-icon class="download" name="md-pin"></ion-icon>
    <a class="descarga">El cliente revisó tu dirección</a>
  </ion-col>
</ion-row>
<!-- Termina lo que cambia -->