<!-- Generated template for the PuntoventaComponent component -->
<!-- Esto es lo que cambia -->
<ion-row>
  <ion-col>
    <p class="cotiza">Cotización para: {{uso}}</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <p class="mensaje">“{{mensaje}}”</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <p class="frecuencia">Requiero: {{cantidad}} {{unidades}}</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <p class="frecuencia">Frecuencia de compra: {{frecuencia}}</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col style="margin-top: 1em;">
    <ion-icon class="download" name="md-pin"></ion-icon>
    <a class="descarga">El cliente revisó tu dirección</a>
  </ion-col>
</ion-row>
<!-- Termina lo que cambia -->