page-modal-upsells {
  .padding-0 {
    padding: 0 !important;
    font-size: 0.75em;
  }

  .bold-text {
    font-weight: bold;
  }

  .info-upsells {
    background: #233D57;
    color: #FFFFFF;
    padding: 13px 0 13px 0;
    margin-top: 1.5vh;
  }

  .margin-1 {
    margin-top: 7px !important;
    margin-bottom: 7px !important;
  }

  .margin-2 {
    margin-top: 14px !important;
    margin-bottom: 14px !important;
  }

  .margin-3 {
    margin-top: 21px !important;
    margin-bottom: 21px !important;
  }

  .mt-2 {
    margin-top: 2vh;
  }

  .mb-2 {
    margin-bottom: 2vh;
  }

  .mt-4 {
    margin-top: 4vh !important;
  }

  .color-upgrade0 {
    color: #03B8BE;
  }

  .color-upgrade30 {
    color: #266EB6;
  }

  .color-upgrade50 {
    color: #233D57;
  }

  .btn-up {
    color: #FFFFFF;
    font-size: small;
    height: 4.5vh;
    margin-top: 15px;
    margin-left: 7px;
    margin-right: 7px;
    border-radius: 10px;
  }

  .btn-upgrade0 {
    background: #03B8BE;
  }

  .btn-upgrade30 {
    background: #266EB6;
  }

  .btn-upgrade50 {
    background: #233D57;
  }
}
