<!-- Generated template for the ServicioComponent component -->
<!-- Esto es lo que cambia -->
<ion-row>
  <ion-col>
    <p class="cotiza">Cotización para: {{uso}}</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
      <p class="mensaje">“{{mensaje}}”</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <p class="frecuencia">Requiero: {{cantidad}} {{unidades}}</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <p class="frecuencia">Frecuencia de compra: {{frecuencia}}</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <p class="frecuencia">Favor de cotizar envío</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-icon class="download" name="md-cloud-download"></ion-icon>
    <a class="descarga">Dercargar archivo adjunto</a>
  </ion-col>
</ion-row>
<!-- Termina lo que cambia -->