<!-- Generated template for the ServicioComponent component -->
<!-- Esto es lo que cambia -->
<ion-row>
  <ion-col>
    <p class="cotiza">Cotización para mi empresa</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <p class="mensaje">Hola,Me gustaría que me diera más información acerca de sus productos o servicios. Por favor comuníquese conmigo lo antes
      posible. Gracias.</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <p class="frecuencia">Requiero: 22 cajas</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <p class="frecuencia">Frecuencia de compra: Mensual</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <p class="frecuencia">Favor de cotizar envío</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-icon class="download" name="md-cloud-download"></ion-icon>
    <a class="descarga">Dercargar archivo adjunto</a>
  </ion-col>
</ion-row>
<!-- Termina lo que cambia -->