<!-- Generated template for the RestauranteComponent component -->
<!-- Esto es lo que cambia -->
<ion-row>
  <ion-col>
    <ion-icon class="reserva" name="md-restaurant"></ion-icon>
    <a class="tipo">{{mensaje}}</a>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-icon class="reserva" name="ios-people"></ion-icon>
    <a class="tipo">{{personas}} personas</a>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
      <p class="mensaje">“{{mensaje}}”</p>

  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <a class="paciente">Hora y fecha de la cita</a>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-icon class="cita" name="md-calendar"></ion-icon>
    <a class="paciented">{{fechaCita}}</a>
    <ion-icon class="cita" name="md-alarm"></ion-icon>
    <a class="paciented">{{horaCita}} hrs.</a>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col style="margin-top: 1em;">
    <ion-icon class="download" name="md-pin"></ion-icon>
    <a class="descarga">El cliente revisó tu dirección</a>
  </ion-col>
</ion-row>