page-agenda {
  ion-col {
    display: flex;
  }

  .header-resumen {
    background: #005999;
    color: white;
    padding: 2%;
    font-weight: bold;
    font-size: 4vw;
  }

  .leads {
    font-weight: bold;
    color: #288ac1 !important;
  }

  .segment-md .segment-button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    height: 4.2rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    font-size: 5vw;
    font-weight: 500;
    line-height: 4rem;
    text-transform: unset;
    background: #005999;
    color: white;
    opacity: 1;
    -webkit-transition: 100ms all linear;
    transition: 100ms all linear;
    padding: 0 6px;
  }

  .segment-md .segment-button.segment-activated {
    color: #3bc7c4;
    border-color: #37b9bb;
    opacity: 1;
  }

  .leido {
    margin: 0px !important;
    border-radius: 2px;
    width: 100% !important;
    background: white !important;
    border: 0.6px solid #d0d0d0 !important;
    padding: 0px 10px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .noleido {
    margin: 0px !important;
    border-radius: 2px;
    width: 100% !important;
    background: #efefef !important;
    border: 0.6px solid #d0d0d0 !important;
    padding: 0px 10px;
    margin-bottom: 1px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .center {
    text-align: center;
  }

  .ver {
    cursor: pointer;
    width: 60%;
  }

}
