<ion-header>
  <ion-navbar color="azul">
    <ion-title>Empresa: {{empresa}}
      <br>ID Cliente: {{id}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <section>
    <ion-row align-items-center>
      <ion-col col-4 class="centrar leads">
        Seleccionar día:
      </ion-col>
      <ion-col col-6 class="centrar">
          <input type="date" class="input-date" placeholder="Fecha" [(ngModel)]="fechaInic" value="{{fechaInic}}" min="{{dia}}" max="2021-12-12" (change)="traeleads();">
      </ion-col>
      <ion-col col-2 class="centrar">
        <img src="assets/imgs/iconos/ALead.svg" class="carta" (click)="agregarLead();" />
      </ion-col>
    </ion-row>
  </section>
  <div class="resumen">
    <div class="header-resumen">
      Resumen del día
    </div>
    <ion-grid>
      <ion-row>
        <ion-col col-5>
          <img src="assets/imgs/agenda/ic_totalclientes.svg" width="14%;">
          <span class="leads" *ngIf="segment == 'todos'">Total de Clientes:</span><span class="valor"
            *ngIf="segment == 'todos'">{{clientesTotal}}</span>
          <span class="leads" *ngIf="segment == 'hoy'">Total de Clientes:</span><span class="valor"
            *ngIf="segment == 'hoy'">{{clientesTotalHoy}}</span>
          <span class="leads" *ngIf="segment == 'manana'">Total de Clientes:</span><span class="valor"
            *ngIf="segment == 'manana'">{{clientesTotalManana}}</span>
        </ion-col>
        <ion-col col-7>
          <img src="assets/imgs/agenda/ic_valor.svg" width="11%;">
          <span class="leads" *ngIf="segment == 'todos'">Valor de Leads:</span><span class="valor"
            *ngIf="segment == 'todos'">{{valorTotal | currency: 'MXN':'symbol-narrow' : '1.0'}}</span>
          <span class="leads" *ngIf="segment == 'hoy'">Valor de Leads:</span><span class="valor"
            *ngIf="segment == 'hoy'">{{valorTotalHoy | currency: 'MXN':'symbol-narrow' : '1.0'}}</span>
          <span class="leads" *ngIf="segment == 'manana'">Valor de Leads:</span><span class="valor"
            *ngIf="segment == 'manana'">{{valorTotalManana | currency: 'MXN':'symbol-narrow' : '1.0'}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="dias">
    <ion-segment [(ngModel)]="segment" class="segment-dias">
      <ion-segment-button value="hoy">
        Hoy
      </ion-segment-button>
      <ion-segment-button value="manana">
        Mañana
      </ion-segment-button>
      <ion-segment-button value="todos">
        Todos
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="segment" swipeSegment [tabsList]="listSegment" [(currentTab)]="segment"
      (tabChanged)="onTabChanged($event)" class="swipe-area" [hidden]="leadsEstatus === 0">
      <section *ngSwitchCase="'todos'">
        <ion-list detail-none ion-item *ngFor="let lead of listaLeads; let i = index;"
          (click)="verLead(lead); changeLeido(lead);" style="margin-bottom: 1.5%;">
          <ion-item-sliding #item>
            <ion-item no-lines>
              <ion-card [ngClass]="{'leido':lead.leido === 'leido','noleido':lead.leido === 'noleido'}">
                <ion-card-content>
                  <ion-row align-items-center style="margin:0%">
                    <ion-col col-10 align-self-center style="display: inherit;">
                      <a class="rate-nombre">
                        <strong>{{lead.NombreUsuarioEnvio | capitalize}}</strong>
                      </a>
                      <img *ngIf="lead.urgencia !== 'Sí'" src="assets/imgs/urgencia/{{lead.urgencia}}.svg"
                        style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                      <img *ngIf="lead.urgencia === 'Sí'" src="assets/imgs/urgencia/Si.svg"
                        style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                      &nbsp;<img *ngIf="lead.Canal != 'Reporte' && lead.Canal != 'App'"
                        src="assets/imgs/leads/ic_koomkinlead.svg"
                        style="vertical-align: middle;width: 8% !important;display: inline-block;margin-left: 2%;" />
                      <img *ngIf="lead.Canal == 'Reporte' || lead.Canal == 'App'"
                        src="assets/imgs/leads/ic_leadsExternos.svg"
                        style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                    </ion-col>
                    <ion-col col-1 style="text-align: right;" *ngIf="lead.url !== 'sinaudio'">
                      <img src="assets/imgs/leads/audio.svg"
                        style="vertical-align: middle;width: 100% !important;display: inline-block;    margin-left: 15%;" />
                    </ion-col>
                    <ion-col col-1 style="text-align: right;" *ngIf="lead.url == 'sinaudio'">
                      <img src="assets/imgs/leads/sin-audio.svg"
                        style="vertical-align: middle;width: 100% !important;display: inline-block;    margin-left: 15%;" />
                    </ion-col>
                    <ion-col col-1 *ngIf="lead.mensajesnoleidos > 0 && lead.mensajesnoleidos < 10">
                      <p
                        style="color: white !important; position: absolute; margin-left: 57% !important; margin-top: 24% !important; font-size: 1em; font-weight: bold;">
                        {{lead.mensajesnoleidos}}</p>
                      <img src="assets/imgs/leads/mensajes.svg"
                        style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                    </ion-col>

                    <ion-col col-1 *ngIf="lead.mensajesnoleidos > 10">
                      <p
                        style="color: white !important; position: absolute; margin-top: 24%; font-size: 1em; font-weight: bold;">
                        {{lead.mensajesnoleidos}}</p>
                      <img src="assets/imgs/leads/mensajes.svg"
                        style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                    </ion-col>
                    <ion-col col-1 *ngIf="lead.mensajesnoleidos == null || lead.mensajesnoleidos == 'null'">
                      <img src="assets/imgs/leads/sin-mensaje.svg"
                        style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                    </ion-col>
                    <ion-col col-1 *ngIf="lead.mensajesnoleidos == 0">
                      <img src="assets/imgs/leads/mensaje.svg"
                        style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-10>
                      <div>
                        <div class="rate-fecha">
                          {{lead.fechaenvio | date: 'dd-MM HH:mm' }}
                          <span class="inf-agenda"
                            [ngClass]="{'descartado-agenda':lead.clasificaLead == 'D','seguimiento-agenda':lead.clasificaLead == 'S','negociacion-agenda':lead.clasificaLead == 'N','vendido-agenda':lead.clasificaLead == 'V'}"
                            *ngIf="lead.scheduledAt !== 'Sin agenda'">&nbsp;{{lead.scheduledAt | date: 'dd-MM HH:mm' }}</span>
                          <span class="inf-agenda"
                            [ngClass]="{'descartado-agenda':lead.clasificaLead == 'D','seguimiento-agenda':lead.clasificaLead == 'S','negociacion-agenda':lead.clasificaLead == 'N','vendido-agenda':lead.clasificaLead == 'V'}"
                            *ngIf="lead.scheduledAt == 'Sin agenda'">&nbsp;{{lead.scheduledAt}}</span>
                          <br>
                          <div class="inf-valor">
                            Valor del Lead =
                            {{lead.ValorLead | currency: 'MXN':'symbol' : '1.0'}}
                            <img *ngIf="lead.status == 'perdida'" src="assets/imgs/llamadas/callmissed.svg"
                              style="vertical-align: middle; width: 6% !important; max-width: 150px !important; display: inline-block; margin-left: 2%; margin-top: -1%;"
                              (click)="showConfirm(lead)" />
                          </div>
                        </div>
                      </div>
                    </ion-col>
                    <ion-col col-2
                      style="display: flex; text-align: right; justify-content: flex-end; align-items: flex-end;">
                      <img src="assets/imgs/leads/ver.svg" class="ver">
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-item>
            <ion-item-options side="left" (ionSwipe)="showConfirm(lead)">
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </section>
      <section *ngSwitchCase="'hoy'">
        <ion-list detail-none ion-item *ngFor="let lead of listaLeadsHoy; let i = index;"
          (click)="verLead(lead); changeLeido(lead);" style="margin-bottom: 1.5%">
          <!--
            <div style="margin:2%;color: darkslategray;">&nbsp;{{lead.scheduledAt | date: 'HH' }}:00 hrs.</div>
          -->
          <ion-item-sliding #item>
            <ion-item no-lines>
              <ion-card [ngClass]="{'leido':lead.leido === 'leido','noleido':lead.leido === 'noleido'}">
                <ion-card-content>
                  <ion-row align-items-center style="margin:0%">
                    <ion-col col-10 align-self-center style="display: inherit;">
                      <a class="rate-nombre">
                        <strong>{{lead.NombreUsuarioEnvio | capitalize}}</strong>
                      </a>
                      <img *ngIf="lead.urgencia !== 'Sí'" src="assets/imgs/urgencia/{{lead.urgencia}}.svg"
                        style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                      <img *ngIf="lead.urgencia === 'Sí'" src="assets/imgs/urgencia/Si.svg"
                        style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                      &nbsp;<img *ngIf="lead.Canal != 'Reporte' && lead.Canal != 'App'"
                        src="assets/imgs/leads/ic_koomkinlead.svg"
                        style="vertical-align: middle;width: 8% !important;display: inline-block;margin-left: 2%;" />
                      <img *ngIf="lead.Canal == 'Reporte' || lead.Canal == 'App'"
                        src="assets/imgs/leads/ic_leadsExternos.svg"
                        style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                    </ion-col>
                    <ion-col col-1 style="text-align: right;" *ngIf="lead.url !== 'sinaudio'">
                      <img src="assets/imgs/leads/audio.svg"
                        style="vertical-align: middle;width: 100% !important;display: inline-block;    margin-left: 15%;" />
                    </ion-col>
                    <ion-col col-1 style="text-align: right;" *ngIf="lead.url == 'sinaudio'">
                      <img src="assets/imgs/leads/sin-audio.svg"
                        style="vertical-align: middle;width: 100% !important;display: inline-block;    margin-left: 15%;" />
                    </ion-col>
                    <ion-col col-1 *ngIf="lead.mensajesnoleidos > 0 && lead.mensajesnoleidos < 10">
                      <p
                        style="color: white !important; position: absolute; margin-left: 57% !important; margin-top: 24% !important; font-size: 1em; font-weight: bold;">
                        {{lead.mensajesnoleidos}}</p>
                      <img src="assets/imgs/leads/mensajes.svg"
                        style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                    </ion-col>

                    <ion-col col-1 *ngIf="lead.mensajesnoleidos > 10">
                      <p
                        style="color: white !important; position: absolute; margin-top: 24%; font-size: 1em; font-weight: bold;">
                        {{lead.mensajesnoleidos}}</p>
                      <img src="assets/imgs/leads/mensajes.svg"
                        style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                    </ion-col>
                    <ion-col col-1 *ngIf="lead.mensajesnoleidos == null || lead.mensajesnoleidos == 'null'">
                      <img src="assets/imgs/leads/sin-mensaje.svg"
                        style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                    </ion-col>
                    <ion-col col-1 *ngIf="lead.mensajesnoleidos == 0">
                      <img src="assets/imgs/leads/mensaje.svg"
                        style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-10>
                      <div>
                        <div class="rate-fecha">
                          {{lead.fechaenvio | date: 'dd-MM HH:mm' }}
                          <span class="inf-agenda"
                            [ngClass]="{'descartado-agenda':lead.clasificaLead == 'D','seguimiento-agenda':lead.clasificaLead == 'S','negociacion-agenda':lead.clasificaLead == 'N','vendido-agenda':lead.clasificaLead == 'V'}"
                            *ngIf="lead.scheduledAt !== 'Sin agenda'">&nbsp;{{lead.scheduledAt | date: 'dd-MM HH:mm' }}</span>
                          <span class="inf-agenda"
                            [ngClass]="{'descartado-agenda':lead.clasificaLead == 'D','seguimiento-agenda':lead.clasificaLead == 'S','negociacion-agenda':lead.clasificaLead == 'N','vendido-agenda':lead.clasificaLead == 'V'}"
                            *ngIf="lead.scheduledAt == 'Sin agenda'">&nbsp;{{lead.scheduledAt}}</span>
                          <br>
                          <div class="inf-valor">
                            Valor del Lead =
                            {{lead.ValorLead | currency: 'MXN':'symbol' : '1.0'}}
                            <img *ngIf="lead.status == 'perdida'" src="assets/imgs/llamadas/callmissed.svg"
                              style="vertical-align: middle; width: 6% !important; max-width: 150px !important; display: inline-block; margin-left: 2%; margin-top: -1%;"
                              (click)="showConfirm(lead)" />
                          </div>
                        </div>
                      </div>
                    </ion-col>
                    <ion-col col-2
                      style="display: flex; text-align: right; justify-content: flex-end; align-items: flex-end;">
                      <img src="assets/imgs/leads/ver.svg" class="ver">
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-item>
            <ion-item-options side="left" (ionSwipe)="showConfirm(lead)">
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </section>
      <section *ngSwitchCase="'manana'">
        <ion-list detail-none ion-item *ngFor="let lead of listaLeadsManana; let i = index;"
          (click)="verLead(lead); changeLeido(lead);" style="margin-bottom: 1.5%;">
          <ion-item-sliding #item>
            <ion-item no-lines>
              <ion-card [ngClass]="{'leido':lead.leido === 'leido','noleido':lead.leido === 'noleido'}">
                <ion-card-content>
                  <ion-row align-items-center style="margin:0%">
                    <ion-col col-10 align-self-center style="display: inherit;">
                      <a class="rate-nombre">
                        <strong>{{lead.NombreUsuarioEnvio | capitalize}}</strong>
                      </a>
                      <img *ngIf="lead.urgencia !== 'Sí'" src="assets/imgs/urgencia/{{lead.urgencia}}.svg"
                        style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                      <img *ngIf="lead.urgencia === 'Sí'" src="assets/imgs/urgencia/Si.svg"
                        style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                      &nbsp;<img *ngIf="lead.Canal != 'Reporte' && lead.Canal != 'App'"
                        src="assets/imgs/leads/ic_koomkinlead.svg"
                        style="vertical-align: middle;width: 8% !important;display: inline-block;margin-left: 2%;" />
                      <img *ngIf="lead.Canal == 'Reporte' || lead.Canal == 'App'"
                        src="assets/imgs/leads/ic_leadsExternos.svg"
                        style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                    </ion-col>
                    <ion-col col-1 style="text-align: right;" *ngIf="lead.url !== 'sinaudio'">
                      <img src="assets/imgs/leads/audio.svg"
                        style="vertical-align: middle;width: 100% !important;display: inline-block;    margin-left: 15%;" />
                    </ion-col>
                    <ion-col col-1 style="text-align: right;" *ngIf="lead.url == 'sinaudio'">
                      <img src="assets/imgs/leads/sin-audio.svg"
                        style="vertical-align: middle;width: 100% !important;display: inline-block;    margin-left: 15%;" />
                    </ion-col>
                    <ion-col col-1 *ngIf="lead.mensajesnoleidos > 0 && lead.mensajesnoleidos < 10">
                      <p
                        style="color: white !important; position: absolute; margin-left: 57% !important; margin-top: 24% !important; font-size: 1em; font-weight: bold;">
                        {{lead.mensajesnoleidos}}</p>
                      <img src="assets/imgs/leads/mensajes.svg"
                        style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                    </ion-col>

                    <ion-col col-1 *ngIf="lead.mensajesnoleidos > 10">
                      <p
                        style="color: white !important; position: absolute; margin-top: 24%; font-size: 1em; font-weight: bold;">
                        {{lead.mensajesnoleidos}}</p>
                      <img src="assets/imgs/leads/mensajes.svg"
                        style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                    </ion-col>
                    <ion-col col-1 *ngIf="lead.mensajesnoleidos == null || lead.mensajesnoleidos == 'null'">
                      <img src="assets/imgs/leads/sin-mensaje.svg"
                        style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                    </ion-col>
                    <ion-col col-1 *ngIf="lead.mensajesnoleidos == 0">
                      <img src="assets/imgs/leads/mensaje.svg"
                        style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-10>
                      <div>
                        <div class="rate-fecha">
                          {{lead.fechaenvio | date: 'dd-MM HH:mm' }}
                          <span class="inf-agenda"
                            [ngClass]="{'descartado-agenda':lead.clasificaLead == 'D','seguimiento-agenda':lead.clasificaLead == 'S','negociacion-agenda':lead.clasificaLead == 'N','vendido-agenda':lead.clasificaLead == 'V'}"
                            *ngIf="lead.scheduledAt !== 'Sin agenda'">&nbsp;{{lead.scheduledAt | date: 'dd-MM HH:mm' }}</span>
                          <span class="inf-agenda"
                            [ngClass]="{'descartado-agenda':lead.clasificaLead == 'D','seguimiento-agenda':lead.clasificaLead == 'S','negociacion-agenda':lead.clasificaLead == 'N','vendido-agenda':lead.clasificaLead == 'V'}"
                            *ngIf="lead.scheduledAt == 'Sin agenda'">&nbsp;{{lead.scheduledAt}}</span>
                          <br>
                          <div class="inf-valor">
                            Valor del Lead =
                            {{lead.ValorLead | currency: 'MXN':'symbol' : '1.0'}}
                            <img *ngIf="lead.status == 'perdida'" src="assets/imgs/llamadas/callmissed.svg"
                              style="vertical-align: middle; width: 6% !important; max-width: 150px !important; display: inline-block; margin-left: 2%; margin-top: -1%;"
                              (click)="showConfirm(lead)" />
                          </div>
                        </div>
                      </div>
                    </ion-col>
                    <ion-col col-2
                      style="display: flex; text-align: right; justify-content: flex-end; align-items: flex-end;">
                      <img src="assets/imgs/leads/ver.svg" class="ver">
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-item>
            <ion-item-options side="left" (ionSwipe)="showConfirm(lead)">
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </section>
    </div>

    <ion-list-header class="center" *ngIf="clientesTotalHoy == 0 && segment == 'hoy'">
      No tienes llamadas agendadas
    </ion-list-header>
    <ion-list-header class="center" *ngIf="clientesTotalManana == 0 && segment == 'manana'">
      No tienes llamadas agendadas
    </ion-list-header>
    <ion-list-header class="center" *ngIf="clientesTotal == 0 && segment == 'todos'">
      No tienes llamadas agendadas
    </ion-list-header>
  </div>
</ion-content>