<!-- Generated template for the ProveedorComponent component -->
<!-- Esto es lo que cambia 
<ion-row *ngIf="usoproveedor.length > 0">
  <ion-col>
    <p class="cotiza">Cotización para: {{usoproveedor}}</p>
  </ion-col>
</ion-row>-->
<ion-row *ngIf="mensajeproveedor">
  <ion-col>
    <p class="mensaje">“{{mensajeproveedor}}”</p>
  </ion-col>
</ion-row>
<!--
<ion-row *ngIf="mensaje">
  <ion-col>
    <p class="mensaje">“{{mensaje}}”</p>
  </ion-col>
</ion-row>
<ion-row *ngIf="cantidadproveedor">
  <ion-col>
    <p class="frecuencia">Requiero: {{cantidadproveedor}} {{unidadesproveedor}}</p>
  </ion-col>
</ion-row>
<ion-row *ngIf="frecuenciaproveedor">
  <ion-col>
    <p class="frecuencia">Frecuencia de compra: {{frecuenciaproveedor}}</p>
  </ion-col>
</ion-row>
<ion-row *ngIf="envioproveedor > 0">
  <ion-col>
    <p class="frecuencia">Favor de cotizar envío</p>
  </ion-col>
</ion-row>
-->
<!-- Termina lo que cambia -->
