<ion-header>

    <ion-navbar>
        <ion-title>usuario</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <table *ngIf="vista == 'informacion'">
        <tr>
            <th class="contacto" colspan="2">Datos Fiscales</th>
        </tr>
        <tr>
            <td class="campos">Nombre del titular</td>
            <td class="datos">{{f_nombre}} {{f_paterno}} {{f_materno}}</td>
        </tr>
        <tr>
            <td class="campos">Razón social</td>
            <td class="datos">{{razon}}</td>
        </tr>
        <tr>
            <td class="campos" class="campos">RFC</td>
            <td class="datos">{{rfc}}</td>
        </tr>
        <tr>
            <td class="campos">Domicilio Fiscal</td>
            <td class="datos">{{calle}} {{numeroexterior}} {{numerointerior}}, {{colonia}}, {{ciudad}} {{cp}}</td>
        </tr>
    </table>
    <table *ngIf="vista === 'editar'">
        <tr>
            <th class="contacto" colspan="2">Datos fiscales</th>
        </tr>
        <tr>
            <td class="campos">Nombre del titular *</td>
            <input type="text" name="Nombre del titular" [(ngModel)]="f_nombre" required>
        </tr>
        <tr>
            <td class="campos">Apellido Paterno *</td>
            <input type="text" name="Nombre del titular" [(ngModel)]="f_paterno" required>
        </tr>
        <tr>
            <td class="campos">Apellido Materno *</td>
            <input type="text" name="Nombre del titular" [(ngModel)]="f_materno" required>
        </tr>
        <tr>
            <td class="campos">Razón social *</td>
            <input type="text" name="Razón social" [(ngModel)]="razon" required>
        </tr>
        <tr>
            <td class="campos">RFC *</td>
            <input type="text" name="RFC" [(ngModel)]="rfc" required>
        </tr>
        <tr>
            <td class="campos">Calle *</td>
            <input type="text" name="RFC" [(ngModel)]="calle" required>
        </tr>
        <tr>
            <td class="campos">No. Exterior *</td>
            <input type="text" name="RFC" [(ngModel)]="numeroexterior" required>
        </tr>
        <tr>
            <td class="campos">No. Interior</td>
            <input type="text" name="RFC" [(ngModel)]="numerointerior" required>
        </tr>
        <tr>
            <td class="campos">Codigo Postal *</td>
            <input type="text" name="RFC" [(ngModel)]="cp" required>
        </tr>
        <tr>
            <td class="campos">Colonia *</td>
            <input type="text" name="RFC" [(ngModel)]="colonia" required>
        </tr>
        <tr>
            <td class="campos">Ciudad *</td>
            <input type="text" name="RFC" [(ngModel)]="ciudad" required>
        </tr>
        <tr>
            <td class="campos">Delegación *</td>
            <input type="text" name="RFC" [(ngModel)]="delegacion" required>
        </tr>
        <tr>
            <td class="campos">Estado *</td>
            <select type="text" [(ngModel)]="stateId" [name]="dictionary[getState(estado)]">
        <option value="0">Seleccionar estado</option>
        <option value="2537">Aguascalientes</option>
        <option value="2538">Baja California N</option>
        <option value="2539">Baja California S</option>
        <option value="2540">Campeche</option>
        <option value="2541">Chiapas</option>
        <option value="2542">Chihuahua</option>
        <option value="2543">Coahuila</option>
        <option value="2544">Colima</option>
        <option value="2545">Ciudad de México</option>
        <option value="2546">Durango</option>
        <option value="2547">Guanajuato</option>
        <option value="2548">Guerrero</option>
        <option value="2549">Hidalgo</option>
        <option value="2550">Jalisco</option>
        <option value="2551">Estado de México</option>
        <option value="2552">Michoacán</option>
        <option value="2553">Morelos</option>
        <option value="2554">Nayarit</option>
        <option value="2555">Nuevo León</option>
        <option value="2556">Oaxaca</option>
        <option value="2557">Puebla</option>
        <option value="2558">Querétaro</option>
        <option value="2559">Quintana Roo</option>
        <option value="2560">San Luis Potosí</option>
        <option value="2561">Sinaloa</option>
        <option value="2562">Sonora</option>
        <option value="2563">Tabasco</option>
        <option value="2564">Tamaulipas</option>
        <option value="2565">Tlaxcala</option>
        <option value="2566">Veracruz</option>
        <option value="2567">Yucatán</option>
        <option value="2568">Zacatecas</option>
      </select>
        </tr>

    </table>
    <div class="cuadro">
        <button *ngIf="vista == 'informacion'" class="edit" (click)="changePage('editar')">Modificar Datos</button>
        <button *ngIf="vista === 'editar'" class="edit" (click)="changePage('informacion');">Cancelar</button>
        <button *ngIf="vista === 'editar'" class="edit" (click)="changePage('informacion');updateFiscal();">Guardar</button>
    </div>
    <!--<div class="cuadro1">
    <button class="cancelar" (click)="mostrar_modal()">Cancelar Suscripción</button>
  </div>-->
</ion-content>

<!-- 
  
<ion-header>
  <ion-navbar>
    <ion-title>pago</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <div class="tarjeta">Datos de la tarjeta</div>
    <div class="campos">Número de tarjeta</div>
    <div class="campos">
      <input class="card" type="text" name="Número de tarjeta">
      <br>
    </div>
    <div class="cuadro1">
      <div class="campos">Fecha de vencimiento</div>
      <div class="campos">
        <select>
          <option value="MES">Mes</option>
          <option value="Enero">01</option>
          <option value="Febrero">02</option>
          <option value="Marzo">03</option>
          <option value="Abril">04</option>
          <option value="Mayo">05</option>
          <option value="Junio">06</option>
          <option value="Julio">07</option>
          <option value="Agosto">08</option>
          <option value="Septiembre">09</option>
          <option value="Octubre">10</option>
          <option value="Noviembre">11</option>
          <option value="Diciembre">12</option>
        </select>
        <select>
          <option value="AÑO">Año</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
        </select>
        <br>
      </div>
    </div>
    <div class="cuadro2">
      <div class="campos">Código de seguridad</div>
      <div class="campos">
        <input class="card" type="text" name="Código de seguridad" placeholder="CVV">
        <br>
      </div>
    </div>
    <div class="campos">Nombre de tarjetahabiente</div>
    <div class="campos">
      <input class="card" type="text" name="Nombre de tarjetahabiente">
      <br>
    </div>
    <div class="campos">Domicilio de tarjetahabiente</div>
    <div class="campos">
      <input class="card" type="text" name="Domicilio de tarjetahabiente" placeholder="Calle,No.,Colonia,Delegación,Ciudad,C.P.">
      <br>
    </div>
    <br>
    <div class="cuadro3">
      <button class="edit">Agregar Tarjeta</button>
    </div>
  </div>
</ion-content>

-->