page-pago {
    .cuadro{
        width: 100%;
        height: 100%;
      }
      .cuadro1{
        width: 47%;
        height: 100%;
        display:inline-block; 
        margin-left: 0px; 
      }
      .cuadro2{
        width: 51%;
        height: 100%;
        display:inline-block;  
      }
      .cuadro3{
        width: 100%;
        height: 100%;
        text-align: center;
      }
      .edit{
        background: #10cebc;
        border: transparent;
        font-size: 20px;
        text-align: center;
        color: white;
        border-radius: 10px; 
        margin-bottom: 10%;
        cursor: pointer;
      }
      .contacto{
        color: #10cebc;
        font-size: 16px;
        margin-bottom: 5%;
      }
      .campos{
        color: gray;
        font-size: 14px;
        margin-bottom: 5%;
      }
      .tarjeta{
        color: #10cebc;
        font-size: 16px;
        margin-bottom: 5%;
        margin-top: 1%;
      }
      table {
        border-collapse: collapse;
      }
      .info{
        text-align: justify;
        font-size: 14px;
      }
      .card{
        width: 90%;
        height: 20px;
      }
      select{
        width: 43%;
        font-size: 16px;
        cursor: pointer;
      }
}
