page-pago {
  /*  .cuadro{
        width: 100%;
        height: 100%;
      }
      .cuadro1{
        width: 47%;
        height: 100%;
        display:inline-block; 
        margin-left: 0px; 
      }
      .cuadro2{
        width: 51%;
        height: 100%;
        display:inline-block;  
      }
      .cuadro3{
        width: 100%;
        height: 100%;
        text-align: center;
      }
      .edit{
        background: #10cebc;
        border: transparent;
        font-size: 20px;
        text-align: center;
        color: white;
        border-radius: 10px; 
        margin-bottom: 10%;
        cursor: pointer;
      }
      .contacto{
        color: #10cebc;
        font-size: 16px;
        margin-bottom: 5%;
      }
      .campos{
        color: gray;
        font-size: 14px;
        margin-bottom: 5%;
      }
      .tarjeta{
        color: #10cebc;
        font-size: 16px;
        margin-bottom: 5%;
        margin-top: 1%;
      }
      table {
        border-collapse: collapse;
      }
      .info{
        text-align: justify;
        font-size: 14px;
      }
      .card{
        width: 90%;
        height: 20px;
      }
      select{
        font-size: 16px;
        cursor: pointer;
        width: 99%;
      } /*/

      .cuadro{
        text-align: center;
        height: auto;
      }
      .cuadro1{
        text-align: right;
        width: 100%;
        height: auto;
        margin-top: 20%;
      }
      .cancelar{
        color: gray;
        text-decoration: underline;
        background: transparent;
      }
      .contacto{
        color: #10cebc;
        font-size: 5vw;
        margin-bottom: 4%;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }
      td{
        width: 45%;
        padding-bottom: 5.8%;
        font-size: 4vw;
      }
      tr{
        padding: 5px;
      }
      th{
        text-align: left !important;
        font-weight: normal !important;
        padding-bottom: 4%;
        padding-top: 1%;
        margin-left: 0% !important;
      }
      .edit{
        background: #10cebc;
        border: transparent;
        font-size: 5vw;
        text-align: center;
        color: white;
        border-radius: 10px; 
        cursor: pointer;
        padding: 3%;
        width: 45%;
      }

      select{
        font-size: 16px;
        cursor: pointer;
        width: 99%;
      }

      .campos {
        font-size: 5vw;
        color: #606060;
        font-weight: 700;
      }

      .datos {
        font-size: 5vw;
        color: #606060;
        font-weight: 350;
        background: transparent;
      }
      
}
