page-modal-release {
    .renovacion-positivo {
        background-color: #FE703F;
        color: white;
        border: 1.1px solid #FE703F;
        width: 50%;
        margin: 5%;
        margin-left: 25%;
        padding: 2%;
        font-size: 3vh;
        border-radius: 50px;
    }
}
