<ion-header>
    <ion-navbar color="azul">
        <ion-buttons *ngIf="tipoBanner == 14">
            <button class="regre" (click)="irInicio()">
                <ion-icon class="regre" name="ios-arrow-back" style="font-size: 1.8em;"></ion-icon>
                Regresar
            </button>
        </ion-buttons>
        <ion-buttons *ngIf="tipoBanner == 15">
            <button class="regre" (click)="registrarInteres(0);irInicio()">
                <ion-icon class="regre" name="ios-arrow-back" style="font-size: 1.8em;"></ion-icon>
                Regresar
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
  <img src="https://firebasestorage.googleapis.com/v0/b/chatcintanegra.appspot.com/o/CRM_app2.svg?alt=media&token=64a80adb-af9e-49f8-9f6e-12175e13cb9e" width="100%">
  <button *ngIf="tipoBanner == 14" class="renovacion-positivo" (click)="registrarInteres(0);goStore()">Actualizar</button>
</ion-content>
