<ion-header>
    <ion-navbar color="azul">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Empresa: {{empresa}}
            <br>ID Cliente: {{id}}</ion-title>
    </ion-navbar>
  </ion-header>  


  <ion-content>
      <div class="adicional-container" >
          <ion-segment class="adiconal-header" [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
              <ion-segment-button value="first" class="segment-datos">
                Tus datos
              </ion-segment-button>
              <ion-segment-button value="second" class="segment-empresa">
                Tu empresa    
              </ion-segment-button>
              <ion-segment-button value="third" class="segment-objetivo">
                Cliente Objetivo
              </ion-segment-button>
          </ion-segment>
          
          <ion-slides class="adicional-content-container" (ionSlideDidChange)="onSlideChanged($event)" #loopSlider>
          
              <ion-slide style="width: 100% !important;">
                  <div class="brief-contenedor">
                      <p class="titulo-brief">Nombre Completo</p>
                      <input type="text" class="input-brief">
                  
                      <ion-grid class="anuncio-grid">
                          <p class="titulo-brief">Fecha de Nacimiento</p>
                          <ion-item>
                              <ion-datetime class="seleccion-brief-grande" displayFormat="DD MMMM YYYY" [(ngModel)]="event.month" cancelText =Cancelar doneText=Aceptar></ion-datetime>
                          </ion-item>
                      </ion-grid>
          
                      <ion-grid class="anuncio-grid">
                          <ion-row style="width: 100%;margin-bottom: 0%;">
                              <ion-col col-6>
                                  <p class="titulo-brief">Puesto</p>
                                  <select type="text" class="seleccion-brief" [(ngModel)]="positions">
                                      <option *ngFor="let puesto of positions">
                                        {{puesto.nombre}}
                                      </option>
                                    </select>
                              </ion-col>
                              <ion-col col-6>
                                  <p class="titulo-brief">C.P. domicilio</p>
                                  <input type="number" class="seleccion-brief">
                              </ion-col>
                          </ion-row>
                      </ion-grid>
          
                      <ion-grid class="anuncio-grid">
                          <ion-row style="width: 100%;margin-bottom: 0%;">
                              <ion-col col-6>
                                  <p class="titulo-brief">Años en tu empresa</p>
                                  <input type="number" class="seleccion-brief">
                              </ion-col>
                              <ion-col col-6>
                                  <p class="titulo-brief">Educación</p>
                                  <select type="text" class="seleccion-brief" [(ngModel)]="carreras">
                                    <option *ngFor="let carrera of carreras">
                                      {{carrera.nombre}}
                                    </option>
                                  </select>
                              </ion-col>
                          </ion-row>
                      </ion-grid>
                     <button class="guardar">Guardar</button>
                  </div>
              </ion-slide>
              <ion-slide>
                <div class="brief-contenedor">
                    <p class="titulo-brief">Nombre Comercial de tu empresa</p>
                    <input type="text" class="input-brief">
                
                    <p class="titulo-brief">RFC de tu empresa</p>
                    <input type="number" class="seleccion-brief-grande">
            
                    <div class="bloque">
                      <div class="mitad-izq">
                        <p class="titulo-brief">Número de Empleados</p>
                        <input type="number" class="seleccion-brief-grande">
                      </div>
                      <div class="mitad-der">
                        <p class="titulo-brief">Número de Socios</p>
                        <input type="number" class="seleccion-brief-grande">
                      </div>
                    </div>
                    <ion-grid class="anuncio-grid">
                        <ion-row style="width: 100%;margin-bottom: 0%;">
                            <ion-col col-6>
                              <p class="titulo-brief">Empresa Familiar</p>
                              <ion-item style="width: 99% !important;">
                                <ion-label *ngIf="familiar == true" class="informacion-brief barra-no">Si</ion-label>
                                <ion-label *ngIf="familiar == false" class="informacion-brief barra-no">No</ion-label>
                                <ion-toggle color="secondary" class="empresa-si" style="padding: 12px 60px 12px 16px;" [(ngModel)]="familiar"></ion-toggle>
                              </ion-item>      
                            </ion-col>
                            <ion-col col-6>
                              <p class="titulo-brief">Tipo</p>
                              <ul class="chico">
                                <li class="zero-chico" [ngClass]="{'selection':eleccion === 1}">
                                    <ion-grid class="anuncio-grid" style="height: 100%;justify-content: center;padding: 0;">
                                        <ion-row style="width: 100%;margin-bottom: 0%;">
                                            <ion-col col-4 style="height: 100%;">
                                              <img class="img-completo" src="assets/imgs/masbrief/ic_particular.svg">
                                            </ion-col>
                                            <ion-col col-8 style="height: 100%;">
                                              <span>PFAE</span>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                  
                                </li>
                                <li class="zero-chico" [ngClass]="{'selection':eleccion === 2}">
                                    <ion-grid class="anuncio-grid" style="height: 100%;justify-content: center;padding: 0;">
                                        <ion-row style="width: 100%;margin-bottom: 0%;">
                                            <ion-col col-4 style="height: 100%;">
                                              <img class="img-completo" src="assets/imgs/masbrief/ic_PM.svg">
                                            </ion-col>
                                            <ion-col col-8 style="height: 100%;">
                                              <span>PM</span>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </li>
                              </ul>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <p class="titulo-brief">Rango de Ventas Anuales (Último año)</p>
                    <ul class="grande">
                        <li class="zero-grande" [ngClass]="{'selection':eleccion === 1}">
                            <ion-grid class="anuncio-grid" style="height: 100%;justify-content: center;padding: 0;">
                                <ion-row style="width: 100%;margin-bottom: 0%;">
                                    <ion-col col-12 style="height: 100%;">
                                        <span>Micro 1<br>(<1 millón)</span>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>  
                        </li>
                        <li class="zero-grande" [ngClass]="{'selection':eleccion === 2}">
                            <ion-grid class="anuncio-grid" style="height: 100%;justify-content: center;padding: 0;">
                                <ion-row style="width: 100%;margin-bottom: 0%;">
                                    <ion-col col-12 style="height: 100%;">
                                        <span>Micro 2<br>(5 millones)</span>
                                      </ion-col>
                                </ion-row>
                            </ion-grid>  
                        </li>
                        <li class="zero-grande" [ngClass]="{'selection':eleccion === 3}">
                            <ion-grid class="anuncio-grid" style="height: 100%;justify-content: center;padding: 0;">
                                <ion-row style="width: 100%;margin-bottom: 0%;">
                                    <ion-col col-12 style="height: 100%;">
                                        <span>Pequeña 1<br>(10 millones)</span>
                                      </ion-col>
                                </ion-row>
                            </ion-grid>  
                        </li>
                        <li class="zero-grande" [ngClass]="{'selection':eleccion === 4}">
                            <ion-grid class="anuncio-grid" style="height: 100%;justify-content: center;padding: 0;">
                                <ion-row style="width: 100%;margin-bottom: 0%;">
                                    <ion-col col-12 style="height: 100%;">
                                        <span>Pequeña 2<br>(20 millones)</span>
                                      </ion-col>
                                </ion-row>
                            </ion-grid> 
                        </li>
                        <li class="zero-grande" [ngClass]="{'selection':eleccion === 5}">
                            <ion-grid class="anuncio-grid" style="height: 100%;justify-content: center;padding: 0;">
                                <ion-row style="width: 100%;margin-bottom: 0%;">
                                    <ion-col col-12 style="height: 100%;">
                                        <span>Mediana<br>(+20 millones)</span>
                                      </ion-col>
                                </ion-row>
                            </ion-grid>  
                        </li>
                    </ul>
                    <p class="titulo-brief">Principal Ventaja Competitiva</p>
                    <ul class="mediano">
                        <li class="zero-mediano" [ngClass]="{'selection':eleccion === 1}">
                            <ion-grid class="anuncio-grid" style="height: 100%;justify-content: center;padding: 0;">
                                <ion-row style="width: 100%;margin-bottom: 0%;">
                                    <ion-col col-12 style="height: 100%;">
                                        <span>Precio</span>
                                      </ion-col>
                                </ion-row>
                            </ion-grid>  
                        </li>
                        <li class="zero-mediano" [ngClass]="{'selection':eleccion === 2}">
                            <ion-grid class="anuncio-grid" style="height: 100%;justify-content: center;padding: 0;">
                                <ion-row style="width: 100%;margin-bottom: 0%;">
                                    <ion-col col-12 style="height: 100%;">
                                        <span>Calidad</span>
                                      </ion-col>
                                </ion-row>
                            </ion-grid>  
                        </li>
                        <li class="zero-mediano" [ngClass]="{'selection':eleccion === 3}">
                            <ion-grid class="anuncio-grid" style="height: 100%;justify-content: center;padding: 0;">
                                <ion-row style="width: 100%;margin-bottom: 0%;">
                                    <ion-col col-12 style="height: 100%;">
                                        <span>Tiempo de Entrega</span>
                                      </ion-col>
                                </ion-row>
                            </ion-grid>  
                        </li>
                        <li class="zero-mediano" [ngClass]="{'selection':eleccion === 4}">
                            <ion-grid class="anuncio-grid" style="height: 100%;justify-content: center;padding: 0;">
                                <ion-row style="width: 100%;margin-bottom: 0%;">
                                    <ion-col col-12 style="height: 100%;">
                                        <span>Otro</span>
                                      </ion-col>
                                </ion-row>
                            </ion-grid>  
                        </li>
                    </ul>
                    <p class="titulo-brief">Detalla dicha ventaja competitiva</p>
                    <textarea class="otro" rows="2" cols="32" maxlength="150" placeholder="Detalla tu ventaja competitiva..." required></textarea>
                    
                    <button class="guardar">Guardar</button>
            
                </div>
              </ion-slide>
              <ion-slide>
                  <div class="brief-contenedor">
                      <p class="titulo-brief" style="text-align: center">Particulares</p>

                      <p class="titulo-brief">Segmento de ingresos anuales</p>
                      <ul class="mediano">
                          <li class="zero-mediano" [ngClass]="{'selection':eleccion === 1}">
                              <ion-grid class="anuncio-grid" style="height: 100%;justify-content: center;padding: 0;">
                                  <ion-row style="width: 100%;margin-bottom: 0%;">
                                      <ion-col col-12 style="height: 100%;">
                                          <span class="letra-grande">Bajo</span>
                                        </ion-col>
                                  </ion-row>
                              </ion-grid> 
                          </li>
                          <li class="zero-mediano" [ngClass]="{'selection':eleccion === 2}">
                              <ion-grid class="anuncio-grid" style="height: 100%;justify-content: center;padding: 0;">
                                  <ion-row style="width: 100%;margin-bottom: 0%;">
                                      <ion-col col-12 style="height: 100%;">
                                          <span class="letra-grande">Medio</span>
                                        </ion-col>
                                  </ion-row>
                              </ion-grid> 
                          </li>
                          <li class="zero-mediano" [ngClass]="{'selection':eleccion === 3}">
                              <ion-grid class="anuncio-grid" style="height: 100%;justify-content: center;padding: 0;">
                                  <ion-row style="width: 100%;margin-bottom: 0%;">
                                      <ion-col col-12 style="height: 100%;">
                                          <span class="letra-grande">Medio Alto</span>
                                        </ion-col>
                                  </ion-row>
                              </ion-grid> 
                          </li>
                          <li class="zero-mediano" [ngClass]="{'selection':eleccion === 4}">
                              <ion-grid class="anuncio-grid" style="height: 100%;justify-content: center;padding: 0;">
                                  <ion-row style="width: 100%;margin-bottom: 0%;">
                                      <ion-col col-12 style="height: 100%;">
                                          <span class="letra-grande">Alto</span>
                                        </ion-col>
                                  </ion-row>
                              </ion-grid> 
                          </li>
                      </ul>

                      <p class="titulo-brief">Edad (Selecciona una o más opciones)</p>
                      <ul class="grande">
                          <li class="zero-grande" [ngClass]="{'selection':eleccion === 1}">
                              <ion-grid class="anuncio-grid" style="height: 100%;justify-content: center;padding: 0;">
                                  <ion-row style="width: 100%;margin-bottom: 0%;">
                                      <ion-col col-12 style="height: 100%;">
                                          <span class="letra-grande">18-25<br>años</span>
                                        </ion-col>
                                  </ion-row>
                              </ion-grid>  
                          </li>
                          <li class="zero-grande" [ngClass]="{'selection':eleccion === 2}">
                              <ion-grid class="anuncio-grid" style="height: 100%;justify-content: center;padding: 0;">
                                  <ion-row style="width: 100%;margin-bottom: 0%;">
                                      <ion-col col-12 style="height: 100%;">
                                          <span class="letra-grande">26-32<br>años</span>
                                        </ion-col>
                                  </ion-row>
                              </ion-grid> 
                          </li>
                          <li class="zero-grande" [ngClass]="{'selection':eleccion === 3}">
                              <ion-grid class="anuncio-grid" style="height: 100%;justify-content: center;padding: 0;">
                                  <ion-row style="width: 100%;margin-bottom: 0%;">
                                      <ion-col col-12 style="height: 100%;">
                                          <span class="letra-grande">33-40<br>años</span>
                                        </ion-col>
                                  </ion-row>
                              </ion-grid> 
                          </li>
                          <li class="zero-grande" [ngClass]="{'selection':eleccion === 4}">
                              <ion-grid class="anuncio-grid" style="height: 100%;justify-content: center;padding: 0;">
                                  <ion-row style="width: 100%;margin-bottom: 0%;">
                                      <ion-col col-12 style="height: 100%;">
                                          <span class="letra-grande">41-55<br>años</span>
                                        </ion-col>
                                  </ion-row>
                              </ion-grid> 
                          </li>
                          <li class="zero-grande" [ngClass]="{'selection':eleccion === 5}">
                              <ion-grid class="anuncio-grid" style="height: 100%;justify-content: center;padding: 0;">
                                  <ion-row style="width: 100%;margin-bottom: 0%;">
                                      <ion-col col-12 style="height: 100%;">
                                          <span class="letra-grande">55-65<br>años</span>
                                        </ion-col>
                                  </ion-row>
                              </ion-grid> 
                          </li>
                      </ul>

                      <p class="titulo-brief">Sector</p>
                      <ul class="chico" style="margin-top: 0%;">
                          <li class="zero-chico" [ngClass]="{'selection':eleccion === 1}">
                              <ion-grid class="anuncio-grid" style="height: 100%;justify-content: center;padding: 0;">
                                  <ion-row style="width: 100%;margin-bottom: 0%;">
                                      <ion-col col-4 style="height: 100%;">
                                        <img class="img-mitad" src="assets/imgs/masbrief/ic_femenino.svg">
                                      </ion-col>
                                      <ion-col col-8 style="height: 100%;">
                                        <span>Femenino</span>
                                      </ion-col>
                                  </ion-row>
                              </ion-grid>
                          </li>
                          <li class="zero-chico" [ngClass]="{'selection':eleccion === 2}">
                              <ion-grid class="anuncio-grid" style="height: 100%;justify-content: center;padding: 0;">
                                  <ion-row style="width: 100%;margin-bottom: 0%;">
                                      <ion-col col-4 style="height: 100%;">
                                        <img class="img-mitad" src="assets/imgs/masbrief/ic_masculino.svg">
                                      </ion-col>
                                      <ion-col col-8 style="height: 100%;">
                                        <span>Masculino</span>
                                      </ion-col>
                                  </ion-row>
                              </ion-grid>
                          </li>
                      </ul>

                      <p class="titulo-brief">Categoria</p>
                      <div class="botones-brief">
                          <button class="boton-brief" style="margin-right: 0%;" [ngClass]="{'boton-brief-activo':target === 'Empresas'}">
                              <div class="botones-completo">
                                  <div class="botones-mitad">
                                    <img class="img-mitad" *ngIf="target !== 'Empresas'" src="assets/imgs/masbrief/ic_empresa.svg">
                                    <img class="img-mitad" *ngIf="target === 'Empresas'" src="assets/imgs/masbrief/ic_empresa_selected.svg">
                                  </div> 
                                  <div class="botones-mitad-izq">
                                      <div class="main2">
                                          <div class="inner2" [ngStyle]="{'color':target === 'Empresas' ? 'white' : '#A09D9D'}">Privado</div>
                                      </div>
                                  </div> 
                                </div>   
                          </button>
                          <button class="boton-brief" [ngClass]="{'boton-brief-activo':target === 'Empresas'}">
                            <div class="botones-completo">
                              <div class="botones-mitad">
                                <img class="img-mitad" *ngIf="target !== 'Empresas'" src="assets/imgs/masbrief/ic_gobierno.svg">
                                <img class="img-mitad" *ngIf="target === 'Empresas'" src="assets/imgs/masbrief/ic_gobierno_selected.svg">
                              </div> 
                              <div class="botones-mitad-izq">
                                  <div class="main2">
                                      <div class="inner2" [ngStyle]="{'color':target === 'Empresas' ? 'white' : '#A09D9D'}">Gobierno</div>
                                    </div>
                              </div> 
                            </div>  
                          </button>
                      </div>
                     
                      <p class="titulo-brief">Género</p>
                      <div class="botones-brief">
                            <button class="boton-brief" style="margin-right: 0%;" [ngClass]="{'boton-brief-activo':target === 'Empresas'}">
                                <div class="botones-completo">
                                    <div class="botones-mitad">
                                      <img class="img-mitad"  *ngIf="target !== 'Empresas'" src="assets/imgs/masbrief/ic_PYME.svg">
                                      <img class="img-mitad"  *ngIf="target === 'Empresas'" src="assets/imgs/masbrief/ic_PYME_selected.svg">
                                    </div> 
                                    <div class="botones-mitad-izq">
                                        <div class="main2">
                                            <div class="inner2" [ngStyle]="{'color':target === 'Empresas' ? 'white' : '#A09D9D'}">PYME</div>
                                        </div>
                                    </div> 
                                  </div>   
                            </button>
                            <button class="boton-brief" [ngClass]="{'boton-brief-activo':target === 'Empresas'}">
                              <div class="botones-completo">
                                <div class="botones-mitad">
                                  <img class="img-mitad" *ngIf="target !== 'Empresas'" src="assets/imgs/masbrief/ic_empresa.svg">
                                  <img class="img-mitad" *ngIf="target === 'Empresas'" src="assets/imgs/masbrief/ic_empresa_selected.svg">
                                </div> 
                                <div class="botones-mitad-izq">
                                    <div class="main2">
                                        <div class="inner2" [ngStyle]="{'color':target === 'Empresas' ? 'white' : '#A09D9D'}">Corporativo</div>
                                      </div>
                                </div> 
                              </div>  
                            </button>
                      </div>

                      <p class="titulo-brief">Sector</p>
                      <select type="text" class="seleccion-brief-grande" [(ngModel)]="sectores">
                          <option *ngFor="let sector of sectores">
                            {{sector.nombre}}
                          </option>
                        </select>                     
                       
                      <p class="titulo-brief">Intereses o comentarios adicionales</p>
                      <textarea class="otro" rows="2" cols="32" maxlength="150" placeholder="Escribe sus intereses o comentarios adicionales..." required></textarea>
                      
                      <button class="guardar">Guardar</button>
              
                  </div>
              </ion-slide>
          </ion-slides>
      </div>
    
    </ion-content>
    
    <ion-footer>
      <div class="footer">
          <div class="left"></div>
          <div class="right"></div>
      </div>
    </ion-footer>