<!-- Generated template for the ProfesionistaComponent component -->
<!-- Esto es lo que cambia -->
<ion-row>
  <ion-col>
    <p class="paciente">Cotización para: {{uso}}</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <p class="mensaje">“{{mensaje}}”</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <a class="paciente">Hora y fecha de la cita</a>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-col>
      <ion-icon class="cita" name="md-calendar"></ion-icon>
      <a class="paciented">{{fechaCita}}</a>
      <ion-icon class="cita" name="md-alarm"></ion-icon>
      <a class="paciented">{{horaCita}} hrs.</a>
    </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-icon class="download" name="md-cloud-download"></ion-icon>
    <a class="descarga">Dercargar archivo adjunto</a>
  </ion-col>
</ion-row>
<!-- Termina lo que cambia -->