<!-- Generated template for the ProfesionistaComponent component -->
<!-- Esto es lo que cambia -->
<ion-row>
  <ion-col>
    <p class="paciente">Cotización para uso: Personal</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <p class="mensaje">Buen día, me gustaría agendar una cita para consulta con usted. Quedo atento a la respuesta de acuerdo a su disponibilidad.
      Gracias.
    </p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <a class="paciente">Hora y fecha de la cita</a>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-icon class="cita" name="md-calendar"></ion-icon>
    <a class="paciented">18/02/18</a>
    <ion-icon class="cita" name="md-alarm"></ion-icon>
    <a class="paciented">16:35</a>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-icon class="download" name="md-cloud-download"></ion-icon>
    <a class="descarga">Dercargar archivo adjunto</a>
  </ion-col>
</ion-row>
<!-- Termina lo que cambia -->