<ion-header>
    <ion-navbar color="azul">
        <ion-title>Empresa: {{empresa}}
            <br>ID Cliente: {{id}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="detail-card" color="fondo">
    <ion-card>
        <ion-card-header class="encabezado">
            <ion-grid>
                <ion-row>
                    <ion-col col-2>
                        <img src="assets/imgs/leads/crm.svg" class="carta" />
                    </ion-col>
                    <ion-col col-7>
                        <h1 style="font-size: 5.5vw;">
                            <strong>CRM</strong>
                        </h1>
                        <h3 style="font-size: 3.2vw;">Ten control total de tus ventas</h3>
                    </ion-col>
                    <ion-col col-2 class="centrar">
                        <img src="assets/imgs/iconos/ALead.svg" class="carta" (click)="agregarLead();" />
                    </ion-col>
                    <ion-col col-1 class="centrar" (click)="advancedFilters()">
                        <ion-icon name="md-settings" class="iconos-m"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-segment [(ngModel)]="estatus">
                        <ion-segment-button [ngClass]="{'lead':estatus == 'Lead'}" value="Lead">
                            Leads
                        </ion-segment-button>
                        <ion-segment-button [ngClass]="{'descartado':estatus == 'Descartado'}" value="Descartado">
                            Descartados
                        </ion-segment-button>
                        <ion-segment-button [ngClass]="{'seguimiento':estatus == 'Seguimiento'}" value="Seguimiento">
                            En Seguimiento
                        </ion-segment-button>
                        <ion-segment-button [ngClass]="{'negociacion':estatus == 'Negociacion'}" value="Negociacion">
                            En Negociación
                        </ion-segment-button>
                        <ion-segment-button [ngClass]="{'vendido':estatus == 'Vendido'}" value="Vendido">
                            Vendidos
                        </ion-segment-button>
                    </ion-segment>
                </ion-row>
            </ion-grid>
        </ion-card-header>

        <ion-card-content>
            <section>
                <ion-row align-items-center>
                    <ion-col col-4 class="centrar">
                        <button
                            [ngClass]="{'ordenamiento':filtro !== 'actividad','ordenamiento-activo':filtro === 'actividad'}"
                            (click)="changeFilter('actividad')">Act. Reciente</button>
                    </ion-col>
                    <ion-col col-4 class="centrar">
                        <button [ngClass]="{'ordenamiento':filtro !== 'fecha','ordenamiento-activo':filtro === 'fecha'}"
                            (click)="changeFilter('fecha')">Fecha de Llegada</button>
                    </ion-col>
                    <ion-col col-4 class="centrar">
                        <button
                            [ngClass]="{'ordenamiento':filtro !== 'siguiente','ordenamiento-activo':filtro === 'siguiente'}"
                            (click)="changeFilter('siguiente')">Sig. Contacto</button>
                    </ion-col>
                </ion-row>

                <ion-row align-items-center>
                    <ion-col col-6 class="centrar" *ngIf="filtro !== 'siguiente'">
                        <ion-item>
                            <ion-label class="filtrar">Filtrar por:</ion-label>
                            <ion-select [(ngModel)]="dias" interface="action-sheet">
                                <ion-option value="Total" selected>Total</ion-option>
                                <ion-option value="Últ. 3 días">Últ. 3 días</ion-option>
                                <ion-option value="Últ. 7 días">Últ. 7 días</ion-option>
                                <ion-option value="Últ. 14 días">Últ. 14 días</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>

                    <ion-col col-6 class="centrar" *ngIf="filtro == 'siguiente'">
                        <ion-item>
                            <ion-label class="filtrar">Filtrar por:</ion-label>
                            <ion-select [(ngModel)]="dias" interface="action-sheet">
                                <ion-option value="Total" selected>Total</ion-option>
                                <ion-option value="Sig. 3 días">Sig. 3 días</ion-option>
                                <ion-option value="Sig. 7 días">Sig. 7 días</ion-option>
                                <ion-option value="Sig. 14 días">Sig. 14 días</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>

                    <ion-col col-6 class="centrar">
                        <ion-item>
                            <ion-label class="filtrar">Canal Lead:</ion-label>
                            <ion-select [(ngModel)]="tipo" interface="action-sheet">
                                <ion-option value="Todos" selected>Todos</ion-option>
                                <ion-option value="Koomkin">Koomkin</ion-option>
                                <ion-option value="Externos">Externos</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row align-items-center *ngIf="filtros == true">
                    <ion-col col-5 class="centrar">
                        <input type="date" class="input-date" placeholder="Fecha" [(ngModel)]="fechaInic"
                            value="{{fechaInic}}" min="2017-12-12" max="2020-12-12">
                    </ion-col>
                    <ion-col col-2 class="centrar">
                        <p class="filtrar">A</p>
                    </ion-col>
                    <ion-col col-5 class="centrar">
                        <input type="date" class="input-date" placeholder="Fecha" [(ngModel)]="fechaFin"
                            value="{{fechaFin}}" min="{{fechaInic}}" max="2020-12-12">
                    </ion-col>
                </ion-row>
                <ion-row align-items-center *ngIf="filtros == true">
                    <ion-col col-4>
                        <p class="filtrar">Valor del Lead: </p>
                    </ion-col>
                    <ion-col col-4 class="centrar">
                        <input class="input-date" type="text" minlength="1" maxlength="12" [(ngModel)]="mayor"
                            (keypress)="numberOnly($event)" placeholder="Mayor a $">
                    </ion-col>
                    <ion-col col-4 class="centrar">
                        <input class="input-date" type="text" minlength="1" maxlength="12" [(ngModel)]="menor"
                            (keypress)="numberOnly($event)" placeholder="Menor a $">
                    </ion-col>
                </ion-row>
                <ion-row align-items-center>
                    <ion-col col-1 class="centrar">
                    </ion-col>
                    <ion-col col-5 class="centrar">
                        <button class="borrar" (click)="eraseFilters()">Borrar</button>
                    </ion-col>
                    <ion-col col-5 class="centrar">
                        <button class="aplicar" (click)="verFiltros()">Aplicar</button>
                    </ion-col>
                    <ion-col col-1 class="izquierda">
                    </ion-col>
                </ion-row>
            </section>
            <div [ngSwitch]="estatus" swipeSegment [tabsList]="listaEstatus" [(currentTab)]="estatus"
                (tabChanged)="onTabChanged($event)" class="swipe-area">
                <section *ngSwitchCase="'Lead'">
                    <ion-list detail-none ion-item *ngFor="let lead of leadsEstatus; let i = index;"
                        (click)="verLead(lead); changeLeido(lead);"
                        style="margin-bottom: 1.5%; box-shadow: 0px 1px 2px 0.5px #ccc;">
                        <ion-item-sliding #item>
                            <ion-item no-lines>
                                <ion-card
                                    [ngClass]="{'leido':lead.leido === 'leido','noleido':lead.leido === 'noleido'}">
                                    <ion-card-content>
                                        <ion-row align-items-center style="margin:0%">
                                            <ion-col col-10 align-self-center style="display: inherit;">
                                                <a class="rate-nombre">
                                                    <strong>{{lead.NombreUsuarioEnvio | capitalize}}</strong>
                                                </a>
                                                <img *ngIf="lead.urgencia !== 'Sí'"
                                                    src="assets/imgs/urgencia/{{lead.urgencia}}.svg"
                                                    style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                                                <img *ngIf="lead.urgencia === 'Sí'" src="assets/imgs/urgencia/Si.svg"
                                                    style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                                                &nbsp;<img *ngIf="lead.Canal != 'Reporte' && lead.Canal != 'App'"
                                                    src="assets/imgs/leads/ic_koomkinlead.svg"
                                                    style="vertical-align: middle;width: 8% !important;display: inline-block;margin-left: 2%;" />
                                                <img *ngIf="lead.Canal == 'Reporte' || lead.Canal == 'App'"
                                                    src="assets/imgs/leads/ic_leadsExternos.svg"
                                                    style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                                            </ion-col>
                                            <ion-col col-1 style="text-align: right;" *ngIf="lead.url !== 'sinaudio'">
                                                <img src="assets/imgs/leads/audio.svg"
                                                    style="vertical-align: middle;width: 100% !important;display: inline-block;    margin-left: 15%;" />
                                            </ion-col>
                                            <ion-col col-1 style="text-align: right;" *ngIf="lead.url == 'sinaudio'">
                                                <img src="assets/imgs/leads/sin-audio.svg"
                                                    style="vertical-align: middle;width: 100% !important;display: inline-block;    margin-left: 15%;" />
                                            </ion-col>
                                            <ion-col col-1
                                                *ngIf="lead.mensajesnoleidos > 0 && lead.mensajesnoleidos < 10">
                                                <p
                                                    style="color: white !important; position: absolute; margin-left: 57% !important; margin-top: 24% !important; font-size: 1em; font-weight: bold;">
                                                    {{lead.mensajesnoleidos}}</p>
                                                <img src="assets/imgs/leads/mensajes.svg"
                                                    style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                                            </ion-col>

                                            <ion-col col-1 *ngIf="lead.mensajesnoleidos > 10">
                                                <p
                                                    style="color: white !important; position: absolute; margin-top: 24%; font-size: 1em; font-weight: bold;">
                                                    {{lead.mensajesnoleidos}}</p>
                                                <img src="assets/imgs/leads/mensajes.svg"
                                                    style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                                            </ion-col>
                                            <ion-col col-1
                                                *ngIf="lead.mensajesnoleidos == null || lead.mensajesnoleidos == 'null'">
                                                <img src="assets/imgs/leads/sin-mensaje.svg"
                                                    style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                                            </ion-col>
                                            <ion-col col-1 *ngIf="lead.mensajesnoleidos == 0">
                                                <img src="assets/imgs/leads/mensaje.svg"
                                                    style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col col-10>
                                                <div>
                                                    <div class="rate-fecha">
                                                        {{lead.fechaenvio | date: 'dd-MM HH:mm' }}
                                                        <span class="inf-agenda"
                                                            [ngClass]="{'descartado-agenda':lead.clasificaLead == 'D','seguimiento-agenda':lead.clasificaLead == 'S','negociacion-agenda':lead.clasificaLead == 'N','vendido-agenda':lead.clasificaLead == 'V'}"
                                                            *ngIf="lead.scheduledAt !== 'Sin agenda'">&nbsp;{{lead.scheduledAt | date: 'dd-MM HH:mm' }}</span>
                                                        <span class="inf-agenda"
                                                            [ngClass]="{'descartado-agenda':lead.clasificaLead == 'D','seguimiento-agenda':lead.clasificaLead == 'S','negociacion-agenda':lead.clasificaLead == 'N','vendido-agenda':lead.clasificaLead == 'V'}"
                                                            *ngIf="lead.scheduledAt == 'Sin agenda'">&nbsp;{{lead.scheduledAt}}</span>

                                                        <br>
                                                        <div class="inf-valor">
                                                            Valor del Lead =
                                                            {{lead.ValorLead | currency: 'MXN':'symbol' : '1.0'}}
                                                            <img *ngIf="lead.status == 'perdida'"
                                                                src="assets/imgs/llamadas/callmissed.svg" style="    vertical-align: middle;
                                                            width: 6% !important;
                                                            max-width: 150px !important;
                                                            display: inline-block;
                                                            margin-left: 2%;
                                                            margin-top: -1%;" (click)="showConfirm(lead)" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </ion-col>


                                            <ion-col col-2 style="display: flex;
                                        text-align: right;
                                        justify-content: flex-end;
                                        align-items: flex-end;">
                                                <img src="assets/imgs/leads/ver.svg" class="ver">
                                            </ion-col>
                                        </ion-row>

                                    </ion-card-content>
                                </ion-card>
                            </ion-item>
                            <ion-item-options side="left" (ionSwipe)="showConfirm(lead)">
                            </ion-item-options>
                        </ion-item-sliding>
                    </ion-list>

                    <ion-refresher (ionRefresh)="doRefresh($event)">
                    </ion-refresher>

                    <ion-grid *ngIf="showspinner && !infinitespinnerisactive">
                        <br>
                        <ion-spinner loadingText="Cargando más Leads..." item-start name="bubbles">Cargando más Leads...
                        </ion-spinner>
                        <p class="text-spinner">Cargando más Leads...</p>
                    </ion-grid>

                    <ion-infinite-scroll threshold="1%" (ionInfinite)="doInfinite($event)">
                        <br>
                        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más Leads...">
                        </ion-infinite-scroll-content>
                    </ion-infinite-scroll>
                </section>
                <section *ngSwitchCase="'Descartado'">
                    <ion-list detail-none ion-item *ngFor="let lead of leadsDescartados; let i = index;"
                        (click)="verLead(lead); changeLeido(lead);"
                        style="margin-bottom: 1.5%; box-shadow: 0px 1px 2px 0.5px #ccc;">
                        <ion-item-sliding #item>
                            <ion-item no-lines>
                                <ion-card
                                    [ngClass]="{'leido':lead.leido === 'leido','noleido':lead.leido === 'noleido'}">
                                    <ion-card-content>
                                        <ion-row align-items-center style="margin:0%">
                                            <ion-col col-10 align-self-center style="display: inherit;">
                                                <a class="rate-nombre">
                                                    <strong>{{lead.NombreUsuarioEnvio | capitalize}}</strong>
                                                </a>
                                                <img *ngIf="lead.urgencia !== 'Sí'"
                                                    src="assets/imgs/urgencia/{{lead.urgencia}}.svg"
                                                    style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                                                <img *ngIf="lead.urgencia === 'Sí'" src="assets/imgs/urgencia/Si.svg"
                                                    style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                                                &nbsp;<img *ngIf="lead.Canal != 'Reporte' && lead.Canal != 'App'"
                                                    src="assets/imgs/leads/ic_koomkinlead.svg"
                                                    style="vertical-align: middle;width: 8% !important;display: inline-block;margin-left: 2%;" />
                                                <img *ngIf="lead.Canal == 'Reporte' || lead.Canal == 'App'"
                                                    src="assets/imgs/leads/ic_leadsExternos.svg"
                                                    style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                                            </ion-col>
                                            <ion-col col-1 style="text-align: right;" *ngIf="lead.url !== 'sinaudio'">
                                                <img src="assets/imgs/leads/audio.svg"
                                                    style="vertical-align: middle;width: 100% !important;display: inline-block;    margin-left: 15%;" />
                                            </ion-col>
                                            <ion-col col-1 style="text-align: right;" *ngIf="lead.url == 'sinaudio'">
                                                <img src="assets/imgs/leads/sin-audio.svg"
                                                    style="vertical-align: middle;width: 100% !important;display: inline-block;    margin-left: 15%;" />
                                            </ion-col>
                                            <ion-col col-1
                                                *ngIf="lead.mensajesnoleidos > 0 && lead.mensajesnoleidos < 10">
                                                <p
                                                    style="color: white !important; position: absolute; margin-left: 57% !important; margin-top: 24% !important; font-size: 1em; font-weight: bold;">
                                                    {{lead.mensajesnoleidos}}</p>
                                                <img src="assets/imgs/leads/mensajes.svg"
                                                    style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                                            </ion-col>

                                            <ion-col col-1 *ngIf="lead.mensajesnoleidos > 10">
                                                <p
                                                    style="color: white !important; position: absolute; margin-top: 24%; font-size: 1em; font-weight: bold;">
                                                    {{lead.mensajesnoleidos}}</p>
                                                <img src="assets/imgs/leads/mensajes.svg"
                                                    style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                                            </ion-col>
                                            <ion-col col-1
                                                *ngIf="lead.mensajesnoleidos == null || lead.mensajesnoleidos == 'null'">
                                                <img src="assets/imgs/leads/sin-mensaje.svg"
                                                    style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                                            </ion-col>
                                            <ion-col col-1 *ngIf="lead.mensajesnoleidos == 0">
                                                <img src="assets/imgs/leads/mensaje.svg"
                                                    style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col col-10>
                                                <div>
                                                    <div class="rate-fecha">
                                                        {{lead.fechaenvio | date: 'dd-MM HH:mm' }}
                                                        <span class="inf-agenda"
                                                            [ngClass]="{'descartado-agenda':lead.clasificaLead == 'D','seguimiento-agenda':lead.clasificaLead == 'S','negociacion-agenda':lead.clasificaLead == 'N','vendido-agenda':lead.clasificaLead == 'V'}"
                                                            *ngIf="lead.scheduledAt !== 'Sin agenda'">&nbsp;{{lead.scheduledAt | date: 'dd-MM HH:mm' }}</span>
                                                        <span class="inf-agenda"
                                                            [ngClass]="{'descartado-agenda':lead.clasificaLead == 'D','seguimiento-agenda':lead.clasificaLead == 'S','negociacion-agenda':lead.clasificaLead == 'N','vendido-agenda':lead.clasificaLead == 'V'}"
                                                            *ngIf="lead.scheduledAt == 'Sin agenda'">&nbsp;{{lead.scheduledAt}}</span>

                                                        <br>
                                                        <div class="inf-valor">
                                                            Valor del Lead =
                                                            {{lead.ValorLead | currency: 'MXN':'symbol' : '1.0'}}
                                                            <img *ngIf="lead.status == 'perdida'"
                                                                src="assets/imgs/llamadas/callmissed.svg" style="    vertical-align: middle;
                                                                    width: 6% !important;
                                                                    max-width: 150px !important;
                                                                    display: inline-block;
                                                                    margin-left: 2%;
                                                                    margin-top: -1%;" (click)="showConfirm(lead)" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </ion-col>

                                            <ion-col col-2 style="display: flex;
                                        text-align: right;
                                        justify-content: flex-end;
                                        align-items: flex-end;">
                                                <img src="assets/imgs/leads/ver.svg" class="ver">
                                            </ion-col>
                                        </ion-row>

                                    </ion-card-content>
                                </ion-card>
                            </ion-item>
                            <ion-item-options side="left" (ionSwipe)="showConfirm(lead)">
                            </ion-item-options>
                        </ion-item-sliding>
                    </ion-list>

                    <ion-refresher (ionRefresh)="doRefresh($event)">
                    </ion-refresher>

                    <ion-grid *ngIf="showspinner && !infinitespinnerisactive">
                        <br>
                        <ion-spinner loadingText="Cargando más Leads..." item-start name="bubbles">Cargando más Leads...
                        </ion-spinner>
                        <p class="text-spinner">Cargando más Leads...</p>
                    </ion-grid>

                    <ion-infinite-scroll threshold="1%" (ionInfinite)="doInfinite($event)">
                        <br>
                        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más Leads...">
                        </ion-infinite-scroll-content>
                    </ion-infinite-scroll>
                </section>
                <section *ngSwitchCase="'Seguimiento'">
                    <ion-list detail-none ion-item *ngFor="let lead of leadsSeguimiento; let i = index;"
                        (click)="verLead(lead); changeLeido(lead);"
                        style="margin-bottom: 1.5%; box-shadow: 0px 1px 2px 0.5px #ccc;">
                        <ion-item-sliding #item>
                            <ion-item no-lines>
                                <ion-card
                                    [ngClass]="{'leido':lead.leido === 'leido','noleido':lead.leido === 'noleido'}">
                                    <ion-card-content>
                                        <ion-row align-items-center style="margin:0%">
                                            <ion-col col-10 align-self-center style="display: inherit;">
                                                <a class="rate-nombre">
                                                    <strong>{{lead.NombreUsuarioEnvio | capitalize}}</strong>
                                                </a>
                                                <img *ngIf="lead.urgencia !== 'Sí'"
                                                    src="assets/imgs/urgencia/{{lead.urgencia}}.svg"
                                                    style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                                                <img *ngIf="lead.urgencia === 'Sí'" src="assets/imgs/urgencia/Si.svg"
                                                    style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                                                &nbsp;<img *ngIf="lead.Canal != 'Reporte' && lead.Canal != 'App'"
                                                    src="assets/imgs/leads/ic_koomkinlead.svg"
                                                    style="vertical-align: middle;width: 8% !important;display: inline-block;margin-left: 2%;" />
                                                <img *ngIf="lead.Canal == 'Reporte' || lead.Canal == 'App'"
                                                    src="assets/imgs/leads/ic_leadsExternos.svg"
                                                    style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                                            </ion-col>
                                            <ion-col col-1 style="text-align: right;" *ngIf="lead.url !== 'sinaudio'">
                                                <img src="assets/imgs/leads/audio.svg"
                                                    style="vertical-align: middle;width: 100% !important;display: inline-block;    margin-left: 15%;" />
                                            </ion-col>
                                            <ion-col col-1 style="text-align: right;" *ngIf="lead.url == 'sinaudio'">
                                                <img src="assets/imgs/leads/sin-audio.svg"
                                                    style="vertical-align: middle;width: 100% !important;display: inline-block;    margin-left: 15%;" />
                                            </ion-col>
                                            <ion-col col-1
                                                *ngIf="lead.mensajesnoleidos > 0 && lead.mensajesnoleidos < 10">
                                                <p
                                                    style="color: white !important; position: absolute; margin-left: 57% !important; margin-top: 24% !important; font-size: 1em; font-weight: bold;">
                                                    {{lead.mensajesnoleidos}}</p>
                                                <img src="assets/imgs/leads/mensajes.svg"
                                                    style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                                            </ion-col>

                                            <ion-col col-1 *ngIf="lead.mensajesnoleidos > 10">
                                                <p
                                                    style="color: white !important; position: absolute; margin-top: 24%; font-size: 1em; font-weight: bold;">
                                                    {{lead.mensajesnoleidos}}</p>
                                                <img src="assets/imgs/leads/mensajes.svg"
                                                    style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                                            </ion-col>
                                            <ion-col col-1
                                                *ngIf="lead.mensajesnoleidos == null || lead.mensajesnoleidos == 'null'">
                                                <img src="assets/imgs/leads/sin-mensaje.svg"
                                                    style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                                            </ion-col>
                                            <ion-col col-1 *ngIf="lead.mensajesnoleidos == 0">
                                                <img src="assets/imgs/leads/mensaje.svg"
                                                    style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col col-10>
                                                <div>
                                                    <div class="rate-fecha">
                                                        {{lead.fechaenvio | date: 'dd-MM HH:mm' }}
                                                        <span class="inf-agenda"
                                                            [ngClass]="{'descartado-agenda':lead.clasificaLead == 'D','seguimiento-agenda':lead.clasificaLead == 'S','negociacion-agenda':lead.clasificaLead == 'N','vendido-agenda':lead.clasificaLead == 'V'}"
                                                            *ngIf="lead.scheduledAt !== 'Sin agenda'">&nbsp;{{lead.scheduledAt | date: 'dd-MM HH:mm' }}</span>
                                                        <span class="inf-agenda"
                                                            [ngClass]="{'descartado-agenda':lead.clasificaLead == 'D','seguimiento-agenda':lead.clasificaLead == 'S','negociacion-agenda':lead.clasificaLead == 'N','vendido-agenda':lead.clasificaLead == 'V'}"
                                                            *ngIf="lead.scheduledAt == 'Sin agenda'">&nbsp;{{lead.scheduledAt}}</span>

                                                        <br>
                                                        <div class="inf-valor">
                                                            Valor del Lead =
                                                            {{lead.ValorLead | currency: 'MXN':'symbol' : '1.0'}}
                                                            <img *ngIf="lead.status == 'perdida'"
                                                                src="assets/imgs/llamadas/callmissed.svg" style="    vertical-align: middle;
                                                                    width: 6% !important;
                                                                    max-width: 150px !important;
                                                                    display: inline-block;
                                                                    margin-left: 2%;
                                                                    margin-top: -1%;" (click)="showConfirm(lead)" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </ion-col>
                                            <ion-col col-2 style="display: flex;
                                        text-align: right;
                                        justify-content: flex-end;
                                        align-items: flex-end;">
                                                <img src="assets/imgs/leads/ver.svg" class="ver">
                                            </ion-col>
                                        </ion-row>

                                    </ion-card-content>
                                </ion-card>
                            </ion-item>
                            <ion-item-options side="left" (ionSwipe)="showConfirm(lead)">
                            </ion-item-options>
                        </ion-item-sliding>
                    </ion-list>

                    <ion-refresher (ionRefresh)="doRefresh($event)">
                    </ion-refresher>

                    <ion-grid *ngIf="showspinner && !infinitespinnerisactive">
                        <br>
                        <ion-spinner loadingText="Cargando más Leads..." item-start name="bubbles">Cargando más Leads...
                        </ion-spinner>
                        <p class="text-spinner">Cargando más Leads...</p>
                    </ion-grid>

                    <ion-infinite-scroll threshold="1%" (ionInfinite)="doInfinite($event)">
                        <br>
                        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más Leads...">
                        </ion-infinite-scroll-content>
                    </ion-infinite-scroll>
                </section>
                <section *ngSwitchCase="'Negociacion'">
                    <ion-list detail-none ion-item *ngFor="let lead of leadsNegociacion; let i = index;"
                        (click)="verLead(lead); changeLeido(lead);"
                        style="margin-bottom: 1.5%; box-shadow: 0px 1px 2px 0.5px #ccc;">
                        <ion-item-sliding #item>
                            <ion-item no-lines>
                                <ion-card
                                    [ngClass]="{'leido':lead.leido === 'leido','noleido':lead.leido === 'noleido'}">
                                    <ion-card-content>
                                        <ion-row align-items-center style="margin:0%">
                                            <ion-col col-10 align-self-center style="display: inherit;">
                                                <a class="rate-nombre">
                                                    <strong>{{lead.NombreUsuarioEnvio | capitalize}}</strong>
                                                </a>
                                                <img *ngIf="lead.urgencia !== 'Sí'"
                                                    src="assets/imgs/urgencia/{{lead.urgencia}}.svg"
                                                    style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                                                <img *ngIf="lead.urgencia === 'Sí'" src="assets/imgs/urgencia/Si.svg"
                                                    style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                                                &nbsp;<img *ngIf="lead.Canal != 'Reporte' && lead.Canal != 'App'"
                                                    src="assets/imgs/leads/ic_koomkinlead.svg"
                                                    style="vertical-align: middle;width: 8% !important;display: inline-block;margin-left: 2%;" />
                                                <img *ngIf="lead.Canal == 'Reporte' || lead.Canal == 'App'"
                                                    src="assets/imgs/leads/ic_leadsExternos.svg"
                                                    style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                                            </ion-col>
                                            <ion-col col-1 style="text-align: right;" *ngIf="lead.url !== 'sinaudio'">
                                                <img src="assets/imgs/leads/audio.svg"
                                                    style="vertical-align: middle;width: 100% !important;display: inline-block;    margin-left: 15%;" />
                                            </ion-col>
                                            <ion-col col-1 style="text-align: right;" *ngIf="lead.url == 'sinaudio'">
                                                <img src="assets/imgs/leads/sin-audio.svg"
                                                    style="vertical-align: middle;width: 100% !important;display: inline-block;    margin-left: 15%;" />
                                            </ion-col>
                                            <ion-col col-1
                                                *ngIf="lead.mensajesnoleidos > 0 && lead.mensajesnoleidos < 10">
                                                <p
                                                    style="color: white !important; position: absolute; margin-left: 57% !important; margin-top: 24% !important; font-size: 1em; font-weight: bold;">
                                                    {{lead.mensajesnoleidos}}</p>
                                                <img src="assets/imgs/leads/mensajes.svg"
                                                    style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                                            </ion-col>

                                            <ion-col col-1 *ngIf="lead.mensajesnoleidos > 10">
                                                <p
                                                    style="color: white !important; position: absolute; margin-top: 24%; font-size: 1em; font-weight: bold;">
                                                    {{lead.mensajesnoleidos}}</p>
                                                <img src="assets/imgs/leads/mensajes.svg"
                                                    style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                                            </ion-col>
                                            <ion-col col-1
                                                *ngIf="lead.mensajesnoleidos == null || lead.mensajesnoleidos == 'null'">
                                                <img src="assets/imgs/leads/sin-mensaje.svg"
                                                    style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                                            </ion-col>
                                            <ion-col col-1 *ngIf="lead.mensajesnoleidos == 0">
                                                <img src="assets/imgs/leads/mensaje.svg"
                                                    style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col col-10>
                                                <div>
                                                    <div class="rate-fecha">
                                                        {{lead.fechaenvio | date: 'dd-MM HH:mm' }}
                                                        <span class="inf-agenda"
                                                            [ngClass]="{'descartado-agenda':lead.clasificaLead == 'D','seguimiento-agenda':lead.clasificaLead == 'S','negociacion-agenda':lead.clasificaLead == 'N','vendido-agenda':lead.clasificaLead == 'V'}"
                                                            *ngIf="lead.scheduledAt !== 'Sin agenda'">&nbsp;{{lead.scheduledAt | date: 'dd-MM HH:mm' }}</span>
                                                        <span class="inf-agenda"
                                                            [ngClass]="{'descartado-agenda':lead.clasificaLead == 'D','seguimiento-agenda':lead.clasificaLead == 'S','negociacion-agenda':lead.clasificaLead == 'N','vendido-agenda':lead.clasificaLead == 'V'}"
                                                            *ngIf="lead.scheduledAt == 'Sin agenda'">&nbsp;{{lead.scheduledAt}}</span>

                                                        <br>
                                                        <div class="inf-valor">
                                                            Valor del Lead =
                                                            {{lead.ValorLead | currency: 'MXN':'symbol' : '1.0'}}
                                                            <img *ngIf="lead.status == 'perdida'"
                                                                src="assets/imgs/llamadas/callmissed.svg" style="    vertical-align: middle;
                                                                    width: 6% !important;
                                                                    max-width: 150px !important;
                                                                    display: inline-block;
                                                                    margin-left: 2%;
                                                                    margin-top: -1%;" (click)="showConfirm(lead)" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </ion-col>

                                            <ion-col col-2 style="display: flex;
                                        text-align: right;
                                        justify-content: flex-end;
                                        align-items: flex-end;">
                                                <img src="assets/imgs/leads/ver.svg" class="ver">
                                            </ion-col>
                                        </ion-row>

                                    </ion-card-content>
                                </ion-card>
                            </ion-item>
                            <ion-item-options side="left" (ionSwipe)="showConfirm(lead)">
                            </ion-item-options>
                        </ion-item-sliding>
                    </ion-list>

                    <ion-refresher (ionRefresh)="doRefresh($event)">
                    </ion-refresher>

                    <ion-grid *ngIf="showspinner && !infinitespinnerisactive">
                        <br>
                        <ion-spinner loadingText="Cargando más Leads..." item-start name="bubbles">Cargando más Leads...
                        </ion-spinner>
                        <p class="text-spinner">Cargando más Leads...</p>
                    </ion-grid>

                    <ion-infinite-scroll threshold="1%" (ionInfinite)="doInfinite($event)">
                        <br>
                        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más Leads...">
                        </ion-infinite-scroll-content>
                    </ion-infinite-scroll>
                </section>
                <section *ngSwitchCase="'Vendido'">
                    <ion-list detail-none ion-item *ngFor="let lead of leadsVendidos; let i = index;"
                        (click)="verLead(lead); changeLeido(lead);"
                        style="margin-bottom: 1.5%; box-shadow: 0px 1px 2px 0.5px #ccc;">
                        <ion-item-sliding #item>
                            <ion-item no-lines>
                                <ion-card
                                    [ngClass]="{'leido':lead.leido === 'leido','noleido':lead.leido === 'noleido'}">
                                    <ion-card-content>
                                        <ion-row align-items-center style="margin:0%">
                                            <ion-col col-10 align-self-center style="display: inherit;">
                                                <a class="rate-nombre">
                                                    <strong>{{lead.NombreUsuarioEnvio | capitalize}}</strong>
                                                </a>
                                                <img *ngIf="lead.urgencia !== 'Sí'"
                                                    src="assets/imgs/urgencia/{{lead.urgencia}}.svg"
                                                    style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                                                <img *ngIf="lead.urgencia === 'Sí'" src="assets/imgs/urgencia/Si.svg"
                                                    style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                                                &nbsp;<img *ngIf="lead.Canal != 'Reporte' && lead.Canal != 'App'"
                                                    src="assets/imgs/leads/ic_koomkinlead.svg"
                                                    style="vertical-align: middle;width: 8% !important;display: inline-block;margin-left: 2%;" />
                                                <img *ngIf="lead.Canal == 'Reporte' || lead.Canal == 'App'"
                                                    src="assets/imgs/leads/ic_leadsExternos.svg"
                                                    style="vertical-align: middle;width: 9% !important;display: inline-block;margin-left: 2%;" />
                                            </ion-col>
                                            <ion-col col-1 style="text-align: right;" *ngIf="lead.url !== 'sinaudio'">
                                                <img src="assets/imgs/leads/audio.svg"
                                                    style="vertical-align: middle;width: 100% !important;display: inline-block;    margin-left: 15%;" />
                                            </ion-col>
                                            <ion-col col-1 style="text-align: right;" *ngIf="lead.url == 'sinaudio'">
                                                <img src="assets/imgs/leads/sin-audio.svg"
                                                    style="vertical-align: middle;width: 100% !important;display: inline-block;    margin-left: 15%;" />
                                            </ion-col>
                                            <ion-col col-1
                                                *ngIf="lead.mensajesnoleidos > 0 && lead.mensajesnoleidos < 10">
                                                <p
                                                    style="color: white !important; position: absolute; margin-left: 57% !important; margin-top: 24% !important; font-size: 1em; font-weight: bold;">
                                                    {{lead.mensajesnoleidos}}</p>
                                                <img src="assets/imgs/leads/mensajes.svg"
                                                    style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                                            </ion-col>

                                            <ion-col col-1 *ngIf="lead.mensajesnoleidos > 10">
                                                <p
                                                    style="color: white !important; position: absolute; margin-top: 24%; font-size: 1em; font-weight: bold;">
                                                    {{lead.mensajesnoleidos}}</p>
                                                <img src="assets/imgs/leads/mensajes.svg"
                                                    style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                                            </ion-col>
                                            <ion-col col-1
                                                *ngIf="lead.mensajesnoleidos == null || lead.mensajesnoleidos == 'null'">
                                                <img src="assets/imgs/leads/sin-mensaje.svg"
                                                    style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                                            </ion-col>
                                            <ion-col col-1 *ngIf="lead.mensajesnoleidos == 0">
                                                <img src="assets/imgs/leads/mensaje.svg"
                                                    style="vertical-align: middle;width: 140% !important;max-width:150px !important;display: inline-block;" />
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col col-10>
                                                <div>
                                                    <div class="rate-fecha">
                                                        {{lead.fechaenvio | date: 'dd-MM HH:mm' }}
                                                        <span class="inf-agenda"
                                                            [ngClass]="{'descartado-agenda':lead.clasificaLead == 'D','seguimiento-agenda':lead.clasificaLead == 'S','negociacion-agenda':lead.clasificaLead == 'N','vendido-agenda':lead.clasificaLead == 'V'}"
                                                            *ngIf="lead.scheduledAt !== 'Sin agenda'">&nbsp;{{lead.scheduledAt | date: 'dd-MM HH:mm' }}</span>
                                                        <span class="inf-agenda"
                                                            [ngClass]="{'descartado-agenda':lead.clasificaLead == 'D','seguimiento-agenda':lead.clasificaLead == 'S','negociacion-agenda':lead.clasificaLead == 'N','vendido-agenda':lead.clasificaLead == 'V'}"
                                                            *ngIf="lead.scheduledAt == 'Sin agenda'">&nbsp;{{lead.scheduledAt}}</span>

                                                        <br>
                                                        <div class="inf-valor">
                                                            Valor del Lead =
                                                            {{lead.ValorLead | currency: 'MXN':'symbol' : '1.0'}}
                                                            <img *ngIf="lead.status == 'perdida'"
                                                                src="assets/imgs/llamadas/callmissed.svg" style="    vertical-align: middle;
                                                                    width: 6% !important;
                                                                    max-width: 150px !important;
                                                                    display: inline-block;
                                                                    margin-left: 2%;
                                                                    margin-top: -1%;" (click)="showConfirm(lead)" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </ion-col>
                                            <ion-col col-2 style="display: flex;
                                            text-align: right;
                                            justify-content: flex-end;
                                            align-items: flex-end;">
                                                <img src="assets/imgs/leads/ver.svg" class="ver">
                                            </ion-col>
                                        </ion-row>
                                    </ion-card-content>
                                </ion-card>
                            </ion-item>
                            <ion-item-options side="left" (ionSwipe)="showConfirm(lead)">
                            </ion-item-options>
                        </ion-item-sliding>
                    </ion-list>

                    <ion-refresher (ionRefresh)="doRefresh($event)">
                    </ion-refresher>

                    <ion-grid *ngIf="showspinner && !infinitespinnerisactive">
                        <br>
                        <ion-spinner loadingText="Cargando más Leads..." item-start name="bubbles">Cargando más Leads...
                        </ion-spinner>
                        <p class="text-spinner">Cargando más Leads...</p>
                    </ion-grid>

                    <ion-infinite-scroll threshold="1%" (ionInfinite)="doInfinite($event)">
                        <br>
                        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más Leads...">
                        </ion-infinite-scroll-content>
                    </ion-infinite-scroll>
                </section>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
<button ion-button class="totop" (click)="scrollToTop();">
    <ion-icon name="ios-arrow-up"></ion-icon>
</button>
<ion-footer>
    <div class="footer">
        <div class="left"></div>
        <div class="right"></div>
    </div>
  </ion-footer>