.iconos-m {
    font-size: 28px !important;
    color: #10cebc !important;
    margin-left: 4% !important;
    margin-right: 3% !important;
    display: inline-block;
}

.ios ion-nav {
    background-color: #243e56 !important;
}

.toolbar-background-md.fondo_blanco {
    background: white !important;
}

.toolbar-ios {
    padding: 4px;
    padding-left: 4px;
    padding-right: 4px;
    min-height: 44px;
    background-color: #243e56 !important;
}

.item-ios p {
    vertical-align: top;
    margin-top: 1.7% !important;
}

.text {
    padding: 0 !important;
    color: slategrey !important;
    font-size: 3.3vh !important;
    display: inline-block !important;
}

.toolbar-ios-azul .toolbar-background-ios {
    background: #243e56;
}

.header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: 0 0 0;
}

.segment-md .segment-button.segment-activated {
    border-color: white;
    opacity: 1;
}

.back-button-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    text-transform: capitalize;
}

.salir {
    position: absolute !important;
    bottom: 0 !important;
}

.back-button-text-ios {
    letter-spacing: -.01em;
    color: black;
}

.alert-md .alert-message {
    max-height: 240px;
    font-size: 15px;
    text-align: justify !important;
}

.alert-md .alert-button-group {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-box-pack: end;
    -webkit-justify-content: center !important;
    -ms-flex-pack: end;
    justify-content: center !important;
    padding: 0px 24px 8px 24px !important;
    text-align: center !important;
}

ion-icon {
    &[class*="appname-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 5vh;
    }
    // custom icons
    &[class*="appname-bandeja"] {
        mask-image: url(../assets/imgs/inicio/leads.svg);
    }
    &[class*="appname-datos"] {
        mask-image: url(../assets/imgs/inicio/ajustes.svg);
    }
    &[class*="appname-reporte"] {
        mask-image: url(../assets/imgs/inicio/reporte.svg);
    }
    &[class*="appname-brief"] {
        mask-image: url(../assets/imgs/inicio/brief.svg);
    }
    &[class*="appname-eficiencia"] {
        mask-image: url(../assets/imgs/inicio/eficiencia.svg);
    }
    &[class*="appname-membresia"] {
        mask-image: url(../assets/imgs/inicio/membresia.svg);
    }
    &[class*="appname-logout"] {
        mask-image: url(../assets/imgs/menu/logout.svg);
    }
}

.buttonCss {
    button.alert-button.exit-button {
        text-align: center;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        font-weight: 500;
        text-transform: none;
        color: white;
        margin: 0 0 0 0;
        padding: 10px;
        background: #00b9bf;
    }
    .alert-md .alert-button-group {
        -webkit-flex-wrap: wrap-reverse;
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
        -webkit-box-pack: end;
        -webkit-justify-content: center !important;
        -ms-flex-pack: end;
        justify-content: center !important;
        padding: 0px 24px 8px 24px !important;
        text-align: center !important;
    }
    button.alert-button.cancel-button {
        text-align: center;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        font-weight: 500;
        text-transform: none;
        color: white;
        margin: 0 0 0 0;
        padding: 10px;
        background: white !important;
        border: 1px solid #00b9bf !important;
        color: #00b9bf !important;
    }
    .alert-md .alert-input:focus {
        margin-bottom: 4px;
        border-bottom: 2px solid #00b9bf !important;
    }
    .alert-input {
        padding: 10px !important;
        border: 0;
        background: inherit;
    }
    .alert-md .alert-sub-title {
        font-size: 16px !important;
        text-align: start !important;
        padding: 0px 14px 0px !important;
    }
}

.buttonCss2 {
    button.alert-button.exit-button {
        text-align: center;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        font-weight: 500;
        text-transform: none;
        color: white;
        margin: 0 8px 0 0;
        padding: 10px;
        background: linear-gradient(to right, #10cebc 0%, #00a3bf 100%);
    }
    .alert-md .alert-button-group {
        -webkit-flex-wrap: wrap-reverse;
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
        -webkit-box-pack: end;
        -webkit-justify-content: center !important;
        -ms-flex-pack: end;
        justify-content: center !important;
        padding: 0px 24px 8px 24px !important;
        text-align: center !important;
    }
    button.alert-button.cancel-button {
        text-align: center;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        font-weight: 500;
        text-transform: none;
        color: white;
        margin: 0 0 0 0;
        padding: 10px;
        background: white !important;
        border: 1px solid #00b9bf !important;
        color: #00b9bf !important;
    }
    .alert-md .alert-input:focus {
        margin-bottom: 4px;
        border-bottom: 2px solid #00b9bf !important;
    }
    .alert-input {
        padding: 10px !important;
        border: 0;
        background: inherit;
    }
    .alert-md .alert-sub-title {
        font-size: 16px !important;
        text-align: start !important;
        padding: 0px 14px 0px !important;
    }
    .alert-md .alert-message {
        max-height: 240px;
        font-size: 15px;
        text-align: justify !important;
    }
}

.range-md .range-knob-handle .range-pin {
    transform: translate3d(0, 0, 0) scale(1);
}

.range-md:not(.range-has-pin) .range-knob-handle .range-knob {
    transform: scale(1);
}

.range-ios .range-knob-handle .range-pin {
    transform: translate3d(0, 0, 0) scale(1);
}