<ion-header>
    <ion-navbar color="azul">
        <div style="text-align: center">
            <img src="assets/imgs/login/logo_koomkin.svg" width="45%" />
        </div>
    </ion-navbar>
</ion-header>


<ion-content>
    <banner *ngIf="tipoBanner >= 1 && tipoBanner <= 9 || tipoBanner >= 10 && tipoBanner <= 12 && habilitado == 1" [title]='title' [subtitle]='subtitle' [img]='img' [fondo]='fondo' [notification]='notification' [idReportBanner]='idReportBanner' [uuidPass]='uuidPass'
        [tipoBanner]='tipoBanner' [description]='description' (click)="clickBanner();"></banner>
    <ion-grid padding>
        <ion-row class="grande" (click)="pagina(leads)">
            <ion-col col-3>
                <img src="assets/imgs/inicio/leads.svg" width="100%" />
            </ion-col>
            <ion-col col-7>
                <span>Leads o Clientes Potenciales</span>
            </ion-col>
            <ion-col col-2 style="text-align:center">
                <ion-icon name="ios-arrow-forward" style="font-size: 4em;"></ion-icon>
            </ion-col>
        </ion-row>

        <ion-row class="grande dos" (click)="pagina(reporte)">
            <ion-col col-3>
                <img src="assets/imgs/inicio/reporte.svg" width="100%" />
            </ion-col>
            <ion-col col-7>
                <span>Reporte</span>
            </ion-col>
            <ion-col col-2 style="text-align:center">
                <ion-icon name="ios-arrow-forward" style="font-size: 4em;"></ion-icon>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="activo == 1" class="grande" (click)="pagina(brief)">
            <ion-col col-3>
                <img src="assets/imgs/inicio/brief.svg" width="100%" style="max-height: 65px !important;"/>
            </ion-col>
            <ion-col col-7>
                <span>Brief</span>
            </ion-col>
            <ion-col col-2 style="text-align:center">
                <ion-icon name="ios-arrow-forward" style="font-size: 4em;"></ion-icon>
            </ion-col>
        </ion-row>

        <ion-row class="grande tres" (click)="pagina(eficiencia)">
            <ion-col col-3>
                <img src="assets/imgs/inicio/eficiencia.svg" width="100%" />
            </ion-col>
            <ion-col col-7>
                <span>Eficiencia Comercial</span>
            </ion-col>
            <ion-col col-2 style="text-align:center">
                <ion-icon name="ios-arrow-forward" style="font-size: 4em;"></ion-icon>
            </ion-col>
        </ion-row>

        <ion-row class="grande" (click)="pagina(datos)">
            <ion-col col-3>
                <img src="assets/imgs/inicio/ajustes.svg" width="100%" />
            </ion-col>
            <ion-col col-7>
                <span>Ajustes</span>
            </ion-col>
            <ion-col col-2 style="text-align:center">
                <ion-icon name="ios-arrow-forward" style="font-size: 4em;"></ion-icon>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>

<ion-footer>
    <div class="footer">
        <div class="left"></div>
        <div class="right"></div>
    </div>
</ion-footer>