page-datos {
    ion-tabs {
        color: blueviolet;
    }
}

.tabs-ios-azul .tabbar {
    border-color: transparent !important;
    background-color: #243e56 !important;
}

.tabs-md-azul .tabbar {
    background-color: #243e56 !important;
}

.ios ion-nav {
    background-color: #243e56 !important;
}

.toolbar-ios {
    padding: 4px;
    padding-left: 4px;
    padding-right: 4px;
    min-height: 44px;
    background-color: #243e56 !important;
}