<ion-header>
  <ion-navbar color="azul">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      <ion-badge>{{noleidos}}</ion-badge>
    </button>
    <ion-title>Nombre de la empresa: AGO Consultores
      <br>ID Cliente: {{id}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="detail-card" color="fondo">
  <ion-card>
    <ion-card-header class="encabezado">
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <img src="../assets/imgs/iconos/DLeads.svg" class="carta" />
          </ion-col>
          <ion-col col-10>
            <h1 style="font-size: 5.5vw;">
              <strong>Detalle de Leads</strong>
            </h1>
            <h3 style="font-size: 3.2vw;">Descripción de las oportunidades de venta</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr style="background-color:black; width:90%">
    </ion-card-header>

    <ion-card-content>
      <ion-list>

        <div style="text-align: right;border-top: 1.15px solid #d0d1d1;border-bottom: 1.15px solid #d0d1d1;">
          <ion-item>
            <ion-label style="margin-left: .5em;">Filtrar por:</ion-label>
            <ion-select [(ngModel)]="filtro" interface="action-sheet">
              <ion-option value="Todos" selected>Todos los recibidos</ion-option>
              <ion-option *ngFor="let employee of employees" [value]="employee" value="Leidos">Leidos</ion-option>
              <ion-option value="NoLeidos">No Leidos</ion-option>
              <ion-option value="Vendido">Vendido</ion-option>
              <ion-option value="proceso">En proceso de venta</ion-option>
              <ion-option value="SinContacto">Sin Contacto</ion-option>
              <ion-option value="Descartado">Descartado</ion-option>
            </ion-select>
          </ion-item>
        </div>
        <ion-list detail-none ion-item *ngFor="let lead of leads; let i = index;" (click)="verLead(lead);changeLeido(lead);" style="border-top: 1.15px solid #d0d1d1;border-bottom: 1.15px solid #d0d1d1;">
          <ion-grid style="padding: 2px;padding-bottom: 3px !important;">
            <ion-card [ngClass]="{'leido':lead.leido === 'leido','noleido':lead.leido === 'noleido'}">
              <ion-card-content class="{{lead.clasificaLead}}">
                <ion-row align-items-center>
                  <ion-col col-8 align-self-center>
                    <a class="inf-nombre">
                      <strong>{{lead.NOMBRE}} </strong>
                    </a>
                    <div class="tooltip">
                      <ion-icon class="urgente" alt="Urgente" name="ios-alert-outline"></ion-icon>
                    </div>
                  </ion-col>
                  <ion-col col-4>
                    <div class="rate-fechal">{{lead.FECHA}}</div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-10>
                    <div class="inf-empresa">{{lead.EMPRESA}}</div>
                  </ion-col>
                  <ion-col col-2 style="text-align: right;">
                    <div class="inf-estado">85%</div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-10>
                    <div class="inf-mensaje">{{lead.MENSAJE}}</div>
                  </ion-col>
                  <ion-col col-2 style="text-align: right;">
                    <ion-icon class="{{lead.calificaLead}} icon icon-md ion-md-thumbs-up" name="md-thumbs-up" (click)="changeLike('L',lead)"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-grid>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más Leads..."></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>