.detail-card {
  .icono{
    width: 85%;
    padding-right: 0 !important;
  }
}

.carta{
  width: 60% !important;
  margin-left: 20% !important;
}

.ios, .md {
     page-reporte {
         button {
             align-items: baseline;
             border: 2pt black;
             padding-left: 0px !important;
         }
     }
 }
.card-content-md {
  padding: 0px 0px; 
  font-size: 1.4rem;
  line-height: 1.5;
}

.label-ios {
  margin: 2px 0px 4px 0;
}

.card-content-ios {
  padding: 0px 6px 0px;
  font-size: 1.4rem;
  line-height: 1.4;
}
  
.item-ios {
  padding-left: 0px !important; 
  border-radius: 0;
  position: relative;
  font-size: 1.7rem;
  color: #000;
  background-color: #fff;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.toolbar-title-md {
  font-size: 1.5rem;
  padding: 0px;
} 
  
.grid{
  padding-bottom: 0px !important;
}
  
.item-md {
  padding-left: 0; 
  padding-top: 0; 
}
  
ion-select{
  max-width: 65%;
}
  
.label-md {
  margin: 0px 0px 0px 0; 
}
  
.col{
  padding: 0px !important;
  align-items: center;
}

.item-md.item-block .item-inner {
  padding-right: 0px !important; 
  border-bottom: 1px solid #dedede;
}
 
.encabezado{
  padding: 0 !important;
}
 
.rate-header { 
  color: #76797b;
  font-size: 12px;
  position: absolute;
}

.rate-nombre { 
  font-size: 5vw;
  color: dimgray;
  height: 100%;
  width: 100%;
  align-items:center;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.rate-fecha { 
  font-size:4.4vw;
  color: dimgray;
  text-align: right; 
}

.rate-calidads { 
  font-size:5vw;
  color: #10c2ce;
  margin-left: .3em;
  margin-top: .5vw;
}

.rate-empresa {  
  font-size:5vw;
  color:dimgray;
  margin-left: .3em;
}

.inf-mensaje { 
  font-size: 4vw;
  color: lightslategray; 
  margin-top: 5px;
  text-align: justify;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.rate-icon {
  position: relative;
  color: #d1d1d1;
}

.rate-icon-fill{
  position: relative;
  color: #10cebc;
}

.circulo{
  border-radius: 8px;
  width: 80%;
  text-align: center;
  margin: 0px;
  display: inline-table;
  color: white !important;
  background-color: #d1d1d1;
}

.card-md {
  margin: 0px; 
  border-radius: 2px;
  width: 100%;
  background: white;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}



.vacio{
  background-color: #d1d1d1;
}

.fillv{
  background-color:#00b9bf;;
}

.fill-v{
  background-color:#d1d1d1;
}

.btn-estatusv{
  color: white;
  width: 80%;
  border-color: transparent;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 3px;  
}

.btn-estatusv:hover{
  background-color:darkturquoise;
}

.btn-estatusv:active{
   background-color:darkturquoise; 
}

.btn-estatusp{
  color: white;
  width: 80%;
  border-color: transparent;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 3px;
}

.btn-estatusp:hover{
  background-color:#6B4595;
}

.fillp{
  background-color:#6B4595;
}

.btn-estatusc{
  color: white;
  width: 80%;
  border-color: transparent;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 3px;
}

.btn-estatusc:hover{
  background-color:#419BD6; 
}

.fillc{
  background-color:#419BD6; 
}

.btn-estatusd{
  color: white;
  width: 80%;
  border-color: transparent;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 3px;
}

.btn-estatusd:hover{
  background-color:#F2631C; 
}

.filld{
  background-color:#F2631C; 
}

label {
  display: block;
} 

.icon-search{
  float: right;
  width: 4%;
}

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  color: #10cebc;
}

input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 99%;
  cursor: pointer;
}

.urgente{
  color: red;
  font-size: 1.4em;
  font-weight: bold;
}

.item-md p {
  margin: 0 0 0px;
  overflow: inherit;
  font-size: 1.6rem;
  text-overflow: inherit;
  color: white;
  line-height: 1.5;
}

.evaluado2{
  font-size: 8vw;
  cursor: pointer;
}

.banda{
  padding: 2% !important; 
  border-left: 20px solid #76797b !important;
}

.V{
  padding: 2% !important; 
  border-left: 20px solid #00b9bf !important;
}

.P{
  padding: 2% !important; 
  border-left: 20px solid #6B4595 !important;
}

.D{
  padding: 2% !important; 
  border-left: 20px solid #F2631C !important;
}

.S{
  padding: 2% !important; 
  border-left: 20px solid #419BD6 !important;
}

.like{
  color: #00b9bf !important;
  font-size: 8vw;
  cursor: pointer;
}

.dislike{
  color: rgb(209, 209, 209) !important;
  font-size: 8vw;
  cursor: pointer;
}

.vacio{
  color: rgb(209, 209, 209) !important;
  font-size: 8vw;
  cursor: pointer;
}