leads {
       .expand-wrapper {
           transition: 0.2s linear;
           border: 1pt black;
           height: 100px !important;
        }  
       .collapsed {
           height: 0 !important;
           border: 1pt black;
       }
   }