page-modal-survey {
    .encuesta-container {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-areas: "activity-header" "activity-content-container" "activity-footer";
        grid-template-rows: 28% auto 20%;
        .activity-header {
            grid-area: activity-header;
            height: 100%;
            width: 100%;
            .encabezado-encuesta {
                height: 40px;
                position: absolute;
                top: 22%;
                width: 40%;
                margin-left: 30%;
                border-radius: 10px;
                background: white;
                text-align: center;
                color: #FE703F;
                display: grid;
                justify-content: center;
                align-items: center;
                font-size: 6vw;
                font-weight: bold;
                box-shadow: 10px 10px 13px -8px rgba(0, 0, 0, 0.45);
            }
        }
        .activity-content-container {
            grid-area: activity-content-container;
            height: 100%;
            width: 100%;
            text-align: center;
            padding: 4%;
            display: grid;
            .azul-encuesta {
                color: #288AC1;
                font-weight: bold;
                font-size: 5.5vw;
                margin-top: 10%;
            }
            .azul {
                color: #288AC1;
                font-weight: bold;
                font-size: 5vw;
                margin-top: 2%;
                margin-bottom: 3%;
            }
            .gris {
                color: rgb(119, 119, 119);
                font-weight: 400;
                font-size: 5.2vw;
            }
            .encuesta-opcion {
                width: 100%;
                height: 80%;
                border: 1px #707070 solid;
                border-radius: 10px;
                margin-bottom: 3%;
                font-size: 4.5vw;
                color: #707070;
            }
            .elegida {
                width: 100%;
                height: 80%;
                border: 1px #288AC1 solid;
                border-radius: 10px;
                margin-bottom: 3%;
                font-size: 4.5vw;
                color: white;
                background: #288AC1;
                font-weight: bold;
            }
            .comentario {
                border: 1px #288AC1 solid;
                border-radius: 5px;
                font-size: 4.5vw;
                color: #707070;
            }
        }
        .activity-footer {
            grid-area: activity-footer;
            height: 100%;
            width: 100%;
            text-align: center;
            .encuesta-comenzar {
                background-color: #f06922;
                color: white;
                border: 1.1px solid #f06922;
                width: 45%;
                height: 40%;
                font-size: 5vw;
                border-radius: 10px;
                font-weight: 500;
            }
            .encuesta-regresar {
                background-color: white;
                color: #f06922;
                border: 1.1px solid #f06922;
                width: 40%;
                height: 40%;
                font-size: 5vw;
                border-radius: 10px;
                font-weight: 500;
            }
            .encuesta-siguiente {
                background-color: #f06922;
                color: white;
                border: 1.1px solid #f06922;
                width: 40%;
                height: 40%;
                font-size: 5vw;
                border-radius: 10px;
                font-weight: 500;
                margin-left: 3%;
            }
            .progress-bar-container {
                display: grid;
                height: 20%;
                width: 80%;
                margin-left: 10%;
                grid-column-gap: 2%;
                grid-template-areas: "section1 section2 section3 section4 section5";
                grid-template-columns: 18% 18% 18% 18% 18%;
                margin-bottom: 3%;
                margin-top: 4%;
                .section1 {
                    grid-area: section1;
                    height: 15px;
                    width: 100%;
                    border: 1px #F1F1F1 solid;
                    background: #F1F1F1;
                }
                .section2 {
                    grid-area: section2;
                    height: 15px;
                    width: 100%;
                    border: 1px #F1F1F1 solid;
                    background: #F1F1F1;
                }
                .section3 {
                    grid-area: section3;
                    height: 15px;
                    width: 100%;
                    border: 1px #F1F1F1 solid;
                    background: #F1F1F1;
                }
                .section4 {
                    grid-area: section4;
                    height: 15px;
                    width: 100%;
                    border: 1px #F1F1F1 solid;
                    background: #F1F1F1;
                }
                .section5 {
                    grid-area: section5;
                    height: 15px;
                    width: 100%;
                    border: 1px #F1F1F1 solid;
                    background: #F1F1F1;
                }
                .selection {
                    border: 1px #00bcaa solid;
                    background: #00bcaa;
                }
            }
            .progress-bar-container-eight {
                display: grid;
                height: 20%;
                width: 80%;
                margin-left: 10%;
                grid-column-gap: 2%;
                grid-template-areas: "section1 section2 section3 section4 section5 section6 section7 section8";
                grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11%;
                margin-bottom: 3%;
                margin-top: 4%;
                .section1 {
                    grid-area: section1;
                    height: 15px;
                    width: 100%;
                    border: 1px #F1F1F1 solid;
                    background: #F1F1F1;
                }
                .section2 {
                    grid-area: section2;
                    height: 15px;
                    width: 100%;
                    border: 1px #F1F1F1 solid;
                    background: #F1F1F1;
                }
                .section3 {
                    grid-area: section3;
                    height: 15px;
                    width: 100%;
                    border: 1px #F1F1F1 solid;
                    background: #F1F1F1;
                }
                .section4 {
                    grid-area: section4;
                    height: 15px;
                    width: 100%;
                    border: 1px #F1F1F1 solid;
                    background: #F1F1F1;
                }
                .section5 {
                    grid-area: section5;
                    height: 15px;
                    width: 100%;
                    border: 1px #F1F1F1 solid;
                    background: #F1F1F1;
                }
                .section6 {
                    grid-area: section6;
                    height: 15px;
                    width: 100%;
                    border: 1px #F1F1F1 solid;
                    background: #F1F1F1;
                }
                .section7 {
                    grid-area: section7;
                    height: 15px;
                    width: 100%;
                    border: 1px #F1F1F1 solid;
                    background: #F1F1F1;
                }
                .section8 {
                    grid-area: section8;
                    height: 15px;
                    width: 100%;
                    border: 1px #F1F1F1 solid;
                    background: #F1F1F1;
                }
                .selection {
                    border: 1px #00bcaa solid;
                    background: #00bcaa;
                }
            }
        }
    }
}

ul.grade {
    display: flex;
    font-size: 0;
    padding: 0;
    margin-bottom: 10%;
    li {
        display: inline-block;
        background: white;
        height: 40px;
        width: 10%;
        border: 1px solid #288AC1;
        margin: -1px 0 0 -1px;
        border-collapse: collapse;
        position: relative;
        text-align: center;
        transition: .4s;
        font-weight: bold;
        &:first-child {
            border-radius: 30px 0px 0px 30px;
        }
        &:last-child {
            border-radius: 0px 30px 30px 0px;
            border-right: none;
        }
        &.selection {
            background: #288AC1;
            color: white;
        }
        span {
            color: #288AC1;
            line-height: 40px;
            position: absolute;
            width: 100%;
            left: 0px;
            font-size: 4vw;
            transition: .2s;
            font-weight: bold;
            &:hover {
                font-size: 16px;
                transition: .2s;
            }
        }
        &.selection span {
            color: white;
            font-weight: bold;
        }
    }
}