<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <img *ngIf="tipo == 16" src="assets/imgs/upgrade/{{upgrade}}.svg" width="100%" />
        <img *ngIf="tipo == 17" src="assets/imgs/upgrade/{{upgrade}}.svg" width="100%" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1>
      </ion-col>
      <ion-col col-10>
        <div class="cuadro-membresia">
          ¡Te regalamos<br> <span class="naranja">${{selectedAmount}}</span> pesos!
        </div>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1>
      </ion-col>
      <ion-col col-10>
        <div class="promocion" *ngIf="tipo == 16">
          ¡Invierte <span class="naranja">${{selectedAmount}}</span> pesos y te regalamos <b>la misma cantidad!</b>
        </div>
        <div class="promocion" *ngIf="tipo == 17">
          ¡Te regalamos los primeros <span class="naranja">${{selectedAmount}}</span> pesos si <b>incrementas tu membresía!</b>
        </div>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1>
      </ion-col>
      <ion-col col-10>
        <img [ngClass]="{ flecha: banner == 'promo5', otro: banner === 'promo1' ||  banner === 'promo2' || banner === 'promo4', dinero: banner === 'promo3' ||  banner === 'promo6' }" src="assets/imgs/upgrade/{{banner}}.svg"/> 
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1>
      </ion-col>
      <ion-col col-5>
        <button ion-button class="btn-cancelar-comentario" (click)="closeModal();registrarInteres(0);">Más adelante</button>
      </ion-col>
      <ion-col col-5>
        <button *ngIf="tipo == 16" ion-button class="btn-guardar-comentario" (click)="btnUpgradeMembership();">Aceptar</button>
        <button *ngIf="tipo == 17" ion-button class="btn-guardar-comentario" (click)="btnUpgradeMembership();registrarInteres(0);getRegisterUpdateMembership();">Aceptar</button>
      </ion-col>
      <ion-col col-1>
      </ion-col>
      <ion-col col-2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>