<ion-header>
    <ion-navbar>
        <ion-title>Email</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="banner">
        <img src="assets/imgs/ajustes/img_bannerajustes.svg" width="100%" height="100%" />
        <p class="titulo">AJUSTES</p>
        <p class="subtitulo">Modifica la configuración de tu campaña</p>
    </div>

    <div class="tarjeta">
        <ion-grid>
            <ion-row>
                <ion-col col-12>
                    <ion-card>
                        <div class="encabezado-horario primero">
                            <ion-grid>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-2>
                                        <ion-icon name="md-phone-portrait" class="iconos-w">
                                        </ion-icon>
                                    </ion-col>
                                    <ion-col col-8>
                                        <p class="encabezado-texto-grande">Proceso Comercial</p>
                                    </ion-col>
                                    <ion-col col-2>
                                        <ion-icon *ngIf="proceso !== 'Editar'" (click)="changeEdit('proceso')" name="md-create" class="iconos-w"></ion-icon>
                                        <ion-icon *ngIf="proceso == 'Editar'" (click)="changeEdit('proceso');registrarProcesoComercial();" name="md-checkbox-outline" class="iconos-w"></ion-icon>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                        <ion-card-content>
                            <ion-grid>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-12 class="preguntas">
                                        Distribución de tus ventas:
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-6 class="distribucion">
                                        Offline o Tradicional:&nbsp;
                                    </ion-col>
                                    <ion-col col-3>
                                        <div class="proceso" *ngIf="proceso !== 'Editar'">
                                            <div class="puntos">{{distribucionOffline}}</div>
                                        </div>
                                        <input *ngIf="proceso == 'Editar'" type="number" name="quantity" min="0" max="100" class="distribucion-porcentaje" [(ngModel)]="distribucionOffline">
                                    </ion-col>
                                    <ion-col col-3 class="porcentaje">
                                        &nbsp;%
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-6 class="distribucion">
                                        Online o Digital:&nbsp;
                                    </ion-col>
                                    <ion-col col-3>
                                        <div class="proceso" *ngIf="proceso !== 'Editar'">
                                            <div class="puntos">{{distribucionOnline}}</div>
                                        </div>
                                        <input type="number" *ngIf="proceso == 'Editar'" name="quantity" min="0" max="100" class="distribucion-porcentaje" [(ngModel)]="distribucionOnline">
                                    </ion-col>
                                    <ion-col col-3 class="porcentaje">
                                        &nbsp;%
                                    </ion-col>
                                </ion-row>

                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-12 class="preguntas">
                                        ¿Quién vende en tu empresa?
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-4>
                                        <button [ngClass]="{'vende':quienVende != 'Solo dueño','vende-activo':quienVende == 'Solo dueño'}" *ngIf="proceso !== 'Editar'">Sólo dueño</button>
                                        <button [ngClass]="{'vende':quienVende != 'Solo dueño','vende-activo':quienVende == 'Solo dueño'}" *ngIf="proceso == 'Editar'" (click)="changeSeller('Solo dueño')">Sólo dueño</button>
                                    </ion-col>
                                    <ion-col col-4>
                                        <button [ngClass]="{'vende':quienVende != 'Fuerza de Ventas','vende-activo':quienVende == 'Fuerza de Ventas'}" *ngIf="proceso !== 'Editar'">Fuerza de Ventas</button>
                                        <button [ngClass]="{'vende':quienVende != 'Fuerza de Ventas','vende-activo':quienVende == 'Fuerza de Ventas'}" *ngIf="proceso == 'Editar'" (click)="changeSeller('Fuerza de Ventas')">Fuerza de Ventas</button>
                                    </ion-col>
                                    <ion-col col-4>
                                        <button [ngClass]="{'vende':quienVende != 'Ambos','vende-activo':quienVende == 'Ambos'}" *ngIf="proceso !== 'Editar'">Ambos</button>
                                        <button [ngClass]="{'vende':quienVende != 'Ambos','vende-activo':quienVende == 'Ambos'}" *ngIf="proceso == 'Editar'" (click)="changeSeller('Ambos')">Ambos</button>
                                    </ion-col>
                                </ion-row>

                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-12 class="preguntas">
                                        ¿Cuántos vendedores?
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%" >
                                    <ion-col col-2 offset-2>
                                        <div class="proceso" *ngIf="proceso !== 'Editar'">
                                            <div class="puntos">{{numeroVendedores}}</div>
                                        </div>
                                        <input type="number" *ngIf="proceso == 'Editar'" [(ngModel)]="numeroVendedores">
                                    </ion-col>
                                    
                                    <ion-col col-4 offset-2 class="porcentaje" *ngIf="proceso !== 'Editar'">
                                        <input type="radio" name="tipoVendedores" value="Telefonicos" style="width: 20%;" checked="tipoVendedores == 'Telefonicos'"> Telefónicos 
                                    </ion-col>
                                    <ion-col col-4 offset-6 class="porcentaje" *ngIf="proceso !== 'Editar'" >
                                        <input type="radio" name="tipoVendedores" value="De Campo" style="width: 20%;" checked="tipoVendedores == 'De Campo'"> De Campo
                                    </ion-col>

                                    <ion-col col-4 offset-2 class="porcentaje" *ngIf="proceso == 'Editar'">
                                        <input type="radio" name="tipoVendedores" [(ngModel)]="tipoVendedores" value="Telefonicos"value="Telefonicos" style="width: 20%;" checked="Telefonicos"> Telefónicos   
                                    </ion-col>
                                    <ion-col col-4 offset-6 class="porcentaje" *ngIf="proceso == 'Editar'">
                                        <input type="radio" name="tipoVendedores" [(ngModel)]="tipoVendedores" [(ngModel)]="tipoVendedores" value="De Campo"  value="De Campo" style="width: 20%;" checked="De Campo"> De Campo
                                    </ion-col>
                                </ion-row>

                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-12 class="preguntas">
                                        ¿Ya cuenta con CRM diferente a Koomkin?
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-4 offset-2>
                                        <button [ngClass]="{'vende':crmDiferente != true,'vende-activo':crmDiferente == true}" *ngIf="proceso !== 'Editar'">Si</button>
                                        <button [ngClass]="{'vende':crmDiferente != true,'vende-activo':crmDiferente == true}" *ngIf="proceso == 'Editar'" (click)="changeCRM(true)">Si</button>
                                    </ion-col>
                                    <ion-col col-4>
                                        <button [ngClass]="{'vende':crmDiferente != false,'vende-activo':crmDiferente == false}" *ngIf="proceso !== 'Editar'">No</button>
                                        <button [ngClass]="{'vende':crmDiferente != false,'vende-activo':crmDiferente == false}" *ngIf="proceso == 'Editar'" (click)="changeCRM(false)">No</button>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-card>
                        <div class="encabezado-horario segundo">
                            <ion-grid>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-2>
                                        <ion-icon name="md-people" class="iconos-w">
                                        </ion-icon>
                                    </ion-col>
                                    <ion-col col-8>
                                        <p class="encabezado-texto-grande">Clientes Nuevos</p>
                                    </ion-col>
                                    <ion-col col-2>
                                        <ion-icon *ngIf="clientes !== 'Editar'" (click)="changeEdit('clientes')" name="md-create" class="iconos-w"></ion-icon>
                                        <ion-icon *ngIf="clientes == 'Editar'" (click)="changeEdit('clientes');registrarClientesNuevos()" name="md-checkbox-outline" class="iconos-w"></ion-icon>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                        <ion-card-content>
                            <ion-grid>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-12 class="preguntas">
                                        ¿Cómo obtienes clientes nuevos?
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-3>
                                        <button
                                            [ngClass]="{'boton-cobertura-brief-blanco':clientesNuevos === 'Recomendacion','boton-cobertura-brief':clientesNuevos !== 'Recomendacion'}"
                                            style="margin-right: 1%;" (click)="changeNewClients('Recomendacion')">
                                            <img *ngIf="clientesNuevos !== 'Recomendacion'"
                                                src="assets/imgs/ajustes/ic_referidos.svg" class="referidos">
                                            <img *ngIf="clientesNuevos === 'Recomendacion'"
                                                src="assets/imgs/ajustes/ic_referidos_selected.svg" class="referidos">
                                            <p class="texto-boton-brief">Recomendación <br>/ Referidos</p>
                                        </button>
                                    </ion-col>
                                    <ion-col col-3>
                                        <button
                                            [ngClass]="{'boton-cobertura-brief-blanco':clientesNuevos === 'Prospeccion','boton-cobertura-brief':clientesNuevos !== 'Prospeccion'}"
                                            style="margin-right: 1%;" (click)="changeNewClients('Prospeccion')">
                                            <img *ngIf="clientesNuevos !== 'Prospeccion'"
                                                src="assets/imgs/ajustes/ic_prospecciontelefonica.svg"
                                                class="referidos">
                                            <img *ngIf="clientesNuevos === 'Prospeccion'"
                                                src="assets/imgs/ajustes/ic_prospecciontelefonica_selected.svg"
                                                class="referidos">
                                            <p class="texto-boton-brief">Prospección Telefónica</p>
                                        </button>
                                    </ion-col>

                                    <ion-col col-3>
                                        <button
                                            [ngClass]="{'boton-cobertura-brief-blanco':clientesNuevos === 'Cambaceo','boton-cobertura-brief':clientesNuevos !== 'Cambaceo'}"
                                            style="margin-right: 1%;" (click)="changeNewClients('Cambaceo')">
                                            <img *ngIf="clientesNuevos !== 'Cambaceo'"
                                                src="assets/imgs/ajustes/ic_cambaceo.svg" class="referidos">
                                            <img *ngIf="clientesNuevos === 'Cambaceo'"
                                                src="assets/imgs/ajustes/ic_cambaceo_selected.svg" class="referidos">
                                            <p class="texto-boton-brief"><br>Cambaceo</p>
                                        </button>
                                    </ion-col>
                                    <ion-col col-3>
                                        <button
                                            [ngClass]="{'boton-cobertura-brief-blanco':clientesNuevos === 'Publicidad','boton-cobertura-brief':clientesNuevos !== 'Publicidad'}"
                                            style="margin-right: 1%;" (click)="changeNewClients('Publicidad')">
                                            <img *ngIf="clientesNuevos !== 'Publicidad'"
                                                src="assets/imgs/ajustes/ic_publicidad.svg" class="referidos">
                                            <img *ngIf="clientesNuevos === 'Publicidad'"
                                                src="assets/imgs/ajustes/ic_publicidad_selected.svg" class="referidos">
                                            <p class="texto-boton-brief"><br>Publicidad</p>
                                        </button>
                                    </ion-col>
                                </ion-row>

                                <ion-row style="margin-bottom: 0%" *ngIf="clientesNuevos === 'Publicidad'">
                                    <ion-col col-12 class="preguntas">
                                        ¿Qué tipo de publicidad?
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%" *ngIf="clientesNuevos === 'Publicidad'">
                                    <ion-col col-3 offset-3>
                                        <button
                                            [ngClass]="{'boton-cobertura-brief-blanco':tipoPublicidad === 'Tradicional','boton-cobertura-brief':tipoPublicidad !== 'Tradicional'}"
                                            style="margin-right: 1%;" (click)="changeMarketing('Tradicional')">
                                            <img *ngIf="tipoPublicidad !== 'Tradicional'"
                                                src="assets/imgs/ajustes/ic_tradicional.svg" class="publicidad">
                                            <img *ngIf="tipoPublicidad === 'Tradicional'"
                                                src="assets/imgs/ajustes/ic_tradicional_selected.svg" class="publicidad">
                                            <p class="texto-boton-brief">Tradicional</p>
                                        </button>
                                    </ion-col>

                                    <ion-col col-3>
                                        <button
                                            [ngClass]="{'boton-cobertura-brief-blanco':tipoPublicidad === 'Digital','boton-cobertura-brief':tipoPublicidad !== 'Digital'}"
                                            style="margin-right: 1%;" (click)="changeMarketing('Digital')">
                                            <img *ngIf="tipoPublicidad !== 'Digital'"
                                                src="assets/imgs/ajustes/ic_digital.svg">
                                            <img *ngIf="tipoPublicidad === 'Digital'"
                                                src="assets/imgs/ajustes/ic_digital_selected.svg">
                                            <p class="texto-boton-brief">Digital</p>
                                        </button>
                                    </ion-col>
                                </ion-row>

                                <ion-row style="margin-bottom: 0%" *ngIf="clientesNuevos === 'Publicidad' && tipoPublicidad == 'Tradicional' || clientesNuevos === 'Publicidad' && tipoPublicidad == 'Digital'">
                                    <ion-col col-12 class="preguntas">
                                        Específica que tipo de publicidad {{tipoPublicidad}}
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%" *ngIf="clientesNuevos === 'Publicidad' && tipoPublicidad == 'Tradicional'">
                                    <ion-col col-3 offset-2>
                                        <button
                                            [ngClass]="{'boton-cobertura-brief-blanco':publicidadTracicional === 'Impresos','boton-cobertura-brief':publicidadTracicional !== 'Impresos'}"
                                            style="margin-right: 1%;" (click)="changeMarketingTradicional('Impresos')">
                                            <img *ngIf="publicidadTracicional !== 'Impresos'"
                                                src="assets/imgs/ajustes/ic_impresos.svg" class="tradicional">
                                            <img *ngIf="publicidadTracicional === 'Impresos'"
                                                src="assets/imgs/ajustes/ic_impresos_selected.svg" class="tradicional">
                                            <p class="texto-boton-brief">Impresos</p>
                                        </button>
                                    </ion-col>
                                    <ion-col col-3>
                                        <button
                                            [ngClass]="{'boton-cobertura-brief-blanco':publicidadTracicional === 'Expos','boton-cobertura-brief':publicidadTracicional !== 'Expos'}"
                                            style="margin-right: 1%;" (click)="changeMarketingTradicional('Expos')">
                                            <img *ngIf="publicidadTracicional !== 'Expos'"
                                                src="assets/imgs/ajustes/ic_expos.svg" class="expos">
                                            <img *ngIf="publicidadTracicional === 'Expos'"
                                                src="assets/imgs/ajustes/ic_expos_selected.svg" class="expos">
                                            <p class="texto-boton-brief">Expos</p>
                                        </button>
                                    </ion-col>
                                    <ion-col col-3>
                                        <button
                                            [ngClass]="{'boton-cobertura-brief-blanco':publicidadTracicional === 'Otros','boton-cobertura-brief':publicidadTracicional !== 'Otros'}"
                                            style="margin-right: 1%;" (click)="changeMarketingTradicional('Otros')">
                                            <img *ngIf="publicidadTracicional !== 'Otros'"
                                                src="assets/imgs/ajustes/otros.svg" class="tradicional">
                                            <img *ngIf="publicidadTracicional === 'Otros'"
                                                src="assets/imgs/ajustes/otros_selected.svg" class="tradicional">
                                            <p class="texto-boton-brief">Otros</p>
                                        </button>
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%" *ngIf="clientesNuevos === 'Publicidad' && tipoPublicidad == 'Digital'">
                                        <ion-col col-3>
                                            <button
                                                [ngClass]="{'boton-cobertura-brief-blanco':publicidadDigital === 'Facebook','boton-cobertura-brief':publicidadDigital !== 'Facebook'}"
                                                style="margin-right: 1%;" (click)="changeMarketingDigital('Facebook')">
                                                <img *ngIf="publicidadDigital !== 'Facebook'"
                                                    src="assets/imgs/ajustes/ic_facebook.svg" class="digital">
                                                <img *ngIf="publicidadDigital === 'Facebook'"
                                                    src="assets/imgs/ajustes/ic_facebook_selected.svg" class="digital">
                                                <p class="texto-boton-brief">Facebook</p>
                                            </button>
                                        </ion-col>
                                        <ion-col col-3>
                                            <button
                                                [ngClass]="{'boton-cobertura-brief-blanco':publicidadDigital === 'Instagram','boton-cobertura-brief':publicidadDigital !== 'Instagram'}"
                                                style="margin-right: 1%;" (click)="changeMarketingDigital('Instagram')">
                                                <img *ngIf="publicidadDigital !== 'Instagram'"
                                                    src="assets/imgs/ajustes/ic_instagram.svg" class="digital">
                                                <img *ngIf="publicidadDigital === 'Instagram'"
                                                    src="assets/imgs/ajustes/ic_instagram_selected.svg" class="digital">
                                                <p class="texto-boton-brief">Instagram</p>
                                            </button>
                                        </ion-col>
    
                                        <ion-col col-3>
                                            <button
                                                [ngClass]="{'boton-cobertura-brief-blanco':publicidadDigital === 'Google','boton-cobertura-brief':publicidadDigital !== 'Google'}"
                                                style="margin-right: 1%;" (click)="changeMarketingDigital('Google')">
                                                <img *ngIf="publicidadDigital !== 'Google'"
                                                    src="assets/imgs/ajustes/ic_google.svg" class="digital">
                                                <img *ngIf="publicidadDigital === 'Google'"
                                                    src="assets/imgs/ajustes/ic_google_selected.svg" class="digital">
                                                <p class="texto-boton-brief">Google</p>
                                            </button>
                                        </ion-col>
                                        <ion-col col-3>
                                            <button
                                                [ngClass]="{'boton-cobertura-brief-blanco':publicidadDigital === 'Otros','boton-cobertura-brief':publicidadDigital !== 'Otros'}"
                                                style="margin-right: 1%;" (click)="changeMarketingDigital('Otros')">
                                                <img *ngIf="publicidadDigital !== 'Otros'"
                                                    src="assets/imgs/ajustes/ic_otros.svg" class="digital">
                                                <img *ngIf="publicidadDigital === 'Otros'"
                                                    src="assets/imgs/ajustes/ic_otros_selected.svg" class="digital">
                                                <p class="texto-boton-brief">Otros</p>
                                            </button>
                                        </ion-col>
                                    </ion-row>
                            </ion-grid>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-card>
                        <div class="encabezado-horario tercero">
                            <ion-grid>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-2>
                                        <ion-icon name="ios-chatbubbles" class="iconos-w">
                                        </ion-icon>
                                    </ion-col>
                                    <ion-col col-8>
                                        <p class="encabezado-texto-grande">Redes Sociales</p>
                                    </ion-col>
                                    <ion-col col-2>
                                        <ion-icon *ngIf="redes !== 'Editar'" (click)="changeEdit('redes')" name="md-create" class="iconos-w"></ion-icon>
                                        <ion-icon *ngIf="redes == 'Editar'" (click)="changeEdit('redes');changeInfo();cambioInformacion()" name="md-checkbox-outline" class="iconos-w"></ion-icon>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                        <ion-card-content>
                            <ion-grid>
                                <ion-row>
                                    <ion-col col-12>
                                        <p class="contacto" colspan="2">Escribe o pega el URL las redes sociales de tu empresa</p>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                        <ion-col col-12>
                                            <p class="campos ">Web (Empresa)</p>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col col-10 class="social ">
                                            <div class="redsocial "
                                                [ngClass]="{ 'nocuento':web=='No cuento con esta red' } ">
                                                <div class="puntos">{{web}}</div>
                                            </div>
                                        </ion-col>
                                        <ion-col col-2>
                                            <img *ngIf="web !=='' && web !=='No cuento con esta red' "
                                                src="assets/imgs/ajustes/tengo.svg " class="cuento" />
                                            <img *ngIf="web === ''" src="assets/imgs/ajustes/tengo.svg" class="cuento"
                                                (click)="changeTengo('web')" />
                                            <img *ngIf="web==='No cuento con esta red' "
                                                src="assets/imgs/ajustes/notengo.svg " class="cuento">
                                        </ion-col>
                                    </ion-row>
    
                                <ion-row>
                                    <ion-col col-12>
                                        <p class="campos">Facebook (Empresa)</p>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-10>
                                        <div class="redsocial"
                                            [ngClass]="{'nocuento':facebook == 'No cuento con esta red'}">
                                            <div class="puntos">{{facebook}}</div>
                                        </div>
                                    </ion-col>
                                    <ion-col col-2>
                                        <img *ngIf="facebook !=='' && facebook !=='No cuento con esta red'"
                                            src="assets/imgs/ajustes/tengo.svg " class="cuento" />
                                        <img *ngIf="facebook === ''" src="assets/imgs/ajustes/tengo.svg" width="90%"
                                            (click)="changeTengo('facebook')" class="cuento" />
                                        <img *ngIf="facebook==='No cuento con esta red' "
                                            src="assets/imgs/ajustes/notengo.svg" class="cuento">
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-12>
                                        <p class="campos ">Instagram (Empresa)</p>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-10 class="social ">
                                        <div class="redsocial "
                                            [ngClass]="{ 'nocuento':instagram=='No cuento con esta red' } ">
                                            <div class="puntos">{{instagram}}</div>
                                        </div>
                                    </ion-col>
                                    <ion-col col-2>
                                        <img *ngIf="instagram !=='' && instagram !=='No cuento con esta red' "
                                            src="assets/imgs/ajustes/tengo.svg " class="cuento" />
                                        <img *ngIf="instagram === ''" src="assets/imgs/ajustes/tengo.svg"
                                            (click)="changeTengo('instagram')" />
                                        <img *ngIf="instagram==='No cuento con esta red' "
                                            src="assets/imgs/ajustes/notengo.svg " class="cuento">
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-12>
                                        <p class="campos">Twitter (Empresa)</p>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-10 class="social ">
                                        <div class="redsocial "
                                            [ngClass]="{ 'nocuento':twitter=='No cuento con esta red' } ">
                                            <div class="puntos">{{twitter}}</div>
                                        </div>
                                    </ion-col>
                                    <ion-col col-2>
                                        <img *ngIf="twitter !=='' && twitter !=='No cuento con esta red' "
                                            src="assets/imgs/ajustes/tengo.svg " class="cuento" />
                                        <img *ngIf="twitter === ''" src="assets/imgs/ajustes/tengo.svg" class="cuento"
                                            (click)="changeTengo('twitter')" />
                                        <img *ngIf="twitter==='No cuento con esta red' "
                                            src="assets/imgs/ajustes/notengo.svg " class="cuento">
                                    </ion-col>

                                </ion-row>
                                <ion-row>
                                    <ion-col col-12>
                                        <p class="campos ">LinkedIn (Empresa)</p>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-10 class="social ">
                                        <div class="redsocial "
                                            [ngClass]="{ 'nocuento':linkedIn=='No cuento con esta red' } ">
                                            <div class="puntos">{{linkedIn}}</div>
                                        </div>
                                    </ion-col>
                                    <ion-col col-2>
                                        <img *ngIf="linkedIn !=='' && linkedIn !=='No cuento con esta red' "
                                            src="assets/imgs/ajustes/tengo.svg " class="cuento" />
                                        <img *ngIf="linkedIn === ''" src="assets/imgs/ajustes/tengo.svg" class="cuento"
                                            (click)="changeTengo('linkedIn')" />

                                        <img *ngIf="linkedIn==='No cuento con esta red' "
                                            src="assets/imgs/ajustes/notengo.svg " class="cuento">
                                    </ion-col>
                                </ion-row>
                                
                            </ion-grid>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-card>
                        <div class="encabezado-horario cuarto">
                            <ion-grid>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-2>
                                        <ion-icon name="ios-chatbubbles" class="iconos-w">
                                        </ion-icon>
                                    </ion-col>
                                    <ion-col col-8>
                                        <p class="encabezado-texto-grande">Objetivo Campaña-CRM-BOT</p>
                                    </ion-col>
                                    <ion-col col-2>
                                        <ion-icon *ngIf="objetivo !== 'Editar'" (click)="changeEdit('objetivo')" name="md-create" class="iconos-w"></ion-icon>
                                        <ion-icon *ngIf="objetivo == 'Editar'" (click)="changeEdit('objetivo');registrarObjetivoCampania()" name="md-checkbox-outline" class="iconos-w"></ion-icon>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                        <ion-card-content>
                                <ion-grid *ngIf="objetivo !== 'Editar'">
                                        <ion-row style="margin-bottom: 0%">
                                            <ion-col col-12 class="preguntas" style="text-align: left">
                                                ¿Cuál es tu objetivo de Campaña - CRM - BOT?
                                            </ion-col>
                                        </ion-row>
                                        <ion-row style="margin-bottom: 0%">
                                            <ion-col col-2 style="display: flex;
                                            justify-content: center;
                                            align-items: center;">
                                                <input type="radio" name="campaniaObjetivo" value="Llamada" style="width: 70%;" checked="Llamada">
                                            </ion-col>
                                            <ion-col col-10 class="porcentaje">
                                                a. Llamada Telefónica con Cliente
                                            </ion-col>
                                        </ion-row>
                                        <ion-row style="margin-bottom: 0%">
                                            <ion-col col-2 style="display: flex;
                                            justify-content: center;
                                            align-items: center;">
                                                <input type="radio" name="campaniaObjetivo" value="Cita" style="width: 70%;" checked="Cita">
                                            </ion-col>
                                            <ion-col col-10 class="porcentaje">
                                                b. Agendar Cita en tu Punto de Venta / Oficina
                                            </ion-col>
                                        </ion-row>
                                        <ion-row style="margin-bottom: 0%">
                                            <ion-col col-2 style="display: flex;
                                            justify-content: center;
                                            align-items: center;">
                                                <input type="radio" name="campaniaObjetivo" value="Visita" style="width: 70%;" checked="Visita">
                                            </ion-col>
                                            <ion-col col-10 class="porcentaje">
                                                c. Visitar al Cliente Potencial en su Domicilio
                                            </ion-col>
                                        </ion-row>
                                        <ion-row style="margin-bottom: 0%">
                                            <ion-col col-2 style="display: flex;
                                            justify-content: center;
                                            align-items: center;">
                                                <input type="radio" name="campaniaObjetivo" value="Cotizacion" style="width: 70%;" checked="Cotizacion">
                                            </ion-col>
                                            <ion-col col-10 class="porcentaje">
                                                d. Enviar Cotización Directamente
                                            </ion-col>
                                        </ion-row>
                                        <ion-row style="margin-bottom: 0%">
                                            <ion-col col-12 class="preguntas-center">
                                                Para que Koomkin Bot trabajé y se alineé a dicho objetivo
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                            <ion-grid *ngIf="objetivo == 'Editar'"> 
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-12 class="preguntas" style="text-align: left">
                                        ¿Cuál es tu objetivo de Campaña - CRM - BOT?
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-2 style="display: flex;
                                    justify-content: center;
                                    align-items: center;">
                                        <input type="radio" name="campaniaObjetivo" [(ngModel)]="campaniaObjetivo" value="Llamada" style="width: 70%;" checked="Llamada">
                                    </ion-col>
                                    <ion-col col-10 class="porcentaje">
                                        a. Llamada Telefónica con Cliente
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-2 style="display: flex;
                                    justify-content: center;
                                    align-items: center;">
                                        <input type="radio" name="campaniaObjetivo" [(ngModel)]="campaniaObjetivo" value="Cita" style="width: 70%;" checked="Cita">
                                    </ion-col>
                                    <ion-col col-10 class="porcentaje">
                                        b. Agendar Cita en tu Punto de Venta / Oficina
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-2 style="display: flex;
                                    justify-content: center;
                                    align-items: center;">
                                        <input type="radio" name="campaniaObjetivo" [(ngModel)]="campaniaObjetivo" value="Visita" style="width: 70%;" checked="Visita">
                                    </ion-col>
                                    <ion-col col-10 class="porcentaje">
                                        c. Visitar al Cliente Potencial en su Domicilio
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-2 style="display: flex;
                                    justify-content: center;
                                    align-items: center;">
                                        <input type="radio" name="campaniaObjetivo" [(ngModel)]="campaniaObjetivo" value="Cotizacion" style="width: 70%;" checked="Cotizacion">
                                    </ion-col>
                                    <ion-col col-10 class="porcentaje">
                                        d. Enviar Cotización Directamente
                                    </ion-col>
                                </ion-row>
                                <ion-row style="margin-bottom: 0%">
                                    <ion-col col-12 class="preguntas-center">
                                        Para que Koomkin Bot trabajé y se alineé a dicho objetivo
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>