.item-md{
    padding-left: 0;
    padding-top: 4%;
}
table{
    width: 100%;
}
td{
    width: 55%;
    padding-bottom: 0%;
}

.costo{
    color:  #10cebc;
}
.ver{
    color:  #126aff;
    text-align: right;
}
.back-button-icon-ios {
    margin: -1px 0 0;
    display: inherit;
    min-width: 18px;
    font-size: 3.4rem;
    color: black;
  }