<ion-header>
    <ion-navbar color="azul">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Empresa: {{empresa}}
            <br>ID Cliente: {{id}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="detail-card" color="fondo">
    <ion-card style="height: 80%;">
        <ion-card-header class="encabezado">
            <ion-grid>
                <ion-row>
                    <ion-col col-2>
                        <img src="assets/imgs/eficiencia/trofeo.svg" style="width:60%;margin-left: 20%;margin-top: 6%;" />
                    </ion-col>
                    <ion-col col-10>
                        <h1 style="font-size: 5vw;">
                            <strong>Concurso del mes</strong>
                        </h1>
                        <h3 style="font-size: 3.8vw;color:#707070">Noviembre 2018</h3>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <hr style="background-color:rgba(112,112,112,0.3); width:94%;height: 2px;margin-top: 0;margin-bottom: 0;">
        </ion-card-header>

        <ion-card-content style="height: 130%;">
            <main class="cuadros">
                <div class="section1">
                    <div class="wrapper-posicion">
                        <div class="section1-posicion">
                            <span class="titulo">Posición</span>
                        </div>
                        <div class="section2-posicion">
                            <span class="numero">#48</span>
                            <span class="mas-koomkin">de más de 1,000 en Koomkin</span>
                        </div>
                    </div>
                </div>
                <div class="section2">
                    <div class="wrapper-restante">
                        <div class="section1-restante">
                            <span class="titulo">Tiempo restante</span>
                        </div>
                        <div class="section2-restante">
                            <span class="tiempo-numero">10 10:30</span>
                            <span class="tiempo">días horas minutos</span>

                        </div>
                    </div>
                </div>
                <div class="section3" style="height: 60%;">
                    <div class="wrapper-momento">
                        <div class="section1-momento">
                            <span class="titulo">Lugar</span>
                        </div>
                        <div class="section2-momento">
                            <span class="titulo">Premio</span>
                        </div>
                        <div class="section3-momento">
                            <ion-grid style="padding:0;height: 100%;">
                                <ion-row *ngFor="let ganador of ganadores; let i = index;" style="height: 10%;">
                                    <ion-col col-4>
                                        <img *ngIf="ganador.lugar <= 3" src="assets/imgs/eficiencia/{{ganador.lugar}}.svg" style="width: 28%;margin-left: 37%;" />
                                        <span *ngIf="ganador.lugar > 3 && ganador.lugar <= 10">{{ganador.lugar}}</span>
                                    </ion-col>
                                    <ion-col col-8 style="display: grid;">
                                        <span class="momento-empresa">{{ganador.Nombre | capitalize}}</span>
                                    </ion-col>
                                    <hr style="background-color:rgba(112,112,112,0.3); width:94%;height: 1px;margin-top: 0;margin-bottom: 0; ">
                                </ion-row>
                            </ion-grid>
                        </div>
                        <div class="section4-momento ">
                            <ion-list *ngFor="let premio of premios; let i = index;">
                                <p class="inversion"><span class="azul">${{premio}}</span> inversión adicional</p>
                                <hr style="background-color:rgba(112,112,112,0.3); width:94%;height: 1px;margin-top: 0;margin-bottom: 0; ">
                            </ion-list>
                        </div>
                    </div>
                </div>
            </main>
        </ion-card-content>
    </ion-card>
    <ion-card style="height:130% !important; ">
        <ion-card-header class="encabezado ">
            <ion-grid>
                <ion-row>
                    <ion-col col-2>
                        <img src="assets/imgs/eficiencia/ranking.svg " style="width:60%;margin-left: 20%;margin-top: 5%; " />
                    </ion-col>
                    <ion-col col-8>
                        <h1 style="font-size: 5vw; ">
                            <strong>Ranking de ventas</strong>
                        </h1>
                        <h3 style="font-size: 3.8vw;color:#707070 ">Noviembre 2018</h3>
                    </ion-col>
                    <ion-col col-2>
                        <img src="assets/imgs/eficiencia/info.svg " style="width:60%;margin-left: 20%;margin-top: 5%; " (click)="openModalFuncionalidadPrueba( 'grafica', 'Ranking de Ventas',1) " />
                    </ion-col>
                </ion-row>
            </ion-grid>
            <hr style="background-color:rgba(112,112,112,0.3); width:94%;height: 2px;margin-top: 0;margin-bottom: 0; ">
        </ion-card-header>

        <ion-card-content>
            <main class="cuadros-ranking ">
                <div class="section1-ranking ">
                    <div class="wrapper-posicion ">
                        <div class="section1-posicion ">
                            <span class="titulo ">Posición</span>
                        </div>
                        <div class="section2-posicion ">
                            <span class="numero ">{{posicion}}</span>

                            <span class="mas-koomkin ">de más de 1,000 en Koomkin</span>
                        </div>
                    </div>
                </div>
                <div class="section2-ranking ">
                    <div class="wrapper-restante ">
                        <div class="section1-restante ">
                            <span class="titulo ">Perteneces al TOP</span>
                        </div>
                        <div class="section2-restante ">
                            <ion-grid style="padding:0 ">
                                <ion-row>
                                    <ion-col col-8>
                                        <span class="tiempo-numero ">{{top}}</span>
                                    </ion-col>
                                    <ion-col col-4 style="display: grid; ">
                                        <img src="assets/imgs/eficiencia/trophy.svg " style="width: 70%;margin-left: 15%; " />
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                            <span class="mas-koomkin ">de más de 1,000 en Koomkin</span>
                        </div>
                    </div>
                </div>
                <div class="section3-ranking " style="overflow: scroll;">
                    <div class="wrapper-koomkin ">
                        <div class="section1-koomkin ">
                            <span class="titulo ">TOP 10 al nivel Koomkin</span>
                        </div>
                        <div class="section2-koomkin ">
                            <ion-grid style="padding:0;height: 100%;">
                                <ion-row *ngFor="let ganador of ganadores; let i = index;" style="height: 15%;">
                                    <ion-col col-2 style="display: grid;">
                                        <img *ngIf="ganador.lugar <= 3" src="assets/imgs/eficiencia/{{ganador.lugar}}.svg" style="width: 28%;margin-left: 37%;height: 90%;" />
                                        <span *ngIf="ganador.lugar > 3 && ganador.lugar <= 10">{{ganador.lugar}}</span>
                                    </ion-col>
                                    <ion-col col-8 style="display: grid;">
                                        <span class="koomkin-empresa">{{ganador.Nombre | capitalize}}</span>
                                    </ion-col>
                                    <ion-col col-2 style="display: grid;">
                                        <img *ngIf="ganador.lugar == 1" src="assets/imgs/eficiencia/star.svg" style="width: 28%;margin-left: 37%;" />
                                    </ion-col>
                                    <hr style="background-color:rgba(112,112,112,0.3); width:94%;height: 1px;margin-top: 0;margin-bottom: 0; ">
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>

                </div>
                <div class="section4-ranking ">
                    <div class="wrapper-grafica ">
                        <div class="section1-grafica ">
                            <span class="titulo ">Leads en cierre de venta al mes por lugar en el ranking</span>
                        </div>
                        <div class="section2-grafica ">
                            <google-chart [data]="bar_ChartData"></google-chart>
                        </div>
                    </div>
                </div>
            </main>
        </ion-card-content>
    </ion-card>
    <ion-card style="height:150% !important; ">
        <ion-card-header class="encabezado ">
            <ion-grid>
                <ion-row>
                    <ion-col col-2>
                        <img src="assets/imgs/eficiencia/Shape.svg " style="width:60%;margin-left: 20%;margin-top: 4%; " />
                    </ion-col>
                    <ion-col col-10>
                        <h1 style="font-size: 5vw; ">
                            <strong>Comparativo por sector</strong>
                        </h1>
                        <h3 style="font-size: 3.8vw;color:#707070 ">Desempeño contra los mejores de tu industria</h3>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <hr style="background-color:rgba(112,112,112,0.3); width:94%;height: 2px;margin-top: 0;margin-bottom: 0; ">
        </ion-card-header>

        <ion-card-content>
            <main class="cuadros-sector ">
                <div class="wrapper-sector ">
                    <div class="section1-sector ">
                        <span class="titulo ">Empresa</span>
                    </div>
                    <div class="section2-sector ">
                        <span class="titulo ">TOP 10</span>
                    </div>
                    <div class="section3-sector ">
                        <ion-grid>
                            <ion-row>
                                <ion-col col-3 style="display: grid; " (click)="openModalFuncionalidadPrueba( 'tiempo', 'Tiempo de atención promedio por Lead',3) ">
                                    <img src="assets/imgs/eficiencia/tiempo.svg " style="width:60%;margin-left: 20%;display: inline-block " />
                                    <img src="assets/imgs/eficiencia/info.svg " style="width: 20%;display: inline-block;position: absolute;right: 0;top: 0; " />
                                    <p class="tema ">Tiempo de atención promedio por lead</p>
                                </ion-col>
                                <ion-col col-3 style="display: grid; ">
                                    <span class="tiempo ">{{empresa_tiempo}} min</span>
                                </ion-col>
                                <ion-col col-3 style="display: grid; ">
                                    <span class="tiempo ">{{empresas_tiempo}} min</span>
                                </ion-col>
                                <ion-col col-3 style="display: grid; ">
                                    <img *ngIf="empresa_tiempo == empresas_tiempo || empresa_tiempo == 'N/A'" src="assets/imgs/eficiencia/neutral.svg " style="width: 80%;margin-left: 10%; " />
                                    <img *ngIf="empresa_tiempo > empresas_tiempo" src="assets/imgs/eficiencia/feliz.svg " style="width: 80%;margin-left: 10%; " />
                                    <img *ngIf="empresa_tiempo < empresas_tiempo" src="assets/imgs/eficiencia/triste.svg " style="width: 80%;margin-left: 10%; " />
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <hr style="background-color:rgba(112,112,112,0.3); width:94%;height: 2px;margin-top: 0;margin-bottom: 0; ">
                    </div>
                    <div class="section4-sector ">
                        <ion-grid>
                            <ion-row>
                                <ion-col col-3 style="display: grid; " (click)="openModalFuncionalidadPrueba( 'atendidos', 'Leads atendidos (%)',4) ">
                                    <img src="assets/imgs/eficiencia/atendidos.svg " style="width:60%;margin-left: 20%;display: inline-block " />
                                    <img src="assets/imgs/eficiencia/info.svg " style="width: 20%;display: inline-block;position: absolute;right: 0;top: 0; " />
                                    <p class="tema ">Leads atendidos (%)</p>
                                </ion-col>
                                <ion-col col-3 style="display: grid; ">
                                    <span class="tiempo ">{{empresa_atendidos}}</span>
                                </ion-col>
                                <ion-col col-3 style="display: grid; ">
                                    <span class="tiempo ">{{empresas_atendidos}}</span>
                                </ion-col>
                                <ion-col col-3 style="display: grid; ">
                                    <img *ngIf="empresa_atendidos == empresas_atendidos || empresa_atendidos == 'N/A'" src="assets/imgs/eficiencia/neutral.svg " style="width: 80%;margin-left: 10%; " />
                                    <img *ngIf="empresa_atendidos > empresas_atendidos" src="assets/imgs/eficiencia/feliz.svg " style="width: 80%;margin-left: 10%; " />
                                    <img *ngIf="empresa_atendidos < empresas_atendidos" src="assets/imgs/eficiencia/triste.svg " style="width: 80%;margin-left: 10%; " /> </ion-col>
                            </ion-row>
                        </ion-grid>
                        <hr style="background-color:rgba(112,112,112,0.3); width:94%;height: 2px;margin-top: 0;margin-bottom: 0; ">
                    </div>
                    <div class="section5-sector ">
                        <ion-grid>
                            <ion-row>
                                <ion-col col-3 style="display: grid; " (click)="openModalFuncionalidadPrueba( 'koomkin', 'Respuesta a acciones de Koomkin (%)',5) ">
                                    <img src="assets/imgs/eficiencia/koomkin.svg " style="width:60%;margin-left: 20%;display: inline-block " />
                                    <img src="assets/imgs/eficiencia/info.svg " style="width: 20%;display: inline-block;position: absolute;right: 0;top: 0; " />
                                    <p class="tema ">Respuesta a acciones de Koomkin (%)</p>
                                </ion-col>
                                <ion-col col-3 style="display: grid; ">
                                    <span class="tiempo ">{{empresa_acciones}}</span>
                                </ion-col>
                                <ion-col col-3 style="display: grid; ">
                                    <span class="tiempo ">{{empresas_acciones}}</span>
                                </ion-col>
                                <ion-col col-3 style="display: grid; ">
                                    <img *ngIf="empresa_acciones == empresas_acciones || empresa_acciones == 'N/A'" src="assets/imgs/eficiencia/neutral.svg " style="width: 80%;margin-left: 10%; " />
                                    <img *ngIf="empresa_acciones > empresas_acciones" src="assets/imgs/eficiencia/feliz.svg " style="width: 80%;margin-left: 10%; " />
                                    <img *ngIf="empresa_acciones < empresas_acciones" src="assets/imgs/eficiencia/triste.svg " style="width: 80%;margin-left: 10%; " />
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <hr style="background-color:rgba(112,112,112,0.3); width:94%;height: 2px;margin-top: 0;margin-bottom: 0; ">
                    </div>
                    <div class="section6-sector ">
                        <ion-grid>
                            <ion-row>
                                <ion-col col-3 style="display: grid; " (click)="openModalFuncionalidadPrueba( 'negocios', 'Calificación de negociación',6) ">
                                    <img src="assets/imgs/eficiencia/negocios.svg " style="width:60%;margin-left: 20%;display: inline-block " />
                                    <img src="assets/imgs/eficiencia/info.svg " style="width: 20%;display: inline-block;position: absolute;right: 0;top: 0; " />
                                    <p class="tema ">Calificación de negociación</p>
                                </ion-col>
                                <ion-col col-3 style="display: grid; ">
                                    <span class="tiempo ">{{empresa_negociacion}}</span>
                                </ion-col>
                                <ion-col col-3 style="display: grid; ">
                                    <span class="tiempo ">{{empresas_negociacion}}</span>
                                </ion-col>
                                <ion-col col-3 style="display: grid; ">
                                    <img *ngIf="empresa_negociacion == 'Bajo'" src="assets/imgs/eficiencia/triste.svg " style="width: 80%;margin-left: 10%; " />
                                    <img *ngIf="empresa_negociacion == 'Alto'" src="assets/imgs/eficiencia/feliz.svg " style="width: 80%;margin-left: 10%; " />
                                    <img *ngIf="empresa_negociacion == 'N/A'" src="assets/imgs/eficiencia/neutral.svg " style="width: 80%;margin-left: 10%; " /> </ion-col>
                            </ion-row>
                        </ion-grid>
                        <hr style="background-color:rgba(112,112,112,0.3); width:94%;height: 2px;margin-top: 0;margin-bottom: 0; ">
                    </div>
                    <div class="section7-sector ">
                        <ion-grid>
                            <ion-row>
                                <ion-col col-3 style="display: grid; " (click)="openModalFuncionalidadPrueba( 'noexitosos', 'Intento de contacto con Leads no exitosos',7) ">
                                    <img src="assets/imgs/eficiencia/noexitosos.svg " style="width:60%;margin-left: 20%;display: inline-block " />
                                    <img src="assets/imgs/eficiencia/info.svg " style="width: 20%;display: inline-block;position: absolute;right: 0;top: 0; " />
                                    <p class="tema ">Intento de contacto con Leads no exitosos</p>
                                </ion-col>
                                <ion-col col-3 style="display: grid; ">
                                    <span class="tiempo ">{{empresa_contacto}} veces</span>
                                </ion-col>
                                <ion-col col-3 style="display: grid; ">
                                    <span class="tiempo ">{{empresas_contacto}} veces</span>
                                </ion-col>
                                <ion-col col-3 style="display: grid; ">
                                    <img *ngIf="empresa_contacto == empresas_contacto || empresa_contacto == 'N/A'" src="assets/imgs/eficiencia/neutral.svg " style="width: 80%;margin-left: 10%; " />
                                    <img *ngIf="empresa_contacto > empresas_contacto" src="assets/imgs/eficiencia/feliz.svg " style="width: 80%;margin-left: 10%; " />
                                    <img *ngIf="empresa_contacto < empresas_contacto" src="assets/imgs/eficiencia/triste.svg " style="width: 80%;margin-left: 10%; " /> </ion-col>
                            </ion-row>
                        </ion-grid>
                        <hr style="background-color:rgba(112,112,112,0.3); width:94%;height: 2px;margin-top: 0;margin-bottom: 0; ">
                    </div>
                    <div class="section8-sector ">
                        <ion-grid>
                            <ion-row>
                                <ion-col col-3 style="display: grid; " (click)="openModalFuncionalidadPrueba( 'key', 'Palabras clave en negociaciones',8) ">
                                    <img src="assets/imgs/eficiencia/key.svg " style="width:60%;margin-left: 20%;display: inline-block " />
                                    <img src="assets/imgs/eficiencia/info.svg " style="width: 20%;display: inline-block;position: absolute;right: 0;top: 0; " />
                                    <p class="tema ">Palabras clave en negociaciones</p>
                                </ion-col>
                                <ion-col col-3 style="display: grid; ">
                                    <ion-list class="tiempo " *ngFor="let empresa_palabras of palabrasempresa; let i = index; ">
                                        <span class="tiempo ">{{empresa_palabras.palabra}}</span>
                                    </ion-list>
                                </ion-col>
                                <ion-col col-3 style="display: grid; ">
                                    <ion-list class="tiempo " *ngFor="let empresas_palabras of palabrasempresas; let i = index; ">
                                        <span class="tiempo ">{{empresas_palabras.palabra}}</span>
                                    </ion-list>
                                </ion-col>
                                <ion-col col-3 style="display: grid; ">

                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </div>
            </main>
        </ion-card-content>
    </ion-card>
    <ion-card style="height:130%;">
        <ion-card-header class="encabezado ">
            <ion-grid>
                <ion-row>
                    <ion-col col-2>
                        <img src="assets/imgs/eficiencia/eficiency.svg " style="width:65%;margin-left: 20%;margin-top: 2%; " />
                    </ion-col>
                    <ion-col col-8>
                        <h1 style="font-size: 5vw; ">
                            <strong>Tendencia</strong>
                        </h1>
                        <h3 style="font-size: 3.8vw;color:#707070 ">Atención al cliente</h3>
                    </ion-col>
                    <ion-col col-2>
                        <img src="assets/imgs/eficiencia/info.svg " style="width:60%;margin-left: 20%;margin-top: 5%; " (click)="openModalFuncionalidadPrueba( 'tendencia', 'Tendencia',9) " />
                    </ion-col>
                </ion-row>
            </ion-grid>
            <hr style="background-color:rgba(112,112,112,0.3); width:94%;height: 2px;margin-top: 0;margin-bottom: 0; ">
        </ion-card-header>

        <ion-card-content>
            <main class="cuadros-tendencia">
                <div class="section1-tendencia">
                    <div class="wrapper-tiempo">
                        <div class="section1-tiempo">
                            <span class="titulo">Tiempo de atención</span>
                        </div>
                        <div class="section2-tiempo">
                            <div class="wrapper-leads">
                                <div class="section1-leads">
                                    <span class="naranja">Últimos 5 clientes en 30 días</span>
                                    <hr style="background-color:rgba(112,112,112,0.3); width:94%;height: 1px;margin-top: 0;margin-bottom: 0; ">
                                </div>
                                <div class="section2-leads">
                                    <img *ngIf="clientes > 0 && clientes2  > 0 && clientes < 120 && clientes2  < 120 " src="assets/imgs/eficiencia/feliz.svg " style="width: 80%;margin-left: 10%; " />
                                    <img *ngIf="clientes > 120 && clientes2  > 120 " src="assets/imgs/eficiencia/triste.svg " style="width: 80%;margin-left: 10%; " />
                                    <img *ngIf="clientes == 0 && clientes2 == 0 " src="assets/imgs/eficiencia/neutral.svg " style="width: 80%;margin-left: 10%; " />
                                </div>
                                <div class="section3-leads">
                                    <ion-list>
                                        <ion-item *ngIf="clientes < 120">
                                            <ion-range step="1" min="0" max="120" [(ngModel)]="clientes" color="barra" pin="true">
                                                <ion-label range-left>
                                                    < 1min </ion-label>
                                                        <ion-label range-right> > 120min </ion-label>
                                            </ion-range>
                                        </ion-item>
                                        <ion-item *ngIf="clientes > 120">
                                            <ion-range step="1" min="120" max="999" [(ngModel)]="clientes" color="danger" pin="true">
                                                <ion-label range-left>
                                                    < 120min </ion-label>
                                                        <ion-label range-right>
                                                            > 999min </ion-label>
                                            </ion-range>
                                        </ion-item>
                                    </ion-list>
                                </div>
                                <div class="section4-leads">
                                    <span class="naranja">Últimos 30 días</span>
                                    <hr style="background-color:rgba(112,112,112,0.3); width:94%;height: 1px;margin-top: 0;margin-bottom: 0; ">
                                </div>
                                <div class="section5-leads">
                                    <ion-list>
                                        <ion-item *ngIf="clientes2 < 120">
                                            <ion-range step="1" min="0" max="120" [(ngModel)]="clientes2" color="barra" pin="true">
                                                <ion-label range-left>
                                                    < 1min </ion-label>
                                                        <ion-label range-right> > 120min </ion-label>
                                            </ion-range>
                                        </ion-item>
                                        <ion-item *ngIf="clientes2 > 120">
                                            <ion-range step="1" min="120" max="999" [(ngModel)]="clientes2" color="danger" pin="true">
                                                <ion-label range-left>
                                                    < 120min </ion-label>
                                                        <ion-label range-right>
                                                            > 999min </ion-label>
                                            </ion-range>
                                        </ion-item>
                                    </ion-list>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section2-tendencia">
                    <div class="wrapper-atendidos">
                        <div class="section1-atendidos">
                            <span class="titulo">% Leads atendidos en menos de 2 horas</span>
                        </div>
                        <div class="section2-atendidos">
                            <div class="wrapper-leads">
                                <div class="section1-leads">
                                    <span class="naranja">Últimos 5 clientes potenciales recibidos</span>
                                    <hr style="background-color:rgba(112,112,112,0.3); width:94%;height: 1px;margin-top: 0;margin-bottom: 0; ">
                                </div>
                                <div class="section2-leads">
                                    <img *ngIf="fiveprogress > 70 && thirtyprogress > 70" src="assets/imgs/eficiencia/feliz.svg " style="width: 80%;margin-left: 10%; " />
                                    <img *ngIf="fiveprogress < 70 && thirtyprogress < 70" src="assets/imgs/eficiencia/triste.svg " style="width: 80%;margin-left: 10%; " />
                                </div>
                                <div class="section3-leads">
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col col-2 style="display: grid;">
                                                0%
                                            </ion-col>
                                            <ion-col col-8>
                                                <div class="progress-outer">
                                                    <div class="progress-inner" [style.width]="fiveprogress + '%'">
                                                        {{fiveprogress}}%
                                                    </div>
                                                </div>
                                            </ion-col>
                                            <ion-col col-2 style="display: grid;">
                                                100%
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </div>
                                <div class="section4-leads">
                                    <span class="naranja">Últimos 30 días</span>
                                    <hr style="background-color:rgba(112,112,112,0.3); width:94%;height: 1px;margin-top: 0;margin-bottom: 0; ">
                                </div>
                                <div class="section5-leads">
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col col-2 style="display: grid;">
                                                0%
                                            </ion-col>
                                            <ion-col col-8>
                                                <div class="progress-outer">
                                                    <div class="progress-inner" [style.width]="thirtyprogress + '%'">
                                                        {{thirtyprogress}}%
                                                    </div>
                                                </div>
                                            </ion-col>
                                            <ion-col col-2 style="display: grid;">
                                                100%
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </ion-card-content>
    </ion-card>
    <ion-card style="height: 70%">
        <ion-card-header class="encabezado ">
            <ion-grid>
                <ion-row>
                    <ion-col col-2>
                        <img src="assets/imgs/eficiencia/tips.svg " style="width:65%;margin-left: 20%;margin-top: 2%; " />
                    </ion-col>
                    <ion-col col-10>
                        <h1 style="font-size: 5vw; ">
                            <strong>Tips de venta</strong>
                        </h1>
                        <h3 style="font-size: 3.8vw;color:#707070 ">Consejos de los mejores vendedores</h3>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <hr style="background-color:rgba(112,112,112,0.3); width:94%;height: 2px;margin-top: 0;margin-bottom: 0; ">
        </ion-card-header>

        <ion-card-content>
            <main class="cuadros-tips">
                <div class="section1-tips">
                    <button type="button" class="collapsible" [ngClass]="{'expand':tip1 == false}" (click)="opentipventa('tip1')"> 
                        <ion-icon *ngIf="tip1 == false" class="flecha" name="md-arrow-dropright"></ion-icon>
                        <ion-icon *ngIf="tip1 == true" class="flecha" name="md-arrow-dropdown"></ion-icon>
                        Conoce el secreto para subir en el ranking de vendedores.</button>
                    <div *ngIf="tip1 == true" class="card card-block card-header" [ngClass]="{'expand':tip1 == true}">
                        <div class="tip">
                            <div class="text-tip">
                                El ranking de Koomkin toma en cuenta qué tan rápido atiendes a tus clientes potenciales y el esfuerzo que realizas para cerrar la venta. Atiende inmediatamente a los clientes que recibas y utiliza las herramientas de chat y call tracking para aumentar
                                tu posición.
                            </div>
                        </div>
                    </div>
                    <button type="button" class="collapsible" [ngClass]="{'expand':tip2 == false}" (click)="opentipventa('tip2')">
                            <ion-icon *ngIf="tip2 == false" class="flecha" name="md-arrow-dropright"></ion-icon>
                            <ion-icon *ngIf="tip2 == true" class="flecha" name="md-arrow-dropdown"></ion-icon>
                            Aumenta tus ventas al atender más rápido al cliente</button>
                    <div *ngIf="tip2 == true" class="card card-block card-header" [ngClass]="{'expand':tip2 == true}">
                        <div class="tip">
                            <div class="text-tip">
                                Hemos notado que si atiendes inmediatamente a tus clientes potenciales la probabilidad de que cierres la venta aumenta un 80%.
                            </div>
                        </div>
                    </div>
                    <button type="button" class="collapsible" [ngClass]="{'expand':tip3 == false}" (click)="opentipventa('tip3')">
                            <ion-icon *ngIf="tip3 == false" class="flecha" name="md-arrow-dropright"></ion-icon>
                            <ion-icon *ngIf="tip3 == true" class="flecha" name="md-arrow-dropdown"></ion-icon>
                            Deja una buena primera impresión personalizando tu mensaje de saludo automático. </button>
                    <div *ngIf="tip3 == true" class="card card-block card-header" [ngClass]="{'expand':tip3 == true}">
                        <div class="tip">
                            <div class="text-tip">
                                Inicia con el pie derecho las conversaciones con tus clientes potenciales personalizando tu mensaje de saludo automático del chat desde la sección de ajustes de tu reporte web o aplicación.
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </ion-card-content>
    </ion-card>