banner {
    
    .flex-col {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span {
        display: inline-block;
        vertical-align: middle;
        color: white;
        font-size: 5vw;
        font-weight: 700;
        margin-top: 1% !important;
        text-align: left;
    }

    .row {
        margin-bottom: 1%;
        height: 100%;
        display: flex;
        vertical-align: middle;
        justify-content: center;
        text-align: left;
    }

    img {
        vertical-align: middle;
        max-height: 45px;
        max-width: 160px;
    }

    .anuncio {
        height: 70px;
        background: #288AC1;
        vertical-align: middle;
        margin-bottom: 15%;
        align-items: center;
    }

    .anuncio-mensaje {
        position: absolute;
        height: 90px;
        background: #F5F5F5;
        vertical-align: middle;
        margin-bottom: 0%;
        align-items: center;
        width: 85%;
        margin-left: 10%;
        top: 4.5%;
        border-radius: 10px;
       // box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.33);
        box-shadow: 0 0 40px #FE703F;
        border: 2px solid #FE703F !important;
    }

    .anuncio-upgrade {
        position: absolute;
        height: 90px;
        background: url("../assets/imgs/banner/img_upgradeclick.svg");
        vertical-align: middle;
        margin-bottom: 0%;
        align-items: center;
        width: 85%;
        margin-left: 10%;
        top: 4.5%;
        border-radius: 10px;
       // box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.33);
        box-shadow: 0 0 40px #FE703F;
        border: 2px solid #FE703F !important;
    }

    .anuncio-img {
        width: 20%;
        position: absolute;
        top: 15%;
        left: -10%;
        max-height: 60px;
    }

    .anuncio-grid {
        height: 100%;
        padding: 0px !important;
        margin-left: 10%;
        width: 90%;
        border-radius: 10px;
    }

    .anuncio-titulo {
        color: #FE703F;
        font-size: 4.3vw;
    }

    .anuncio-titulo-upgrade {
        color: white;
        font-size: 4.5vw;
    }

    .anuncio-contenido {
        color: #707070;
        font-size: 3.75vw;
    }

    .anuncio-contenido-upgrade  {
        color: white;
        font-size: 4vw;
        font-weight: 500;
    }

    .aceptar-upgrade {
        color: white;
        background: #FE703F;
        font-size: 4vw;
        padding: 4px 6px;
        margin-left: 5%;
        margin-top: 2%;
        font-weight: 400;
        border-radius: 5px;
    }
}