page-configuracion-crm {
  .banner {
    position: relative;
    text-align: center;
    color: white;
    z-index: 1;
    .titulo {
      width: 100%;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      font-weight: bold;
      z-index: 100;
    }

    .subtitulo {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 14px;
      font-weight: bold;
    }
  }

  .card-md {
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 10px 10px 0px 0px;
    width: 96%;
    background: white;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .tarjeta {
    .encabezado-horario {
      color: white;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
    }
    .primero {
        background: #0EA7C2;
      }
      .segundo {
        background: #005999;
      }
      .tercero {
        background: #2AB4BC;
      }
    .encabezado-texto-grande {
      color: white;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
    }

    .encabezado-texto {
      color: white;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .texto {
    text-align: right;
    font-weight: bold;
    color: #243E56;
  }

  .chico {
    font-size: 10px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }

  .opciones {
    display: flex;
    text-align: left;
    color: #606060;
    font-size: 12px;
  }

  .texto-center {
    text-align: center;
    margin: 2% 0%;
    color: #288ac1;
    font-weight: bold !important;
  }

  .flechas {
    text-align: center;
    color: #288ac1;
    font-size: 16px;
    font-weight: bold !important;
  }

  .cuadro {
    text-align: center;
    height: auto;
  }
  .cuadro1 {
    text-align: right;
    width: 100%;
    height: auto;
    margin-top: 20%;
  }
  .cancelar {
    color: gray;
    text-decoration: underline;
    background: transparent;
  }
  .contacto {
    text-align: center !important;
    color: #288ac1;
    font-size: 5.5vw;
    margin-bottom: 4%;
    font-weight: bold !important;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  td {
    width: 45%;
    padding-bottom: 5.8%;
    font-size: 4vw;
  }
  tr {
    padding: 5px;
  }
  th {
    text-align: left !important;
    font-weight: normal !important;
    padding-bottom: 4%;
    padding-top: 1%;
    margin-left: 0% !important;
  }
  .edit {
    background: #00b9be;
    border: transparent;
    font-size: 4.5vw;
    text-align: center;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    padding: 3%;
    width: 45%;
    box-shadow: 8px 8px 10px -6px rgba(0, 0, 0, 0.9);
  }
  .enviar-mail {
    width: 100%;
    padding: 5%;
    background: #fe703f;
    border: transparent;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 8px 8px 10px -6px rgba(0, 0, 0, 0.9);
  }
  .campos {
    font-size: 4.5vw;
    color: #606060;
    font-weight: 700;
  }
  .datos {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #606060;
    font-weight: 350;
    background: transparent;
  }
  .msg {
    width: 99%;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 3px 5px;
    box-shadow: none;
    cursor: pointer;
    text-align: justify;
  }
  .maximo {
    font-size: 4vw;
    color: #c4c4c4;
    font-weight: 500;
  }
  .saludos {
    text-align: justify !important;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    font-size: 4vw;
    color: #606060;
    font-weight: 350;
    padding: 2%;
  }
  .subir {
    width: 90%;
    height: 100%;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
  }
  .subirarchivo {
    width: 50%;
    background: #00b9be;
    border: transparent;
    font-size: 12px;
    text-align: center;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    padding: 3%;
    height: auto;
    text-transform: capitalize;
  }
  input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 0;
    width: 90%;
    margin-left: 5%;
    cursor: pointer;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #606060;
    padding-left: 2%;
  }
  ion-select {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 0;
    width: 96%;
    margin-left: 2%;
    padding: 0px 8px !important;
    cursor: pointer;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #606060;
  }
  textarea {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 0;
    width: 90%;
    margin-left: 5%;
    cursor: pointer;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #606060;
    padding-left: 2%;
  }
  .content-md hr {
    background-color: rgba(0, 0, 0, .3);
    width: 90%;
  }
}
